main {
  & .split-action {
    position: relative;
    transition: opacity 0.2s;
    z-index: 10;
    &.hidden {
      display: none;
    }
    &.transparent {
      opacity: 0;
    }
    & .block-body {
      position: fixed;
      bottom: 0;
      left: 0;
      text-align: left;
      color: var(--color-white);
      margin: 10px;
      padding: 24px;
      border-radius: 24px;
      z-index: 1;
      background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
      background-size: 400% 400%;
      -webkit-animation: buttonGradient 45s ease infinite;
      -moz-animation: buttonGradient 45s ease infinite;
      animation: buttonGradient 45s ease infinite;
      transition: bottom 0.2s;
      & > div {
        padding: 12px 0;
        &:nth-of-type(1) {
          & h2 {
            text-align: left;
          }
        }
        &:nth-of-type(2) {
          padding-right: 32px;
        }
      }
      & > .buttons-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        & > a {
          &.button {
            font-size: 16px;
            line-height: 20px;
            padding: 14px 23px;
            border-radius: 100px;
            background-color: var(--color-white);
            color: var(--color-info-accent);
            border: none;
            margin: 8px 8px 0 0;
            &:last-of-type {
              margin: 8px 0 0 0;
            }
            &:first-of-type {
              padding: 14px 11px;
              display: unset;
              background-color: transparent;
              color: var(--color-white);
            }
          }
        }
      }
    }
    & .block-background {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--color-white);
      & .underlay {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--color-black);
        opacity: 50%;
      }
      & img {
        width: 100%;
        object-fit: cover;
      }
    }
    & .icon {
      min-width: 175px;
      min-height: 32px;
    }
    & .notch {
      position: absolute;
      padding: 6px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    & .notch-pill {
      border-radius: 20px;
      height: 4px;
      width: 36px;
      background: var(--color-gray-200);
      opacity: 30%;
    }
  }
}