body {
  &.no-desktop-brand-header {
    & header {
      background-image: url(/express/code/icons/cc-express-logo.svg);
      height: auto;
    }
  }
}

.section {
  & .marquee-wrapper {
    position: relative;
    max-width: unset;
    padding: 0;
  }
}

.ax-marquee {
  text-align: left;
  padding: 0;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  & .content-wrapper {
    text-align: center;
    & picture {
      & img {
        width: auto;
        max-height: 30px;
      }
    }
    & h1 {
      font-size: clamp(var(--heading-font-size-l), 4vw, var(--heading-font-size-xxl));
      margin: 0 0 var(--spacing-100) 0;
    }
    & h2 {
      font-size: clamp(var(--heading-font-size-s), 3vw, var(--heading-font-size-l));
      margin: 0 0 var(--spacing-100) 0;
    }
    & p {
      font-size: var(--body-font-size-m);
      margin: var(--spacing-300) 0;
    }
    & .button-container {
      &.free-plan-container {
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
      }
    }
  }
  &.light-primary-cta {
    & a {
      &.button {
        &.primaryCTA {
          background: var(--color-white);
          color: var(--color-black);
          border-color: transparent;
          &:hover {
            border-color: transparent;
            background-color: var(--palette-gray-200);
          }
        }
      }
    }
  }
  &.appear {
    opacity: 1;
    height: unset;
  }
  & p {
    &:first-child {
      margin-bottom: var(--spacing-100);
    }
    & > a {
      color: var(--color-black);
      text-decoration: underline;
    }
    &.button-container {
      text-align: left;
      margin: var(--spacing-300) 0;
      & a {
        &.secondary {
          border-color: var(--color-black);
          background-color: var(--color-white);
        }
        &.button {
          &:any-link {
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            white-space: nowrap;
            max-height: none;
          }
        }
        &.video-link {
          &::before {
            display: inline-block;
            width: 18px;
            height: 20px;
            margin-right: 10px;
            vertical-align: sub;
            top: 1px;
            position: relative;
            content: url(/express/code/icons/play.svg);
          }
        }
      }
    }
    &.underline {
      & a {
        font-weight: normal;
        text-decoration: underline;
      }
    }
  }
  & .marquee-foreground {
    padding: var(--heading-font-size-xl) var(--spacing-350);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    & > p {
      &:first-child {
        & img {
          height: var(--spacing-500);
          width: unset;
        }
      }
    }
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
    & .buttons-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    & .with-inline-ctas {
      &.buttons-wrapper {
        align-items: center;
        gap: var(--spacing-100);
        & a {
          &.button {
            &.accent {
              margin: 0;
            }
          }
        }
      }
    }
    & .content-wrapper {
      & .button-container {
        & .cta-sub-text {
          margin: 0;
        }
      }
    }
  }
  &.narrow {
    & .marquee-foreground {
      max-width: 1200px;
    }
  }
  & .express-logo {
    width: unset;
    height: 30px;
    &.eyebrow-margin {
      margin-bottom: var(--spacing-300);
    }
  }
  &.entitled {
    & .content-wrapper {
      & .eyebrow-wrapper {
        display: flex;
        align-items: center;
        gap: var(--spacing-100);
        margin: auto;
        max-width: max-content;
        & h3 {
          font-size: var(--body-font-size-l);
          font-weight: var(--body-font-weight);
          text-align: left;
        }
        & img {
          &.icon {
            width: var(--spacing-500);
            height: var(--spacing-500);
          }
        }
      }
      & .buttons-wrapper {
        &.with-legal-copy {
          align-items: center;
          & .entitled-cta-tag {
            font-size: var(--body-font-size-m);
            align-items: center;
            display: flex;
            text-align: left;
            & .icon {
              margin-right: var(--spacing-100);
              display: block;
            }
          }
        }
      }
    }
  }
  &.legal {
    & p {
      & > a {
        color: var(--color-background-accent-default);
        text-decoration: none;
        &:is(:hover, :focus) {
          color: var(--color-background-accent-hover);
          text-decoration: none;
        }
      }
    }
  }
  & .marquee-background {
    box-sizing: border-box;
  }
  & .background-wrapper {
    position: relative;
  }
  & video {
    &.marquee-background {
      z-index: -1;
      object-fit: cover;
      width: 100%;
      min-height: 200px;
      max-height: 500px;
      object-position: center;
    }
  }
  &.white-text {
    color: var(--color-white);
    & a {
      &:any-link {
        color: var(--color-white);
      }
    }
  }
  & .hero-shadow {
    display: none;
    & picture {
      display: flex;
    }
  }
  & .button-container {
    &.button-inline {
      display: inline-block;
      width: 100%;
      margin: 0;
      &.free-plan-container {
        & .free-plan-widget {
          color: var(--body-color);
          background: unset;
          margin: 0;
          background-color: transparent;
          white-space: unset;
        }
        & + .button-container {
          &.button-inline {
            & > a {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  &.dark {
    & p {
      &.button-container {
        & a {
          &.primaryCTA {
            &::before {
              filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(172deg) brightness(110%) contrast(101%);
            }
          }
        }
      }
    }
  }
  & .reduce-motion-wrapper {
    z-index: 7;
    position: absolute;
    white-space: nowrap;
    right: var(--spacing-300);
    bottom: var(--spacing-300);
    height: var(--spacing-400);
    cursor: pointer;
    display: flex;
    gap: var(--spacing-100);
    & span {
      display: none;
      opacity: 0;
      animation: fadeIn 0.3s;
      pointer-events: none;
    }
    & .icon {
      height: 100%;
      width: 100%;
      &:nth-of-type(2) {
        display: inline-block;
      }
      &:nth-of-type(1) {
        display: none;
      }
    }
  }
  &.reduce-motion {
    & .reduce-motion-wrapper {
      & .icon {
        &:nth-of-type(1) {
          display: inline-block;
        }
        &:nth-of-type(2) {
          display: none;
        }
      }
      &:hover {
        & span {
          &.play-animation-text {
            opacity: 1;
            visibility: visible;
            display: block;
          }
        }
      }
      &:focus-visible {
        & span {
          &.play-animation-text {
            opacity: 1;
            visibility: visible;
            display: block;
            margin-left: 5px;
          }
        }
      }
    }
  }
  &:not(.reduce-motion) {
    & .reduce-motion-wrapper {
      &:hover {
        & span {
          &.pause-animation-text {
            opacity: 1;
            visibility: visible;
            display: block;
          }
        }
      }
      &:focus-visible {
        & span {
          &.pause-animation-text {
            opacity: 1;
            visibility: visible;
            display: block;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: block;
  }
}

@media (min-width: 600px) {
  .ax-marquee {
    & .marquee-foreground {
      & .content-wrapper {
        display: block;
      }
      & > :first-child {
        margin-top: 0;
      }
      & > :last-child {
        margin-bottom: 0;
      }
    }
    &.short {
      & h1 {
        font-size: var(--heading-font-size-l);
      }
      & h2 {
        font-size: var(--heading-font-size-s);
      }
      & p {
        font-size: var(--body-font-size-m);
        position: relative;
        margin: var(--spacing-200) 0;
      }
      & .marquee-foreground {
        & > p {
          &:first-child {
            & img {
              &.icon {
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .ax-marquee {
    & .content-wrapper {
      text-align: left;
      & h2 {
        text-align: left;
      }
      & .button-container {
        &.free-plan-container {
          flex-direction: row;
          align-items: center;
        }
      }
    }
    &.entitled {
      & .content-wrapper {
        & .eyebrow-wrapper {
          margin: unset;
        }
      }
    }
    & .background-wrapper {
      position: unset;
    }
    & .marquee-background {
      position: absolute;
      height: 100%;
      max-height: unset;
    }
    & video {
      &.marquee-background {
        position: absolute;
        height: 100%;
        max-height: unset;
      }
    }
    &.short {
      & video {
        &.marquee-background {
          position: absolute;
          top: 0;
          left: 0;
          bottom: auto;
          right: auto;
          height: 100%;
          width: 100%;
          z-index: unset;
          object-fit: cover;
          max-height: unset;
          min-height: 250px;
          object-position: center;
        }
      }
      & .marquee-foreground {
        box-sizing: border-box;
        padding: var(--spacing-500) var(--spacing-350);
        min-height: 250px;
      }
      & .button-container {
        &.free-plan-container {
          flex-direction: row;
          align-items: center;
          & a {
            &.button {
              margin-right: var(--spacing-400);
            }
          }
          &.stacked {
            flex-direction: column;
            align-items: flex-start;
            & .free-plan-widget {
              padding-left: 0;
            }
          }
          & .free-plan-widget {
            margin-top: 0;
            padding: var(--spacing-300) var(--spacing-400);
          }
        }
      }
    }
    & .button-container {
      &.button-inline {
        width: auto;
        margin-right: var(--spacing-300);
        margin-top: var(--spacing-300);
        &.free-plan-container {
          & .free-plan-widget {
            text-align: left;
          }
        }
      }
    }
    & p {
      &.button-container {
        & a {
          &.button {
            &:any-link {
              width: auto;
              box-sizing: initial;
              flex: none;
            }
          }
          &.secondary {
            background: transparent;
            border-color: var(--color-black);
            &:hover {
              background: rgba(255, 255, 255, 0.1);
              border-color: var(--color-black);
            }
            &:active {
              background: rgba(255, 255, 255, 0.1);
              border-color: var(--color-black);
            }
            &::before {
              filter: sepia(0%) saturate(1%) hue-rotate(172deg) brightness(110%) contrast(101%);
            }
          }
        }
      }
    }
    &.dark {
      color: var(--color-white);
      & a {
        &:any-link {
          color: var(--color-white);
        }
      }
      & p {
        &.button-container {
          & a {
            &.secondary {
              border-color: var(--color-white);
              &:hover {
                background: rgba(255, 255, 255, 0.1);
                border-color: var(--color-white);
              }
              &:active {
                background: rgba(255, 255, 255, 0.1);
                border-color: var(--color-white);
              }
              &::before {
                filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(172deg) brightness(110%) contrast(101%);
              }
            }
          }
        }
      }
      & .button-container {
        &.button-inline {
          &.free-plan-container {
            & .free-plan-widget {
              color: var(--color-white);
            }
          }
        }
      }
    }
    & .marquee-foreground {
      min-height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & .content-wrapper {
        max-width: 46%;
      }
      & .buttons-wrapper {
        flex-direction: row;
      }
      & .with-inline-ctas {
        &.buttons-wrapper {
          margin-top: var(--spacing-400);
          gap: var(--spacing-400);
        }
      }
    }
    &.narrow {
      & .marquee-foreground {
        & .content-wrapper {
          max-width: 60%;
          & > p {
            max-width: 80%;
          }
        }
      }
    }
    & .hero-shadow {
      display: flex;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-15%);
      z-index: 2;
    }
  }
}

@media (min-width: 1200px) {
  .ax-marquee {
    & .marquee-foreground {
      min-height: 400px;
      padding: 56px var(--spacing-350);
    }
  }
}

@media (min-width: 1400px) {
  .ax-marquee {
    & .marquee-foreground {
      & > p {
        &:first-child {
          & img {
            &.icon {
              &.icon-adobe-express {
                height: 65px;
              }
            }
          }
        }
      }
    }
    & p {
      font-size: var(--body-font-size-l);
    }
  }
}

@media (min-width: 1450px) {
  .ax-marquee {
    & .hero-shadow {
      transform: translate(-15%, -2px);
    }
  }
}

:lang(ja) {
  & .ax-marquee {
    & h1 {
      font-size: var(--heading-font-size-l);
      &.heading-long {
        font-size: var(--heading-font-size-l);
      }
      &.heading-very-long {
        font-size: var(--heading-font-size-m);
      }
      &.heading-x-long {
        font-size: var(--heading-font-size-m);
      }
    }
  }
}