/* QR Code Loader Styles */
.qr-code-loader {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #8080804a;
}

.qr-code-loader svg {
  width: 44px;
  height: 44px;
  animation: rotate-loader 1s linear infinite;
}

.qr-code-loader.hidden {
  display: none;
}

.dropzone-container.hidden {
  display: none;
}

.qr-code-container.hidden {
  display: none;
}

.qr-code-dropzone {
  display: flex;
}

.qr-code-dropzone-content {
  display: flex;
}

.tooltip-text.hidden {
  display: none;
}

.easy-upload-tooltip-trigger {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.easy-upload-error-message {
  display: none;
}

/* Disabled Confirm Import Button */
.confirm-import-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #d3d3d3;
  color: #888;
}

@keyframes rotate-loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

