body main .section:has(.wayfinder) {
  margin: 0 auto;
}


.wayfinder {
    border: 2px solid var(--color-black);
    border-radius: 20px;
    padding: var(--spacing-300) 0 var(--spacing-300) 0;
    margin-left: var(--spacing-350);
    margin-right: var(--spacing-350);
    margin-top: 60px;
    text-align: center;
    max-width: 1328px;
}

.wayfinder.no-margin-top {
  margin-top: 0;
}

main .wayfinder h1, main .wayfinder h2, main .wayfinder h3, main .wayfinder h4, main .wayfinder h5, main .wayfinder h6 {
  font-family: "Adobe Clean";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
  margin: var(--spacing-300) 0 var(--spacing-50) 0;
}

.wayfinder.narrow {
    width: 850px;
}

.wayfinder.borderless {
    border: none;
}

.wayfinder.dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

.wayfinder.light {
    border: 2px solid var(--color-info-accent);
}

.wayfinder a, .wayfinder.light a, .wayfinder.dark a, .wayfinder.gradient a {
    color: inherit;
    text-decoration: underline;
}

.wayfinder.gradient {
    color: var(--color-black);
    border: 2px solid var(--color-white);
}

.wayfinder .cta-row .button {
    height: fit-content;
    margin: var(--spacing-100);
    background-color: var(--color-black);
    border-color: var(--color-black);
}

.wayfinder.dark .cta-row .button {
    color: var(--color-white);
    border-color: var(--color-white);
}
.wayfinder .text-row > div {
  padding: var(--spacing-200);
}

.wayfinder .text-row p {
    margin: auto;
    font-size: 16px;
}

.wayfinder .cta-row strong .button {
    background-color: var(--color-info-accent);
    color: var(--color-white);
    border: none;
    padding-bottom: var(--spacing-100);
    padding-top: var(--spacing-100);
}

.wayfinder .cta-row em .button {
    background-color: transparent;
    color: var(--color-black);
}
.wayfinder .cta-row em .button:hover {
  color: var(--color-white);
}

.wayfinder .cta-row em strong .button {
    background-color: none;
    border: none;
    text-underline-offset: 5px;
    margin-left: var(--spacing-0);
    margin-right: var(--spacing-0);
    text-decoration: underline;
    padding-left: var(--spacing-100);
    padding-right: var(--spacing-100);
    margin-top: 11px;
}

.wayfinder .cta-row {
    overflow-x: scroll;

}

.wayfinder .cta-row::-webkit-scrollbar {
    display: none;
}

.wayfinder .cta-row > div {
    display: flex;
    width: max-content;
    margin: auto;
}

@media (min-width: 768px) {

  main .wayfinder h1, main .wayfinder h2, main .wayfinder h3, main .wayfinder h4, main .wayfinder h5, main .wayfinder h6 {
    font-family: "Adobe Clean";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    margin: var(--spacing-300) 0;
  }

    .wayfinder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .wayfinder .text-row {
        margin: initial;
        font-size: 16px;
    }

    .wayfinder .text-row div {
      display: flex;
        gap: var(--spacing-100);
    }

    .wayfinder .cta-row {
        display: flex;
        position: relative;
        top: var(--spacing-50);
        margin-left: 10px;
        overflow-x: scroll;
    }
}

@media (min-width: 1200px) {
  .section:has(.wayfinder) {
    max-width: 1328px;
    margin: auto;
  }

    .wayfinder {
        flex-direction: row;
    }

    .wayfinder div {
        display: flex;
        width: fit-content;
        flex: none;
    }
}
