@import url('../../scripts/widgets/frictionless-locale-dropdown.css');

.frictionless-quick-action-mobile {
  --animation-h: 260px;
  --quick-action-container-h: 667px;
  & .headline {
    padding-bottom: 12px;
  }
  & h1 {
    font-size: 2rem;
    text-align: left;
    line-height: 1.3;
    color: #242424;
    &.post-upload {
      font-size: var(--heading-font-size-m);
    }
  }
  & .subheading {
    margin: var(--spacing-100) 0;
    font-size: var(--body-font-size-m);
    &.hide {
      display: none;
    }
  }
  & .express-logo {
    width: initial;
    height: 30px;
    padding-bottom: 8px;
    &.hide {
      display: none;
    }
  }
  & input {
    display: none;
  }
  & .quick-action-container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    transition: opacity 0.2s;
    height: var(--quick-action-container-h);
    & > * {
      height: 100%;
    }
    &#resize-image-container {
      height: 1160px;
    }
    &#convert-to-gif-container {
      height: 817px;
    }
    &#crop-video-container {
      height: 741px;
    }
    &#crop-image-container {
      height: 875px;
    }
    &#trim-video-container {
      height: 762px;
    }
    &#resize-video-container {
      height: 913px;
    }
    &#convert-to-mp4-container {
      height: 580px;
    }
    &#caption-video-container {
      height: 822px;
    }
  }
  & video {
    max-width: 444px;
  }
  & img {
    &:not(.icon) {
      max-width: 444px;
    }
  }
  & .dropzone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  & .animation-container {
    width: 100%;
    height: var(--animation-h);
    & video {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    & img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    &.hide {
      display: none;
    }
  }
  & .dropzone {
    font-family: var(--body-font-family);
    width: 100%;
    height: var(--animation-h);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #f8f8f8;
    border: 0;
    padding: 0;
    & .border-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 34px);
      height: calc(100% - 34px);
      border-radius: 10px;
      border-image: url("/express/code/icons/dash-rectangle.svg") 20 / 20px;
    }
    & .text {
      font-size: 1.75rem;
      width: 200px;
      font-style: normal;
      display: flex;
      flex-direction: column;
      font-weight: 900;
      line-height: 1.1;
      color: var(--color-black);
      & strong {
        color: #5C5CE0;
        font-weight: 900;
      }
    }
    &.hide {
      display: none;
    }
    & p {
      &:last-of-type {
        font-size: .6875rem;
        margin: 0;
      }
    }
    & .button {
      margin-bottom: 0;
    }
  }
  & .dropzone-bg {
    & + p {
      margin: 0;
      padding: 39px 24px 0 24px;
      font-size: var(--heading-font-size-m);
      font-weight: var(--heading-font-weight);
      line-height: var(--heading-line-height);
      & em {
        font-style: normal;
        color: var(--color-info-accent);
      }
    }
  }
  & .video-container {
    position: relative;
    height: 100%;
  }
  & .extra-container {
    padding-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & p {
      font-size: var(--body-font-size-xs);
      text-align: center;
      margin: 0;
    }
  }
  & .free-plan-container {
    min-height: 15px;
  }
  & .free-plan-widget {
    background-color: unset;
    flex-direction: row;
    padding: unset;
    margin: auto;
    gap: 8px;
    font-size: var(--body-font-size-xs);
    & > div {
      margin: 10px;
    }
    & img {
      &.icon {
        &.icon-checkmark {
          background-color: #f06dad;
        }
      }
    }
  }
  & > div {
    &.hidden {
      visibility: hidden;
      position: absolute;
    }
    &.transparent {
      opacity: 0;
    }
  }
  & .error-toast {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1s;
    z-index: 10;
    margin: 0 auto;
    color: white;
    background-color: #d31510;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--body-font-size-s);
    width: fit-content;
    border-radius: 50px;
    &.hide {
      opacity: 0;
    }
    & button {
      background-color: unset;
      border: unset;
      padding: unset;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  &[data-frictionlesstype="caption-video"] {
    & .locale-dropdown-wrapper {
      width: 100%;
      align-items: center;
      margin-block-end: var(--spacing-400);
      & #locale-select-label {
        margin: 0;
        font-size: var(--body-font-size-m);
      }
    }
    & .animation-container {
      padding-block: var(--spacing-700);
    }
  }
}

.section {
  & .frictionless-quick-action-mobile {
    padding: 24px 16px 0px 16px;
    margin: auto;
    max-width: none;
    text-align: left;
  }
}
