.template-promo-carousel {
  --template-expand-top-len: var(--spacing-100);
  --template-expand-bot-len: 54px;
  --template-purple: #5258e4;
  --white-background: #e1e1e1;
  margin: auto;
  padding-bottom: var(--template-expand-bot-len);
  width: var(--ax-grid-12-col-width);
  display: flex;
  flex-direction: column;
  & .heading-row {
    padding-bottom: var(--spacing-500);
  }
  & .heading {
    padding-bottom: var(--spacing-100);
    line-height: 1.3;
    font-size: var(--body-font-size-xl);
    font-weight: 900;
  }
  & .subcopy {
    margin: 0;
    line-height: 1.3;
    font-size: var(--body-font-size-m);
  }
  & .gallery {
    margin: calc(-1 * var(--template-expand-top-len)) 0 calc(-1 * var(--template-expand-bot-len));
    padding-top: var(--template-expand-top-len);
    padding-bottom: var(--template-expand-bot-len);
    align-items: center;
    gap: var(--ax-grid-gutter);
  }
  & .gallery-control {
    padding-top: var(--spacing-400);
    padding-right: 27.5px;
  }
  & .template {
    position: relative;
    flex: 0 0 auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    text-decoration: unset;
    width: var(--ax-grid-8-col-width);
    & p {
      margin: 0;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-info-accent);
    }
    & .button-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% + var(--ax-grid-gutter)));
      padding: var(--spacing-100);
      border-radius: 20px;
      width: 100%;
      max-width: 90vw;
      min-height: 100%;
      display: flex;
      flex-direction: column-reverse;
      background-color: var(--color-white);
      box-shadow: 0 0 6px #00000029;
      opacity: 0;
      text-align: center;
      transition: opacity .3s ease-in-out;
      will-change: opacity;
      pointer-events: none;
      &:focus-within {
        visibility: visible;
        opacity: 1;
      }
      & a {
        &.button {
          display: block;
          margin: 6px auto 0;
          box-sizing: border-box;
          width: max-content;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &.cta-link {
          display: block;
          width: 100%;
          white-space: nowrap;
          font-weight: var(--body-font-weight);
          pointer-events: auto;
          cursor: pointer;
        }
      }
    }
    & > div {
      &:first-child {
        & > a {
          &:any-link {
            padding-left: 0;
          }
        }
      }
    }
    & img {
      border-radius: 16px;
      &:not(.icon) {
        display: block;
        max-height: 400px;
        width: 100%;
        pointer-events: none;
        object-fit: cover;
      }
    }
    & video {
      border-radius: 16px;
      display: block;
      max-height: 400px;
      width: 100%;
      pointer-events: none;
      object-fit: cover;
    }
    & .media-wrapper {
      position: relative;
      height: auto;
      & img {
        &.hidden {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          height: 100%;
          width: 100%;
          opacity: 0;
        }
      }
      & video {
        clip-path: inset(0 0 3px 0);
        &.hidden {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          height: 100%;
          width: 100%;
          opacity: 0;
        }
      }
    }
    &:hover {
      & .button-container {
        z-index: 1;
        opacity: 1;
        pointer-events: initial;
      }
    }
    & .icon-share-arrow {
      padding: 4px;
      width: 12px;
      height: 12px;
      overflow: visible;
      cursor: pointer;
      pointer-events: auto;
      background-color: var(--color-white);
    }
    & .share-icon-wrapper {
      position: absolute;
      top: var(--spacing-300);
      right: var(--spacing-300);
      border-radius: 50%;
      height: 20px;
      opacity: 1;
    }
    & .shared-tooltip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + var(--spacing-200));
      border-radius: 6px;
      padding: 6px;
      width: 130px;
      visibility: hidden;
      display: flex;
      align-items: center;
      gap: 4px;
      text-align: center;
      font-size: var(--body-font-size-s);
      background-color: var(--background-positive-default);
      color: white;
      & .icon-checkmark-green {
        border-radius: 30px;
        padding: 2px;
        width: 10px;
        height: 10px;
        background-color: var(--color-white);
      }
      &.display-tooltip {
        visibility: visible;
      }
      &.flipped {
        left: unset;
        right: calc(100% + var(--spacing-200));
        &::after {
          right: unset;
          left: 100%;
          transform: rotate(180deg);
        }
      }
      &::after {
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent var(--background-positive-default) transparent transparent;
        content: " ";
      }
    }
    &:nth-last-of-type(2) {
      & .shared-tooltip {
        left: unset;
        right: calc(100% + 12px);
        &::after {
          right: unset;
          left: 100%;
          border-color: transparent transparent transparent var(--background-positive-default);
        }
      }
    }
    & .still-wrapper {
      & .free-tag {
        color: var(--Neutral-50, #FFF);
        text-align: center;
        font-family: var(--body-font-family);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        display: flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 8px;
        flex-wrap: wrap;
        position: absolute;
        right: 16.25px;
        top: 16px;
        border-radius: 50px;
        background: rgba(36, 36, 36, 0.70);
      }
      & .icon-premium {
        position: absolute;
        bottom: var(--spacing-100);
        right: var(--spacing-100);
        width: 30px;
        height: 30px;
      }
      & .media-type-icon {
        position: absolute;
        bottom: var(--spacing-100);
        left: var(--spacing-100);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 5px #00000033;
        background-color: white;
      }
    }
  }
  & .sr-only {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
}
@media (max-width: 599px) {
  .template-promo-carousel {
    & .templates-container {
      & .template {
        & img {
          &:not(.icon) {
            max-height: 400px;
          }
        }
        & video {
          max-height: 400px;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .template-promo-carousel {
    width: var(--ax-grid-7-col-width);
    & .heading {
      font-size: var(--heading-font-size-s);
    }
    & .template {
      width: initial;
      flex: 1 1 0;
    }
    & .templates-container {
      &:has(:nth-child(3):last-child) {
        & .template {
          & img {
            &:not(.icon) {
              max-height: 360px;
            }
          }
          & video {
            max-height: 360px;
          }
        }
      }
      &:has(:nth-child(4):last-child) {
        & .template {
          & img {
            &:not(.icon) {
              max-height: 240px;
            }
          }
          & video {
            max-height: 240px;
          }
        }
      }
    }
  }
}