.link-blade {
  padding: var(--spacing-600) var(--spacing-300);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  max-width: 767px;
  --Alias-content-typography-Heading: #131313;
  --Palette-gray-200: #e1e1e1;
  --Palette-transparent-black-300: rgba(0, 0, 0, 0.15);
}

.link-blade .link-blade-header {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--Alias-content-typography-Heading);
  text-align: center;
  padding: 0 var(--spacing-300);
}

.link-blade .link-blade-links {
  display: flex;
  padding: var(--spacing-75);
  flex-wrap: nowrap;
  gap: var(--spacing-100);
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.link-blade .link-blade-links::-webkit-scrollbar {
  display: none;
}

.link-blade a.link-blade-item {
  display: inline-flex;
  align-items: center;
  padding: 0px var(--spacing-300);
  background-color: white;
  border: 2px solid var(--Palette-transparent-black-300);
  border-radius: 8px;
  text-decoration: none;
  height: 36px;
  color: var(--Alias-content-typography-Heading);
  font-size: 16px;
  white-space: nowrap;
  flex-shrink: 0;
  font-weight: 700;
  margin-top: 1px;
}

.link-blade .link-blade-item:hover,
.link-blade .link-blade-item:focus {
  background: var(--Palette-gray-200);
  border: 2px solid var(--Palette-transparent-black-300, #00000026);
  animation-timing-function: ease-out;
  animation-duration: 100ms;
  outline-offset: 4px;
  outline-color: #4b75ff;
  text-decoration: none;
}

.link-blade .link-blade-link-row {
  position: relative;
}

.link-blade .link-blade-chevron.hidden {
  display: none;
}

.link-blade .link-blade-chevron.left {
  left: 0;
  right: unset;
  transform: scaleX(-1);
  translate: 0px -15px;
}

/* Chevron button styles */
.link-blade .link-blade-chevron::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: solid 2px var(--color-gray-700);
  border-right: solid 2px var(--color-gray-700);
  transform: rotate(45deg);
  translate: -6px -3px;
  z-index: 6;
}

.link-blade .link-blade-chevron {
  position: absolute;
  right: 0;
  top: 17px;
  transform: translateY(-50%);
  transition: transform 0.2s;
  cursor: pointer;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 7px;
  background: var(--color-white);
  box-shadow: 0px 2px 8px 0px #00000029;
  border-radius: 50%;
  pointer-events: auto;
  z-index: 5;
  border: none;
}

.link-blade .link-blade-chevron::after {
  content: '';
  height: 50px;
  width: 50px;
  left: -14px;
  background: linear-gradient(270deg, white 0%, rgba(255, 255, 255, 0) 100%);
  display: block;
  top: -10px;
  position: absolute;
  z-index: 2;
}

/* Tablet styles */
@media (min-width: 768px) {
  .link-blade {
    padding: var(--spacing-600) var(--spacing-400);
    max-width: 1279px;
  }

  .link-blade .link-blade-header {
    font-size: 28px;
  }

  .link-blade .link-blade-links {
    gap: var(--spacing-200);
    justify-content: flex-start;
  }

  .link-blade .link-blade-item {
    padding: var(--spacing-100) var(--spacing-350);
    font-size: 15px;
  }
}

/* Desktop styles */
@media (min-width: 1280px) {
  .link-blade {
    padding: var(--spacing-900) var(--spacing-600);
    min-width: 1280px;
  }

  .link-blade .link-blade-header {
    font-size: 32px;
  }

  .link-blade .link-blade-links {
    flex-wrap: wrap;
    gap: var(--spacing-300);
    justify-content: center;
    overflow-x: visible;
    padding: 0;
  }

  /* Remove the chevron icon on desktop */
  .link-blade .link-blade-links::after {
    display: none;
  }

  .link-blade .link-blade-item {
    padding: 10px var(--spacing-400);
    font-size: var(--body-font-size-m);
    transition: all 0.2s ease-in-out;
  }

  .link-blade .link-blade-link-row::after {
    display: none;
  }

  .link-blade .link-blade-chevron {
    display: none;
  }
}
