.interactive-marquee {
  position: relative;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  &.light {
    color: var(--text-color);
  }
  & .foreground {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    padding: var(--spacing-xxl) 0;
  }
  & .interactive-container {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border: 4px;
  }
  & .asset {
    max-width: 300px;
    position: relative;
    padding: 0;
  }
  & .text {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    order: 2;
    & p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    & .detail-l {
      margin-bottom: var(--spacing-xs);
    }
    & .heading-xl {
      margin-bottom: var(--spacing-xs);
    }
    & .heading-xxl {
      margin-bottom: var(--spacing-xs);
    }
    & .action-area {
      margin-bottom: var(--spacing-s);
    }
    & .supplemental-text {
      margin-bottom: var(--spacing-s);
      font-weight: 700;
    }
  }
  & .mweb-container {
    & .detail-l {
      margin-bottom: var(--spacing-xs);
    }
  }
  & .icon-area {
    display: flex;
    margin-bottom: var(--spacing-s);
    margin-top: 0;
    & picture {
      display: contents;
    }
    & a {
      display: contents;
    }
    & img {
      height: 40px;
      width: auto;
      min-width: 40px;
      display: block;
    }
  }
  & .icon-text {
    margin: auto var(--spacing-xs);
    font-weight: 700;
    font-size: var(--type-heading-m-size);
    line-height: var(--type-heading-m-lh);
    font-style: normal;
  }
  & .pricing {
    margin-top: var(--spacing-xs);
  }
  & .action-area {
    display: flex;
    margin: 0;
    gap: var(--spacing-s);
    flex-flow: column wrap;
    align-items: stretch;
    padding: var(--spacing-s) 0 0;
  }
  & .background {
    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    & .tablet-only {
      display: none;
    }
    & .desktop-only {
      display: none;
    }
    & picture {
      display: block;
      position: absolute;
      inset: 0;
      line-height: 0;
    }
  }
  & > .container {
    & > .body-xl {
      display: none;
      order: 3;
    }
  }
}

[dir="rtl"] {
  & .interactive-marquee {
    & .text {
      margin: 0 auto 0 0;
    }
  }
}

@media screen and (min-width: 600px) {
  .interactive-marquee {
    & .background {
      & .mobile-only {
        display: none;
      }
      & .desktop-only {
        display: none;
      }
      & .tablet-only {
        display: block;
      }
    }
    & .interactive-container {
      height: 604px;
      width: 569px;
    }
    & .asset {
      max-width: 569px;
      top: 35px;
    }
    & .action-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-s);
    }
    & .mweb-container {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .interactive-marquee {
    min-height: 700px;
    flex-direction: row;
    & .background {
      & .mobile-only {
        display: none;
      }
      & .tablet-only {
        display: none;
      }
      & .desktop-only {
        display: block;
      }
    }
    & .foreground {
      padding: 0;
      gap: 100px;
      flex-direction: row;
      align-items: center;
      order: unset;
      width: var(--grid-container-width);
    }
    & .interactive-container {
      position: absolute;
      right: 0;
      order: unset;
      width: 50%;
      height: 100%;
      margin: 0;
    }
    & .asset {
      top: 91px;
      margin: 0 auto;
    }
    & .supplemental-text {
      margin: var(--spacing-s) 0 0 0;
    }
    & .text {
      order: unset;
      display: block;
      max-width: 500px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .mweb-container {
    & .action-area {
      text-align: center;
    }
  }

  .interactive-marquee {
    & .text {
      & .detail-l {
        &.mobile-cta-top {
          display: none;
        }
      }
      & .icon-area {
        &.mobile-cta-top {
          display: none;
        }
      }
      & .action-area {
        &.mobile-cta-top {
          display: none;
        }
      }
      & h1 {
        &[class^="heading"] {
          &.mobile-cta-top {
            display: none;
          }
        }
      }
    }
  }
}

main {
  & .interactive-marquee {
    &.horizontal-masonry {
      --text-color: #2c2c2c;
      & .container {
        width: var(--grid-container-width);
        margin: 0 auto;
        text-align: initial;
      }
      & .interactive-container {
        display: flex;
        flex-direction: column;
        position: unset;
        height: unset;
      }
      & .asset {
        top: unset;
      }
      & .generate-btn {
        background-color: #6495ED;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1em;
        cursor: pointer;
        &:focus {
          border: linear-gradient(90deg, #ff477b 0%, #5c5ce0 52%, #318fff 100%) border-box;
        }
      }
      & .generate-small-btn {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        &:focus {
          border: linear-gradient(90deg, #ff477b 0%, #5c5ce0 52%, #318fff 100%) border-box;
        }
        &::before {
          content: '';
          filter: brightness(0) invert(1);
          background-image: url(/express/code/icons/adobe-firefly.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-top: -10px;
          position: relative;
          top: 4px;
          left: -4px;
        }
      }
      & input {
        &[type="text"] {
          padding: 10px;
          border: none;
          width: calc(100% - 140px);
          &::placeholder {
            font-style: italic;
            content: "abfdsfdsfsdfds" !important;
          }
          &:focus {
            outline: none;
            background: linear-gradient(white 0 0) padding-box,
            linear-gradient(90deg, #ff477b 0%, #5c5ce0 52%, #318fff 100%) border-box;
          }
        }
      }
      & .enticement-container {
        margin-top: 80px;
        margin-bottom: 15px;
        position: relative;
        width: calc(100% -20px);
        height: 35px;
        padding: 10px;
        border-color: transparent;
        border-radius: 16px;
        border: 2px solid transparent;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        &:hover {
          --gradient: linear-gradient(90deg, #ff477b 0%, #5c5ce0 52%, #318fff 100%);
          border: 2px solid transparent;
          border-radius: 16px;
          background: linear-gradient(white 0 0) padding-box, var(--gradient) border-box;
        }
      }
      & .enticement-text {
        position: absolute;
        left: -70px;
        top: -55px;
        font-size: 36px;
        color: black;
        font-weight: bold;
      }
      & .icon-enticement-arrow {
        position: absolute;
        left: -85px;
        top: 0px;
        filter: brightness(1) invert(1);
        width: 70px;
        height: 70px;
        transform: rotate(-35deg);
      }
      & .media-container {
        display: flex;
        width: 600px;
        max-height: 400px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        & p {
          &.image-container {
            position: relative;
            margin-bottom: 20px;
            border-radius: 16px;
            height: 180px;
            flex: 0 0 calc(33% - 10px);
            max-width: 400px;
            & img {
              border-radius: 16px;
              object-fit: cover;
              height: 100%;
              object-position: center;
              width: 100%;
              &.link {
                display: none;
              }
            }
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(0, 0, 0, 0.7);
              display: block;
              align-items: center;
              justify-content: center;
              opacity: 0;
              transition: opacity 0.3s ease-in;
              z-index: 2;
              height: 100%;
              width: 100%;
              border-radius: 16px;
            }
            &:hover {
              &::after {
                opacity: 1;
              }
              & .overlay {
                display: block;
                z-index: 3;
              }
              & img {
                &.link {
                  width: 22px;
                  z-index: 5;
                  height: 22px;
                  bottom: 0px;
                  right: 0px;
                  filter: brightness(0) invert(1);
                  display: block;
                  pointer-events: all;
                  cursor: pointer;
                }
              }
              & .external-link-element {
                display: block;
                & .mobile-prompt-link {
                  color: transparent;
                  pointer-events: none;
                }
              }
            }
            & .external-link-element {
              top: 0;
              left: 0;
              position: absolute;
              width: 100%;
              height: 100%;
              display: none;
              color: white;
            }
          }
        }
        & .link {
          position: absolute;
          bottom: 0px;
          padding: 10px;
          z-index: 4;
        }
        & .overlay {
          position: absolute;
          top: 0px;
          padding: 10px;
          display: none;
          color: white;
          height: 100%;
          overflow: hidden;
        }
        & .prompt-title {
          display: none;
        }
      }
      &.tall {
        & .media-container {
          max-width: 480px;
          max-height: 420px;
          & p {
            &.image-container {
              flex: unset;
              height: 200px;
            }
          }
        }
      }
      &.wide {
        & .media-container {
          max-width: unset;
          & p {
            &.image-container {
              position: relative;
              margin-bottom: 20px;
              border-radius: 16px;
              height: 150px;
              max-width: 400px;
              flex: unset;
              flex: 0 0 calc(50% - 10px);
            }
          }
        }
      }
      & .foreground {
        & > .text {
          &:first-of-type {
            & h1 {
              font-size: 45px;
            }
          }
        }
        & h1 {
          & > em {
            font-style: normal;
            background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
            background-size: 400% 400%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      & h1 {
        & > em {
          &::after {
            content: '';
            background-image: url(/express/code/icons/double-sparkles.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-top: -10px;
            position: relative;
            top: -15px;
          }
        }
      }
      &.dark {
        color: black;
      }
      &.quad {
        & .media-container {
          max-width: 420px;
          max-height: 420px;
          & p {
            &.image-container {
              height: 200px;
              flex: 0 0 calc(50% - 10px);
            }
          }
        }
      }
      &.no-search {
        & .enticement-container {
          display: none;
        }
        & .interactive-container {
          margin-top: unset;
        }
      }
    }
  }
  & .section {
    &:has(.interactive-marquee.horizontal-masonry) {
      & > div {
        max-width: unset;
      }
      & p {
        margin: initial;
      }
    }
  }
  & .interactive-container {
    &.interactive-marquee {
      &.horizontal-masonry {
        & .enticement-container {
          & input {
            &::placeholder {
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  main {
    & .interactive-marquee {
      &.horizontal-masonry {
        & .container {
          --grid-container-width: 1200px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  main {
    & .interactive-marquee {
      &.horizontal-masonry {
        & .con-button {
          display: none;
        }
        & .asset {
          max-width: unset;
        }
        & .interactive-container {
          display: flex;
          flex-direction: column-reverse;
          height: unset;
          margin-top: -60px;
          width: 100%;
        }
        & .container {
          flex-direction: column-reverse;
          width: calc(100% - 20px);
        }
        & .media-container {
          width: unset;
          & p {
            &.image-container {
              flex: unset;
              &:hover {
                & .external-link-element {
                  & .mobile-prompt-link {
                    color: white;
                    position: relative;
                    height: 22px;
                    margin: auto;
                    width: fit-content;
                    margin-top: auto;
                    display: block;
                    top: 45%;
                    z-index: 8;
                  }
                }
              }
              & .external-link-element {
                & .icon {
                  display: inline;
                  position: relative;
                  padding: 0;
                  float: left;
                  padding-right: 10px;
                  padding-top: 5px;
                }
              }
              &:first-of-type {
                display: block;
                width: 100%;
                margin: auto;
                height: 100%;
              }
              & img {
                width: 300px;
                height: unset;
              }
            }
            &.overlay {
              display: flex;
              flex-direction: column;
              justify-content: center;
              z-index: 2;
              background-color: white;
              border-radius: 20px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
              padding: 15px 20px;
              left: 0;
              height: fit-content;
              margin: auto;
              color: #333;
              width: calc(100% - 60px);
              font-size: 16px;
              left: 10px;
              bottom: -100%;
              & .prompt-title {
                display: block;
              }
            }
          }
          & .image-container {
            &:has( img.tall-prompt-image ) {
              width: 220px;
              margin: auto;
            }
          }
        }
        & .enticement-arrow {
          display: none;
        }
        & .enticement-text {
          display: none;
        }
        & p {
          &.image-container {
            display: none;
            & img {
              &.tall-prompt-image {
                max-width: 220px;
              }
            }
          }
        }
        & .prompt-title {
          color: #888;
          font-size: 14px;
          margin-bottom: 5px;
        }
        & .enticement-container {
          margin-top: 40px;
          & img {
            display: none;
          }
        }
        & input {
          &[type="text"] {
            margin-left: unset;
            width: calc(100% - 140px);
          }
        }
        &.wide {
          & .media-container {
            & p {
              &.image-container {
                flex: unset;
              }
            }
          }
        }
        &.quad {
          & .media-container {
            & p {
              &.image-container {
                flex: unset;
              }
            }
          }
        }
      }
    }
  }
}

main {
  & .interactive-marquee {
    &.interactive-marquee {
      &.horizontal-masonry {
        padding: 16px;
        & .media-container {
          max-height: unset;
          margin: auto;
        }
      }
    }
    & .foreground {
      & .text {
        & p {
          font-size: 20x;
          margin: 10px 0px;
        }
        & .icon-area {
          & > div {
            display: flex;
            width: fit-content;
          }
        }
      }
      & .express-logo {
        width: fit-content;
        height: 30px;
        padding-bottom: 20px;
      }
    }
  }
}
