.section {
  &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
    & .ratings {
      margin-top: 80px;
    }
  }
  &:has(.ax-columns, .content) {
    & + .section {
      &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
        & .ratings {
          margin-top: 0px;
        }
      }
    }
  }
  &.long-form {
    &:has(.ax-columns) {
      & + .section {
        &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
          & .ratings {
            margin-top: 40px;
          }
        }
      }
    }
  }
}

.ratings {
  background: var(--color-gray-100);
  padding-top: 80px;
  padding-bottom: 0;
  text-align: center;
  & > * {
    max-width: 1024px;
    margin: auto;
  }
  & form {
    max-width: 265px;
    margin: 0 auto;
    padding-top: 5rem;
    width: 100%;
  }
  & .ratings-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    & h3 {
      margin: 0;
    }
  }
  & .rating-stars {
    color: var(--color-info-accent);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      height: 30px;
      width: 30px;
      transform: translateY(2px);
      margin: 0 2px;
    }
  }
  & .rating-votes {
    display: none;
    font-size: var(--heading-font-size-s);
    color: var(--body-color);
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 10px;
    & strong {
      font-weight: 900;
    }
  }
  &.ratings_received {
    & .rating-votes {
      display: block;
    }
  }
  & .slider {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    & .tooltip {
      position: absolute;
      background: var(--color-white);
      height: 60px;
      width: 60px;
      border-radius: 50%;
      top: 50%;
      transform: translate(2px, -50%);
      box-sizing: border-box;
      white-space: nowrap;
      text-align: center;
      box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
      pointer-events: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 82.2%;
      transition: left 0.3s, right 0.3s;
      & > div {
        position: relative;
      }
    }
    & .tooltip--text {
      position: absolute;
      background: var(--color-white);
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
      padding: 12px 20px;
      border-radius: 8px;
      font-size: 14px;
    }
    & .tooltip--image {
      height: 24px;
      width: 24px;
      object-fit: contain;
      & img {
        height: 24px;
        width: 24px;
        object-fit: contain;
      }
    }
  }
  & .slider-fill {
    min-width: 30px;
    height: 30px;
    width: 86.625%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-info-accent);
    pointer-events: none;
    border-radius: 60px;
    transition: width 0.3s;
  }
  &:not(.one-star) {
    &:not(.two-stars) {
      &:not(.three-stars) {
        &:not(
    .four-stars
  ) {
          &:not(.five-stars) {
            & .slider {
              & .tooltip--text {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  & .slider-bottom {
    display: flex;
    justify-content: space-between;
    padding: 32px 27px 80px 30px;
    & .vertical-line {
      height: 20px;
      border-left: 2px solid var(--color-gray-400);
      position: relative;
    }
    & .stars {
      display: flex;
      position: absolute;
      left: calc(50% - 2px);
      transform: translateX(-50%);
      top: 60px;
      color: var(--color-info-accent-light);
      cursor: pointer;
      padding: 2px;
      background: transparent;
      border: none;
      white-space: nowrap;
      & svg {
        height: 24px;
        width: 24px;
        margin: 0 1px;
      }
    }
    & .timer {
      position: absolute;
      left: calc(50% - 1px);
      transform: translateX(-50%);
      top: 2px;
      padding-top: 2px;
    }
    & .lottie {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 899px) {
  .ratings {
    & .slider-bottom {
      padding: 20px 25px 50px 28px;
      & .vertical-line {
        height: 5px;
        border-left: 2px solid var(--color-gray-300);
        & .stars {
          top: 30px;
        }
        &:not(:first-child) {
          &:not(:last-child) {
            & .stars {
              display: none;
            }
          }
        }
      }
      & .stars {
        & svg {
          height: 20px;
          width: 20px;
        }
      }
    }
    & .rating-stars {
      display: block;
      width: 100%;
    }
    & .slider {
      & .tooltip {
        left: 67%;
      }
      & .tooltip--text {
        top: -68px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    & .slider-fill {
      width: 76%;
    }
    &.one-star {
      & .slider-bottom {
        & .vertical-line {
          & .stars {
            display: none;
            &.one-star {
              color: var(--color-info-accent);
              display: block;
            }
          }
        }
      }
    }
    &.two-stars {
      & .slider-bottom {
        & .vertical-line {
          & .stars {
            display: none;
            &.two-stars {
              color: var(--color-info-accent);
              display: block;
            }
          }
        }
      }
    }
    &.three-stars {
      & .slider-bottom {
        & .vertical-line {
          & .stars {
            display: none;
            &.three-stars {
              color: var(--color-info-accent);
              display: block;
            }
          }
        }
      }
    }
    &.four-stars {
      & .slider-bottom {
        & .vertical-line {
          & .stars {
            display: none;
            &.four-stars {
              color: var(--color-info-accent);
              display: block;
            }
          }
        }
      }
    }
    &.five-stars {
      & .slider-bottom {
        & .vertical-line {
          & .stars {
            display: none;
            &.five-stars {
              color: var(--color-info-accent);
              display: block;
            }
          }
        }
      }
    }
    & form {
      padding-top: 4.5rem;
    }
  }
}

.ratings {
  &.one-star {
    & .slider-bottom {
      & .stars {
        &.one-star {
          color: var(--color-info-accent);
          display: block;
        }
      }
    }
  }
  &.two-stars {
    & .slider-bottom {
      & .stars {
        &.two-stars {
          color: var(--color-info-accent);
          display: block;
        }
      }
    }
  }
  &.three-stars {
    & .slider-bottom {
      & .stars {
        &.three-stars {
          color: var(--color-info-accent);
          display: block;
        }
      }
    }
  }
  &.four-stars {
    & .slider-bottom {
      & .stars {
        &.four-stars {
          color: var(--color-info-accent);
          display: block;
        }
      }
    }
  }
  &.five-stars {
    & .slider-bottom {
      & .stars {
        &.five-stars {
          color: var(--color-info-accent);
          display: block;
        }
      }
    }
  }
  & .slider-comment {
    height: 0px;
    overflow: hidden;
    transition: height 0.4s;
    &.comment--appear {
      height: 220px;
      &.submit--appear {
        height: 336px;
      }
    }
    & label {
      font-family: var(--body-font-family);
      font-size: var(--body-font-size-xl);
      line-height: var(--body-line-height);
      min-height: var(--body-font-size-xl);
      box-sizing: content-box;
      font-weight: 700;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      display: block;
      padding-top: 32px;
    }
    & textarea {
      resize: none;
      border: 2px solid var(--color-gray-400);
      border-radius: 6px;
      padding: 10px;
      font-family: var(--body-font-family);
      font-size: var(--body-font-size-m);
      color: var(--body-color);
      margin: 16px 0;
      background: var(--color-white);
      width: 100%;
      box-sizing: border-box;
      text-align: left;
    }
  }
  & form {
    & [type='submit'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-family: var(--body-font-family);
      font-size: var(--body-font-size-m);
      line-height: var(--body-line-height);
      color: var(--body-color);
      font-weight: 700;
      font-style: normal;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin: 0;
      padding: 13px 1.5em 13px 1.5em;
      border-radius: 27px;
      transition: background-color 0.3s, color 0.3s, border 0.3s;
      border: 2px solid var(--color-gray-200);
      background: var(--color-gray-200);
      &:hover {
        background-color: var(--color-gray-300);
        border-color: var(--color-gray-300);
      }
      &:focus {
        background-color: var(--color-gray-300);
        border-color: var(--color-gray-300);
        outline: none;
        box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-gray-400);
        &:hover {
          background-color: var(--color-gray-400);
          border-color: var(--color-gray-400);
        }
      }
      &:active {
        background-color: var(--color-gray-400);
        border-color: var(--color-gray-400);
      }
    }
    & textarea {
      &:required {
        &:placeholder-shown {
          & ~ [type='submit'] {
            background-color: #f0f0f0;
            border-color: #f0f0f0;
            color: #b9b9b9;
            outline: none;
            box-shadow: none;
            cursor: default;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
    & [type='range'] {
      -webkit-appearance: none;
      margin: 0;
      width: 100%;
      height: 30px;
      border-radius: 60px;
      cursor: pointer;
      background: var(--color-info-accent-light);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &::-moz-focus-outer {
        border: 0;
      }
      &:focus {
        outline: 0;
      }
      &:focus-visible {
        outline: 2px solid rgba(0, 0, 0, 0.55);
        outline-offset: -2px;
        & + .slider-fill {
          outline: 2px solid rgba(0, 0, 0, 0.55);
          outline-offset: -2px;
        }
      }
      &::-webkit-slider-runnable-track {
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 60px;
        height: 30px;
        width: 100%;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background: var(--color-info-accent-light);
        border: 0 solid rgba(0, 0, 0, 0);
      }
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0);
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 60px;
        box-sizing: border-box;
        cursor: pointer;
        height: 60px;
        width: 60px;
        -webkit-appearance: none;
        margin-top: -15px;
      }
      &::-moz-range-track {
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 60px;
        width: 100%;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background: var(--color-info-accent-light);
        border: 0 solid rgba(0, 0, 0, 0);
        height: 15px;
      }
      &::-moz-range-thumb {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0);
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 60px;
        box-sizing: border-box;
        cursor: pointer;
        height: 60px;
        width: 60px;
      }
    }
  }
  & #rate-our-quick-action {
    max-width: 235px;
  }
}

@media (max-width: 599px) {
  .ratings {
    & #rate-our-quick-action {
      max-width: 180px;
    }
  }
}

.ratings {
  & .no-slider {
    padding-bottom: 80px;
    & p {
      margin: 32px 0;
    }
  }
}

@media (min-width: 900px) {
  .ratings {
    & .no-slider {
      display: flex;
      align-items: center;
      justify-content: center;
      & .button {
        &:any-link {
          padding-top: 8px;
          padding-bottom: 8px;
          margin-left: 1.5rem;
        }
      }
      & .con-button {
        &:any-link {
          padding-top: 8px;
          padding-bottom: 8px;
          margin-left: 1.5rem;
        }
      }
    }
    & .rating-stars {
      margin: 0 20px;
    }
    & .slider-bottom {
      & .stars {
        color: var(--color-gray-200);
      }
      & .timer {
        top: 26px;
      }
      & .lottie {
        width: 28px;
        height: 28px;
      }
    }
    & #rate-our-quick-action {
      max-width: unset;
    }
    & .slider-comment {
      padding: 0 30px;
      & label {
        padding-top: 50px;
      }
      &.comment--appear {
        height: 220px;
        &.submit--appear {
          height: 336px;
        }
      }
    }
    & form {
      max-width: 750px;
      & [type='submit'] {
        margin-top: 24px;
      }
    }
    & .rating-votes {
      padding-left: 56px;
      font-size: var(--heading-font-size-m);
    }
  }
}

.ratings {
  & .ratings-scroll-anchor {
    padding-bottom: 76px;
  }
}

html {
  scroll-behavior: smooth;
}