.floating-panel {
  line-height: 130%;
  padding: var(--spacing-300);
  border-radius: var(--spacing-300);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 2;
  bottom: var(--spacing-300);
  box-sizing: border-box;
  width: 343px;
  left: 50%;
  transform: translateX(-50%);
  &.dark {
    color: var(--color-white);
    background-color: #000b1d;
  }
  &.hide {
    display: none;
  }
  & .header {
    font-weight: var(--subheading-font-weight);
    font-size: var(--body-font-size-l);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--spacing-100);
  }
  & button {
    &.close {
      all: unset;
      display: flex;
      & .icon {
        width: 10px;
        height: 10px;
        padding: 7px;
      }
    }
  }
  & .subheader {
    font-weight: 400;
    font-size: var(--body-font-size-s);
    padding-bottom: var(--spacing-300);
  }
  & .link-rows-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }
  & .floating-panel-link-row {
    & a {
      &.con-button {
        margin: 0;
      }
    }
  }
}

.floating-panel-link-row {
  display: flex;
  justify-content: space-between;
  & div {
    display: flex;
    gap: var(--spacing-100);
    align-items: center;
  }
  & .icon {
    width: 22px;
    height: 22px;
    gap: var(--spacing-75);
  }
}