:root {
  --component-l-regular-font-family: "Adobe Clean Spectrum VF", Helvetica;
  --component-l-regular-font-weight: 400;
  --component-l-regular-font-size: 16px;
  --component-l-regular-letter-spacing: 0px;
  --component-l-regular-line-height: 20px;
  --component-l-regular-font-style: normal;
  --desktop-title-s-font-family: "Adobe Clean", Helvetica;
  --desktop-title-s-font-weight: 700;
  --desktop-title-s-font-size: 14px;
  --desktop-title-s-letter-spacing: 0px;
  --desktop-title-s-line-height: 129.99999523162842%;
  --desktop-title-s-font-style: normal;
  --express-web-label-regular-label-m-font-family:
    "Adobe Clean Spectrum VF", Helvetica;
  --express-web-label-regular-label-m-font-weight: 400;
  --express-web-label-regular-label-m-font-size: 14px;
  --express-web-label-regular-label-m-letter-spacing: 0px;
  --express-web-label-regular-label-m-line-height: 20px;
  --express-web-label-regular-label-m-font-style: normal;
  --title-s-font-family: "Adobe Clean Spectrum VF", Helvetica;
  --title-s-font-weight: 700;
  --title-s-font-size: 14px;
  --title-s-letter-spacing: 0px;
  --title-s-line-height: 18px;
  --title-s-font-style: normal;
  --express-web-label-bold-label-2xl-font-family:
    "Adobe Clean Spectrum VF", Helvetica;
  --express-web-label-bold-label-2xl-font-weight: 700;
  --express-web-label-bold-label-2xl-font-size: 20px;
  --express-web-label-bold-label-2xl-letter-spacing: 0px;
  --express-web-label-bold-label-2xl-line-height: 26px;
  --express-web-label-bold-label-2xl-font-style: normal;
  --express-web-label-bold-label-s-font-family:
    "Adobe Clean Spectrum VF", Helvetica;
  --express-web-label-bold-label-s-font-weight: 700;
  --express-web-label-bold-label-s-font-size: 12px;
  --express-web-label-bold-label-s-letter-spacing: 0px;
  --express-web-label-bold-label-s-line-height: 18px;
  --express-web-label-bold-label-s-font-style: normal;
  --express-web-label-bold-label-m-font-family:
    "Adobe Clean Spectrum VF", Helvetica;
  --express-web-label-bold-label-m-font-weight: 700;
  --express-web-label-bold-label-m-font-size: 14px;
  --express-web-label-bold-label-m-letter-spacing: 0px;
  --express-web-label-bold-label-m-line-height: 18px;
  --express-web-label-bold-label-m-font-style: normal;
  --theme-static-white: rgba(255, 255, 255, 1);
  --theme-palette-gray-25: rgba(255, 255, 255, 1);
  --theme-focus-static-black: rgba(0, 0, 0, 1);
  --theme-transparent-white-non-static-100: rgba(255, 255, 255, 0);
  --theme-transparent-white-non-static-300: rgba(255, 255, 255, 0.25);
  --theme-transparent-black-static-100: rgba(0, 0, 0, 0);
  --theme-alias-content-typography-body: var(--s2-colors-palette-gray-700);
  --theme-alias-content-typography-code: var(--s2-colors-palette-gray-800);
  --theme-alias-content-typography-title: var(--s2-colors-palette-gray-900);
  --theme-buttons-default: var(
    --s2a-color-s2ac-color-background-accent-default
  );
  --spacing-radius-spacing-spacing-400: 24px;
  --spacing-radius-spacing-spacing-600: 40px;
  --spacing-radius-spacing-spacing-100: 8px;
  --spacing-radius-spacing-spacing-75: 4px;
  --spacing-radius-corner-radius-corner-radius-80: 6px;
  --spacing-radius-spacing-spacing-300: 16px;
  --spacing-radius-corner-radius-corner-radius-200: 16px;
  --spacing-radius-corner-radius-corner-radius-100: 8px;
  --spacing-radius-spacing-spacing-0: 0px;
  --s2-color-theme-alias-content-neutral-down: var(
    --color-theme-colortheme-neutral-content-color-down
  );
  --s2-color-theme-alias-background-app-frame-layer-1: var(
    --color-theme-colortheme-background-layer-1-color
  );
  --s2a-color-s2ac-color-content-default: var(
    --s2a-color-s2ac-palette-gray-800
  );
  --s2a-color-s2ac-palette-gray-100: rgba(233, 233, 233, 1);
  --s2a-color-s2ac-palette-static-white: rgba(255, 255, 255, 1);
  --s2a-color-s2ac-palette-gray-800: rgba(41, 41, 41, 1);
  --s2a-color-s2ac-palette-gray-1000: rgba(0, 0, 0, 1);
  --s2a-color-s2ac-color-background-accent-default: var(
    --s2a-color-s2ac-palette-blue-900
  );
  --s2a-color-s2ac-palette-blue-900: rgba(59, 99, 251, 1);
  --s2a-color-s2ac-palette-blue-800: rgba(75, 117, 255, 1);
  --s2-color-theme-palette-white: rgba(255, 255, 255, 1);
  --s2-color-theme-palette-transparent-black-800: rgba(0, 0, 0, 0.84);
  --spacing-radius-spacing-0: 0px;
  --spacing-radius-spacing-200: 12px;
  --spacing-radius-spacing-300: 16px;
  --size-spacing-spacing-50: 2px;
  --size-spacing-spacing-300: 16px;
  --size-spacing-spacing-0: 0px;
  --size-radius-corner-radius-80: 6px;
  --buttons-text-text-left-padding: 24px;
  --buttons-text-text-top-padding: 13px;
  --buttons-text-text-right-padding: 24px;
  --buttons-text-text-bottom-padding: 13px;
  --buttons-min-width: 108px;
  --devices-global-section-padding-none: var(
    --spacing-radius-spacing-spacing-0
  );
  --s2-colors-gray-100: rgba(233, 233, 233, 1);
  --s2-colors-white: rgba(255, 255, 255, 1);
  --s2-colors-palette-gray-700: rgba(80, 80, 80, 1);
  --s2-colors-palette-transparent-white-800: rgba(255, 255, 255, 1);
  --s2-colors-palette-gray-800: rgba(41, 41, 41, 1);
  --s2-colors-palette-transparent-white-900: rgba(255, 255, 255, 1);
  --s2-colors-palette-gray-900: rgba(19, 19, 19, 1);
  --s2-colors-palette-transparent-white-1000: rgba(255, 255, 255, 1);
  --color-theme-colortheme-neutral-content-color-down: var(
    --color-theme-colortheme-gray-900
  );
  --color-theme-colortheme-background-layer-1-color: var(
    --color-theme-colortheme-gray-50
  );
  --color-theme-colortheme-gray-900: rgba(19, 19, 19, 1);
  --color-theme-colortheme-gray-50: rgba(248, 248, 248, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-theme-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-theme-mode="light"] {
  --theme-palette-gray-25: rgba(255, 255, 255, 1);
  --theme-transparent-white-non-static-100: rgba(255, 255, 255, 0);
  --theme-transparent-white-non-static-300: rgba(255, 255, 255, 0.25);
  --theme-alias-content-typography-body: var(--s2-colors-palette-gray-700);
  --theme-alias-content-typography-code: var(--s2-colors-palette-gray-800);
  --theme-alias-content-typography-title: var(--s2-colors-palette-gray-900);
}

[data-theme-mode="dark"] {
  --theme-palette-gray-25: rgba(17, 17, 17, 1);
  --theme-transparent-white-non-static-100: rgba(0, 0, 0, 0);
  --theme-transparent-white-non-static-300: rgba(0, 0, 0, 0.25);
  --theme-alias-content-typography-body: var(
    --s2-colors-palette-transparent-white-800
  );
  --theme-alias-content-typography-code: var(
    --s2-colors-palette-transparent-white-900
  );
  --theme-alias-content-typography-title: var(
    --s2-colors-palette-transparent-white-1000
  );
}

[data-s2a-color-mode="light"] {
  --s2a-color-s2ac-color-content-default: var(
    --s2a-color-s2ac-palette-gray-800
  );
  --s2a-color-s2ac-palette-gray-100: rgba(233, 233, 233, 1);
  --s2a-color-s2ac-palette-gray-800: rgba(41, 41, 41, 1);
  --s2a-color-s2ac-palette-gray-1000: rgba(0, 0, 0, 1);
  --s2a-color-s2ac-color-background-accent-default: var(
    --s2a-color-s2ac-palette-blue-900
  );
  --s2a-color-s2ac-palette-blue-900: rgba(59, 99, 251, 1);
  --s2a-color-s2ac-palette-blue-800: rgba(75, 117, 255, 1);
}

[data-s2a-color-mode="dark"] {
  --s2a-color-s2ac-color-content-default: var(
    --s2a-color-s2ac-palette-gray-1000
  );
  --s2a-color-s2ac-palette-gray-100: rgba(44, 44, 44, 1);
  --s2a-color-s2ac-palette-gray-800: rgba(219, 219, 219, 1);
  --s2a-color-s2ac-palette-gray-1000: rgba(255, 255, 255, 1);
  --s2a-color-s2ac-color-background-accent-default: var(
    --s2a-color-s2ac-palette-blue-800
  );
  --s2a-color-s2ac-palette-blue-900: rgba(86, 129, 255, 1);
  --s2a-color-s2ac-palette-blue-800: rgba(64, 105, 253, 1);
}

[data-buttons-mode="l"] {
  --buttons-text-text-left-padding: 20px;
  --buttons-text-text-top-padding: 10px;
  --buttons-text-text-right-padding: 20px;
  --buttons-text-text-bottom-padding: 10px;
  --buttons-min-width: 90px;
}

[data-buttons-mode="m"] {
  --buttons-text-text-left-padding: 16px;
  --buttons-text-text-top-padding: 7px;
  --buttons-text-text-right-padding: 16px;
  --buttons-text-text-bottom-padding: 7px;
  --buttons-min-width: 72px;
}

[data-buttons-mode="s"] {
  --buttons-text-text-left-padding: 12px;
  --buttons-text-text-top-padding: 4px;
  --buttons-text-text-right-padding: 12px;
  --buttons-text-text-bottom-padding: 4px;
  --buttons-min-width: 54px;
}

[data-buttons-mode="XL"] {
  --buttons-text-text-left-padding: 24px;
  --buttons-text-text-top-padding: 13px;
  --buttons-text-text-right-padding: 24px;
  --buttons-text-text-bottom-padding: 13px;
  --buttons-min-width: 108px;
}

[data-color-theme-mode="light"] {
  --color-theme-colortheme-gray-900: rgba(19, 19, 19, 1);
  --color-theme-colortheme-gray-50: rgba(248, 248, 248, 1);
}

[data-color-theme-mode="dark"] {
  --color-theme-colortheme-gray-900: rgba(242, 242, 242, 1);
  --color-theme-colortheme-gray-50: rgba(27, 27, 27, 1);
}

[data-color-theme-mode="wireframe"] {
  --color-theme-colortheme-gray-900: rgba(10, 19, 39, 1);
  --color-theme-colortheme-gray-50: rgba(246, 248, 253, 1);
}
