.section {
  &.ax-how-to-v3-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    margin: 0;
    padding: var(--spacing-350);
    & .how-to-v3 {
      & picture {
        & img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

main {
  & .section {
    &.ax-how-to-v3-container {
      &:not([data-padding='none']) {
        &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, 
  .xxl-spacing, .xl-spacing, .l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
          & > .content {
            &:first-child {
              padding-top: 0;
            }
          }
        }
      }
      & > .content {
        &:has( + .how-to-v3) {
          & h2 {
            margin: 0;
            padding-bottom: 0;
          }
        }
      }
    }
    & > .content {
      &:has( + .how-to-v3) {
        & h2 {
          font-size: var(--heading-font-size-m);
          margin-top: -12px;
          padding-bottom: var(--spacing-200);
        }
      }
    }
    &:has(.how-to-v3) {
      & .content {
        & em {
          font-style: normal;
          background: linear-gradient(140.08deg, #FF4DD2 67.54%, #FF993B 76.42%);
          background-size: 108% 108%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          font-weight: 900;
        }
      }
    }
  }
}

.how-to-v3 {
  margin: 0;
  max-width: unset;
  & h2 {
    font-size: var(--heading-font-size-s);
    text-align: center;
    padding: 0 var(--spacing-400);
    margin-bottom: var(--spacing-350);
  }
  & ol {
    list-style-type: none;
    font-size: 21px;
    font-weight: 900;
    & li {
      padding: 0;
      cursor: pointer;
      transition: all 0.21s;
      display: flex;
      & .step-indicator {
        width: 5px;
        min-width: 5px;
        background: linear-gradient(-96.68deg, #FF4885 5.24%, #FC7D00 94.76%), #686DF4;
        border-radius: 2.5px;
        &:has(+ div .closed) {
          background: linear-gradient(95.55deg, rgba(255, 255, 255, 0.5) 4.43%, rgba(255, 255, 255, 0.3) 93.65%), #8F8F8F;
        }
      }
      & .step-content {
        padding: var(--spacing-100) var(--spacing-300);
        margin: 0;
        &:has(.milo-video) {
          width: 100%;
        }
      }
      & h3 {
        text-align: left;
        font-size: var(--body-font-size-l);
        line-height: 130%;
        font-weight: var(--subheading-font-weight);
      }
      & .detail-container {
        font-size: var(--body-font-size-m);
        line-height: 20.8px;
        font-weight: 400;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }
      & .detail-text {
        padding-top: var(--spacing-100);
      }
      &:first-child {
        & .detail-container {
          max-height: none;
        }
      }
    }
    &.steps {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-300);
      & .step {
        & .step-content {
          &:has(.detail-container.closed) {
            & h3 {
              &:not(:has(picture), :has(.milo-video)) {
                &:hover {
                  background-color: var(--color-gray-100);
                  margin: calc(-1 * var(--spacing-100)) 0 calc(-1 * var(--spacing-100)) calc(-1 * var(--spacing-300));
                  padding: var(--spacing-100) 0 var(--spacing-100) var(--spacing-300);
                }
              }
            }
          }
        }
      }
    }
  }
  & .milo-video {
    border-radius: var(--spacing-300);
    overflow: hidden;
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  & picture {
    & img {
      border-radius: var(--spacing-300);
      overflow: hidden;
      max-width: 400px;
      max-height: 300px;
      width: 100%;
    }
  }
  & em {
    font-style: normal;
    background: linear-gradient(140.08deg, #FF4DD2 67.54%, #FF993B 76.42%);
    background-size: 108% 108%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
  }
  & .steps-content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: var(--spacing-300);
    &:has(.media-container .milo-video) {
      display: block;
    }
    & .media-container {
      position: relative;
    }
  }
  & .video-container {
    margin-top: var(--spacing-350);
    & > * {
      border-radius: var(--spacing-300);
      max-width: 400px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      height: unset;
    }
  }
  & .image-container {
    margin-top: var(--spacing-350);
    width: 100%;
    overflow: hidden;
    & img {
      border-radius: var(--spacing-300);
      max-width: 400px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .how-to-v3 {
    & .steps-content {
      gap: var(--spacing-400);
      & .media-container {
        min-width: 350px;
      }
      &:has(.media-container .milo-video) {
        display: flex;
      }
      & > * {
        flex: 1 1 50%;
        box-sizing: border-box;
      }
    }
    & ol {
      &.steps {
        min-width: 350px;
      }
    }
    & .milo-video {
      min-width: 350px;
      max-width: 450px;
    }
    & h2 {
      font-size: var(--heading-font-size-m);
    }
    & .image-container {
      align-items: center;
      display: inline-grid;
      & img {
        height: unset;
      }
    }
    & .video-container {
      align-items: center;
      display: inline-grid;
    }
    & picture {
      & img {
        max-width: 450px;
      }
    }
  }

  .section {
    &.ax-how-to-v3-container {
      padding: var(--spacing-350) var(--spacing-600);
      width: var(--ax-grid-8-col-width);
      margin: 0 auto;
      box-sizing: border-box;
    }
  }

  main {
    & .section {
      & > .content {
        &:has( + .how-to-v3) {
          & h2 {
            font-size: var(--heading-font-size-m);
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .section {
    &.ax-how-to-v3-container {
      width: var(--ax-grid-7-col-width);
      margin-left: calc(var(--ax-grid-3-col-width) + var(--spacing-600) + var(--ax-grid-gutter));
      margin-right: auto;
    }
  }

  .how-to-v3 {
    & .steps-content {
      min-width: unset;
      & .media-container {
        min-width: unset;
      }
    }
    & ol {
      &.steps {
        min-width: unset;
      }
    }
    & .milo-video {
      max-width: 533px;
      max-height: 300px;
    }
    & picture {
      & img {
        max-width: 533px;
        max-height: 300px;
      }
    }
  }

  main {
    & .section {
      & > .content {
        &:has( + .how-to-v3) {
          & h2 {
            margin-top: var(--spacing-350);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .how-to-v3 {
    & .steps-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-500);
    }
  }
}

@media screen and (min-width: 1680px) {
  .section {
    &.ax-how-to-v3-container {
      margin: auto;
    }
  }

  .how-to-v3 {
    margin: auto;
  }
}