.section {
  & .content-cards-wrapper {
    max-width: min-content;
    margin: auto;
  }
}

.content-cards-wrapper {
  &.wide {
    max-width: none;
    & .content-cards-heading-section {
      margin: var(--spacing-350) var(--spacing-350) -11px var(--spacing-350);
    }
  }
  & .background {
    & img {
      position: absolute;
      top: 50%;
      object-fit: fill;
      width: 250%;
      transform: translate(-50%, -35%);
      max-height: 600px;
      max-width: 1200px;
    }
  }
}

.content-cards {
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: var(--spacing-600);
  & .background {
    width: 100%;
  }
  & .content-cards-heading-section {
    margin: var(--spacing-350);
    & h2 {
      max-width: 800px;
      margin-bottom: -6px;
      text-align: center;
      font-size: 22px;
    }
    & p {
      text-align: center;
      max-width: none;
      font-size: var(--body-font-size-m);
      margin-top: var(--spacing-100);
    }
    & .content-cards-link {
      font-size: var(--body-font-size-s);
      line-height: 22px;
      color: var(--body-color);
      text-decoration: underline;
    }
  }
  &:not(.tile) {
    & .content-cards-heading-section {
      & h2 {
        margin-bottom: 8px;
      }
    }
  }
  & .carousel-container {
    scroll-padding-left: var(--spacing-350);
    & .carousel-platform {
      align-items: unset;
    }
    & .carousel-element {
      &.card {
        &:nth-child(2) {
          margin-left: var(--spacing-350);
        }
      }
    }
  }
  & .card {
    position: relative;
    width: 292px;
    height: 396px;
    border-radius: var(--spacing-100);
    overflow: hidden;
    margin: 0 var(--spacing-100);
    border: var(--border-width-2) solid #E1E1E1;
    background-color: var(--color-white);
    & .text-wrapper {
      text-align: left;
      margin: var(--spacing-350) var(--spacing-350) var(--spacing-300) var(--spacing-350);
      & p {
        margin: 0;
        &.cta-card-title {
          font-size: var(--body-font-size-m);
          line-height: var(--body-font-size-m);
          font-weight: var(--subheading-font-weight);
        }
        &.cta-card-desc {
          font-size: var(--body-font-size-s);
          line-height: var(--body-font-size-l);
        }
      }
      & .tag {
        font-size: var(--spacing-100);
        padding: 0 var(--spacing-75);
        margin-left: var(--spacing-80);
        font-weight: var(--subheading-font-weight);
        background-color: #DEDEF9;
        color: var(--color-info-accent);
        border-radius: var(--spacing-75);
      }
    }
    & .media-wrapper {
      position: absolute;
      border-radius: var(--spacing-100);
      left: 50%;
      bottom: var(--spacing-300);
      transform: translateX(-50%);
      overflow: hidden;
      width: 262px;
      height: 274px;
      & picture {
        & img {
          display: block;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    & .gen-ai-input-form {
      position: absolute;
      width: 352px;
      height: 55px;
      padding: var(--spacing-100);
      background-color: var(--color-white);
      border-radius: var(--spacing-100);
      box-sizing: border-box;
      border: var(--border-width-2) solid var(--color-info-accent);
      left: 50%;
      top: 100%;
      transform: translate(-50%, calc(-100% - 30px));
      display: flex;
      justify-content: space-between;
      & input {
        box-sizing: border-box;
        border-radius: var(--spacing-100);
        border: none;
        font-family: var(--body-font-family);
        font-size: var(--body-font-size-s);
        resize: none;
        width: 230px;
        &::placeholder {
          font-style: italic;
          font-family: var(--body-font-family);
          font-size: var(--body-font-size-s);
        }
        &:placeholder-shown {
          text-overflow: ellipsis;
        }
      }
      & button {
        &:disabled {
          pointer-events: none;
        }
      }
      & .gen-ai-submit {
        color: var(--color-white);
        background-color: var(--color-info-accent);
        border-style: none;
        font-family: var(--body-font-family);
        font-size: var(--body-font-size-s);
        line-height: var(--body-font-size-s);
        font-weight: var(--subheading-font-weight);
        padding: var(--spacing-100) 1.5em var(--spacing-100) 1.5em;
        border-radius: 22px;
        cursor: pointer;
        transition: background-color .2s;
        &:disabled {
          background-color: var(--color-gray-200);
          color: var(--color-gray-500);
        }
      }
    }
    &.gen-ai-action {
      & .gen-ai-input-form {
        & .gen-ai-submit {
          left: 56px;
          bottom: var(--spacing-400);
        }
      }
    }
    & .links-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 50%;
      bottom: var(--spacing-600);
      transform: translate(-50%, 0);
      & a {
        margin: var(--spacing-75) auto;
        width: max-content;
        color: var(--body-color);
        border: var(--border-width-2) solid black;
        &:hover {
          background-color: #e6e6e6;
        }
        &:not(:hover) {
          background-color: var(--color-white);
        }
      }
    }
  }
  &.wide {
    & .card {
      min-width: 294px;
      max-width: 294px;
      height: 427px;
      border: 1px solid white;
      border-radius: var(--spacing-300);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
      flex: 1 1 calc(33.33% - 32px);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      padding: var(--spacing-300);
      margin: 9px 9px var(--spacing-100) auto;
      & .media-wrapper {
        position: absolute;
        border-radius: var(--spacing-300);
        left: 50%;
        top: 22px;
        transform: translateX(-50%);
        overflow: hidden;
        width: 247px;
        height: 147px;
      }
      & .text-wrapper {
        margin-top: 179px;
        margin-left: 0;
        margin-right: 2px;
        & p {
          &.cta-card-title {
            font-size: var(--spacing-350);
            font-weight: var(--heading-font-weight);
          }
          &.cta-card-desc {
            font-size: var(--body-font-size-m);
            line-height: var(--spacing-400);
            margin-top: 13px;
          }
        }
      }
      & .links-wrapper {
        position: absolute;
        width: fit-content;
        bottom: var(--spacing-300);
        flex-direction: initial;
        justify-content: initial;
        left: var(--spacing-300);
        transform: none;
        & a {
          &:not(:hover) {
            background-color: black;
            color: white;
          }
        }
      }
    }
    & .carousel-container {
      & .carousel-element {
        &.card {
          &:nth-child(2) {
            margin-left: 19px;
          }
        }
      }
    }
  }
  & .carousel-left-trigger {
    & ~ .card {
      margin-left: 0;
    }
  }
  & .gen-ai-input {
    &:active {
      border: none;
      outline: none;
    }
    &:focus-visible {
      border: none;
      outline: none;
    }
  }
  & .gen-ai-input-form {
    & .gen-ai-submit {
      &:not(:disabled) {
        &:hover {
          background-color: var(--color-info-accent-hover);
        }
      }
    }
  }
}

main {
  & .content-cards {
    & .carousel-container {
      & a {
        &.button {
          &.carousel-arrow {
            box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
            &::before {
              width: 7px;
              height: 7px;
              border-top: solid 3px var(--color-gray-700);
              border-right: solid 3px var(--color-gray-700);
            }
          }
        }
      }
      & .carousel-fader-left {
        align-items: end;
        top: var(--spacing-600);
        right: 42px;
        left: auto;
        pointer-events: none;
        &.arrow-hidden {
          opacity: 0.5;
          pointer-events: none;
          & a {
            &.button {
              &.carousel-arrow {
                &::before {
                  border-top: solid 3px var(--color-gray-400);
                  border-right: solid 3px var(--color-gray-400);
                }
              }
            }
          }
        }
      }
      & .carousel-fader-right {
        align-items: end;
        top: var(--spacing-600);
        right: var(--spacing-300);
        pointer-events: none;
        &.arrow-hidden {
          opacity: 0.5;
          pointer-events: none;
          & a {
            &.button {
              &.carousel-arrow {
                &::before {
                  border-top: solid 3px var(--color-gray-400);
                  border-right: solid 3px var(--color-gray-400);
                }
              }
            }
          }
        }
      }
      & .carousel-platform {
        &.left-fader {
          &:not(.right-fader) {
            -webkit-mask-image: none;
            mask-image: none;
          }
        }
        &.right-fader {
          &:not(.left-fade) {
            -webkit-mask-image: none;
            mask-image: none;
          }
        }
      }
    }
    &.wide {
      & .carousel-container {
        & .carousel-fader-left {
          top: 461px;
          right: 35px;
          display: block;
        }
        & .carousel-fader-right {
          top: 461px;
          right: 9px;
          display: block;
        }
      }
    }
  }
}

.content-cards-heading-section {
  & .text-wrapper {
    & p {
      width: unset;
    }
  }
}

@media (min-width: 600px) {
  .content-cards {
    &.wide {
      & .card {
        min-width: 399px;
        max-width: 399px;
        height: 478px;
        & .text-wrapper {
          margin-top: 228px;
          margin-left: 7px;
          & p {
            &.cta-card-title {
              font-size: 28px;
            }
            &.cta-card-desc {
              margin-top: 18px;
            }
          }
        }
        & .media-wrapper {
          width: 351px;
          height: 198px;
        }
        & .links-wrapper {
          bottom: 20px;
          left: 23px;
        }
      }
      & .carousel-container {
        & .carousel-element {
          &.card {
            &:nth-child(2) {
              margin-left: 59px;
            }
          }
        }
      }
    }
  }

  main {
    & .content-cards {
      &.wide {
        & .carousel-container {
          & .carousel-fader-left {
            top: 510px;
            right: 35px;
          }
          & .carousel-fader-right {
            top: 510px;
            right: 9px;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .content-cards {
    & .carousel-container {
      & .carousel-platform {
        &.two-card {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          width: 100%;
          & .card {
            &.carousel-element {
              flex: 1;
              min-width: 0;
              display: flex;
              & .media-wrapper {
                width: 93%;
                height: 296px;
              }
            }
          }
        }
      }
      & .carousel-fader-left {
        background: unset;
      }
      & .carousel-fader-right {
        background: unset;
      }
    }
    & .content-cards-heading-section {
      flex-direction: row;
      align-items: flex-end;
    }
    & h2 {
      &.content-cards-heading {
        font-size: 36px;
        margin: auto;
        max-width: none;
      }
    }
    & .card {
      & .text-wrapper {
        text-align: left;
        margin: 20px 20px 16px 20px;
      }
    }
    &.wide {
      & .carousel-container {
        & .carousel-element {
          &.card {
            &:nth-child(2) {
              margin-left: 59px;
            }
          }
        }
      }
    }
  }

  .content-cards-wrapper {
    &:has(.carousel-platform.two-card) {
      max-width: 1198px;
      & .content-cards-heading-section {
        & .text-wrapper {
          & p {
            width: unset;
          }
        }
      }
    }
  }

  main {
    & .content-cards {
      & .carousel-container {
        & .carousel-fader-left {
          display: none;
        }
        & .carousel-fader-right {
          display: none;
        }
      }
      &.wide {
        & .carousel-container {
          & .carousel-fader-left {
            right: 39px;
          }
          & .carousel-fader-right {
            right: 7px;
          }
        }
      }
    }
  }

  .content-cards-heading-section {
    & .text-wrapper {
      & p {
        width: max-content;
      }
    }
  }
}

@media (min-width: 1200px) {
  .content-cards {
    &.tile {
      padding-bottom: 90px;
    }
    &.wide {
      margin-top: -4px;
      & .carousel-container {
        & .carousel-element {
          &.card {
            &:nth-child(2) {
              margin-left: 99px;
            }
          }
        }
      }
      & .card {
        & .text-wrapper {
          margin-top: 228px;
          margin-left: 7px;
          margin-right: 4px;
        }
      }
    }
    & .card {
      width: 357px;
      height: 396px;
      & .media-wrapper {
        margin-top: 6px;
        border-radius: 8px;
        width: 325px;
        height: 274px;
      }
      & .text-wrapper {
        text-align: left;
        margin: 20px 20px 16px 20px;
      }
    }
  }

  .content-cards-heading-section {
    & .text-wrapper {
      & p {
        width: unset;
      }
    }
  }
}

@media (min-width: 1600px) {
  main {
    & .content-cards {
      &.wide {
        & .carousel-container {
          & .carousel-fader-left {
            display: none;
          }
          & .carousel-fader-right {
            display: none;
          }
        }
      }
    }
  }
}