.how-to-v2 {
  padding-left: var(--spacing-300);
  padding-right: var(--spacing-300);
  margin: 0;
  max-width: unset;
  & h2 {
    font-size: var(--heading-font-size-s);
    text-align: center;
    padding: 0 var(--spacing-400);
    margin-bottom: var(--spacing-350);
  }
  & ol {
    list-style-type: none;
    font-size: 21px;
    font-weight: 900;
    & li {
      padding: var(--spacing-100) 0;
      cursor: pointer;
      transition: all 0.21s;
      display: flex;
      & .step-indicator {
        width: 5px;
        min-width: 5px;
        background: linear-gradient(-96.68deg, #FF4885 5.24%, #FC7D00 94.76%), #686DF4;
        border-radius: 2.5px;
        &:has(+ div .closed) {
          background: linear-gradient(95.55deg, rgba(255, 255, 255, 0.5) 4.43%, rgba(255, 255, 255, 0.3) 93.65%), #8F8F8F;
        }
      }
      & .step-content {
        padding: var(--spacing-100) 26px;
        margin: 0;
        &:has(.milo-video) {
          width: 100%;
        }
      }
      & h3 {
        text-align: left;
        font-size: var(--body-font-size-l);
        line-height: 130%;
        font-weight: var(--subheading-font-weight);
      }
      & .detail-container {
        font-size: var(--body-font-size-m);
        line-height: 20.8px;
        font-weight: 400;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }
      & .detail-text {
        padding-top: 10px;
      }
      &:first-child {
        & .detail-container {
          max-height: none;
        }
      }
    }
    &.steps {
      & .step {
        & .step-content {
          &:has(.detail-container.closed) {
            & h3 {
              &:not(:has(picture), :has(.milo-video)) {
                &:hover {
                  background-color: var(--color-gray-100);
                  margin: -8px 0 -8px -16px;
                  padding: 8px 0 8px 16px;
                }
              }
            }
          }
        }
      }
    }
  }
  & .milo-video {
    border-radius: var(--spacing-300);
    overflow: hidden;
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  & picture {
    & img {
      border-radius: var(--spacing-300);
      overflow: hidden;
      max-width: 400px;
      max-height: 300px;
      width: 100%;
    }
  }
  & em {
    font-style: normal;
    background: linear-gradient(140.08deg, #FF4DD2 67.54%, #FF993B 76.42%);
    background-size: 108% 108%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: var(--heading-font-weight-black);
  }
  & .steps-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: var(--spacing-75);
    margin-bottom: var(--spacing-900);
    width: var(--ax-grid-12-col-width);
    &:has(.media-container .milo-video) {
      display: block;
    }
    & .media-container {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      padding: 0 var(--spacing-400);
      &::before {
        content: '';
        position: absolute;
        width: 170%;
        height: 135%;
        left: -175px;
        top: -60px;
        z-index: -1;
        background-image: linear-gradient(to bottom, transparent 85%, white 100%),
    linear-gradient(to right, transparent 85%, white 100%),
    linear-gradient(to left, transparent 85%, white 100%),
    linear-gradient(to top, transparent 85%, white 100%),
    var(--background-image);
        background-size: cover;
        background-position: center;
      }
    }
  }
  & .ol {
    &.steps {
      margin: var(--spacing-200) 0 0;
      padding: 0;
    }
  }
  & .video-container {
    margin-top: 20px;
    & > * {
      border-radius: var(--spacing-300);
      max-width: 400px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      height: unset;
    }
  }
  & .image-container {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    & img {
      border-radius: var(--spacing-300);
      max-width: 400px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

main {
  & .section {
    & > .content {
      &:has( + .how-to-v2) {
        & h2 {
          font-size: var(--heading-font-size-m);
          margin-top: -12px;
          padding-bottom: var(--spacing-200);
        }
      }
    }
    &:has(.how-to-v2) {
      & .content {
        & em {
          font-style: normal;
          background: linear-gradient(140.08deg, #FF4DD2 67.54%, #FF993B 76.42%);
          background-size: 108% 108%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          font-weight: 900;
        }
      }
    }
  }
}

@media (min-width: 400px) {
  main {
    &:has(.how-to-v2) {
      & .content {
        max-width: unset;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .how-to-v2 {
    padding-left: var(--spacing-500);
    padding-right: var(--spacing-500);
    max-width: 1252px;
    margin: auto;
    & h2 {
      font-size: var(--heading-font-size-m);
    }
    & .steps-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: var(--spacing-900);
      &:has(.media-container .milo-video) {
        display: flex;
      }
      & > * {
        flex: 1 1 50%;
        box-sizing: border-box;
      }
      & .steps {
        padding-left: var(--spacing-400);
      }
      & .media-container {
        &::before {
          width: 70vw;
          max-width: 850px;
          height: calc(55vh + (20 * (100vw - 768px) / 432));
          max-height: 760px;
          top: -150px;
          background-image: linear-gradient(to bottom, transparent 85%, white 100%),
        linear-gradient(to right, transparent 85%, white 100%),
        linear-gradient(to left, transparent 85%, white 100%),
        linear-gradient(to top, transparent 85%, white 100%),
        var(--background-image);
          background-size: cover;
          background-position: center;
        }
      }
    }
    & .image-container {
      align-items: center;
      display: inline-grid;
      & img {
        height: unset;
      }
    }
    & .video-container {
      align-items: center;
      display: inline-grid;
    }
    & .milo-video {
      max-width: 450px;
    }
    & picture {
      & img {
        max-width: 450px;
      }
    }
  }

  main {
    & .section {
      & > .content {
        &:has( + .how-to-v2) {
          & h2 {
            font-size: var(--heading-font-size-m);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .how-to-v2 {
    padding-left: var(--spacing-600);
    padding-right: var(--spacing-600);
    & .steps-content {
      & .media-container {
        &::before {
          height: 60vh;
        }
      }
    }
    & ol {
      & li {
        & h3 {
          font-size: 22px;
        }
      }
    }
    & .milo-video {
      max-width: 533px;
      max-height: 300px;
    }
    & picture {
      & img {
        max-width: 533px;
        max-height: 300px;
      }
    }
  }

  main {
    & .section {
      & > .content {
        &:has( + .how-to-v2) {
          & h2 {
            margin-top: 20px;
            font-size: var(--heading-font-size-l);
          }
        }
      }
    }
  }
}