.ax-table-of-contents-wrapper {
  max-width: var(--block-sm-max-width);
  margin: auto;
  padding: 0;
  line-height: 20px;
}
@media (min-width: 900px) {
  .ax-table-of-contents-wrapper {
    max-width: var(--block-md-max-width);
  }
  .ax-table-of-contents-wrapper {
    max-width: var(--block-md-max-width);
  }
}
@media (min-width: 1200px) {
  .ax-table-of-contents-wrapper {
    max-width: var(--block-lg-max-width);
  }
  .ax-table-of-contents-wrapper {
    max-width: var(--block-lg-max-width);
  }
}
.ax-table-of-contents-wrapper {
  max-width: var(--block-sm-max-width);
  margin: auto;
  padding: 0;
  line-height: 20px;
}
.ax-table-of-contents {
  margin-top: var(--spacing-500);
  max-width: 530px;
  & .toc {
    text-align: left;
    & .toc-level-h2 {
      margin: var(--spacing-100);
    }
    & .toc-level-h3 {
      margin: var(--spacing-75);
      padding-left: var(--spacing-350);
    }
    & .toc-level-h4 {
      padding-left: var(--spacing-600);
    }
  }
  &.horizontal {
    & .toc {
      & > div {
        display: inline-block;
      }
    }
  }
}