.floating-button-wrapper {
  &.multifunction {
    flex-direction: column-reverse;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
    height: auto;
    background: unset;
    &.clamped {
      width: auto;
    }
    &::before {
      content: '';
      position: fixed;
      bottom: 0;
      height: 150px;
      width: 100vw;
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.95) 70%, rgba(255,255,255,1) 78%);
    }
    & .toolbox {
      display: flex;
      pointer-events: auto;
      background-color: var(--color-white);
      box-sizing: border-box;
      padding: 24px 0;
      transform: translateY(72px);
      width: 100%;
      max-height: 0;
      border-radius: 32px;
      overflow: hidden;
      flex-direction: column;
      text-align: left;
      bottom: 0;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        border-radius: 32px;
        left: 0;
        bottom: 0;
        height: 64px;
        width: 100%;
        background-color: white;
      }
      &.hidden {
        display: none;
      }
      & .notch {
        position: absolute;
        padding: 6px;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
      }
      & .notch-pill {
        border-radius: 20px;
        height: 4px;
        width: 36px;
        background: var(--color-gray-300);
      }
      & .badge {
        position: absolute;
        max-width: 120px;
        top: -8px;
        right: 32px;
        transition: all 0.5s;
      }
      & .tool {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &:first-of-type {
          padding-right: 120px;
        }
        & img {
          color: var(--color-black);
          fill: var(--color-black);
          height: 22px;
          width: 22px;
          margin-right: 12px;
          object-fit: contain;
        }
        & svg {
          color: var(--color-black);
          fill: var(--color-black);
          height: 22px;
          width: 22px;
          margin-right: 12px;
          object-fit: contain;
        }
        & a {
          font-size: 16px;
          line-height: 21px;
          color: var(--color-black);
        }
      }
      & .toolbox-top {
        margin: 0 32px 12px 32px;
        border-bottom: 1px solid var(--color-gray-300);
      }
      & .toolbox-bottom {
        margin: 0 32px;
      }
    }
    &.with-transition {
      & .toolbox {
        transition: 0.5s;
        &:after {
          transition: 0.5s;
        }
      }
      & .floating-button {
        transition: all .2s;
      }
    }
    & .floating-button {
      & .toggle-button {
        position: absolute;
        left: 29px;
        height: 18px;
        padding: 4px;
        width: 18px;
        bottom: 50%;
        transform: translateY(50%);
        transition: transform 0.2s;
        z-index: 2;
        & .lottie-plus-animation {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 80px;
          width: 120px;
          pointer-events: none;
          transition: opacity 0.2s;
        }
      }
      &.toolbox-opened {
        background-color: var(--color-white);
      }
    }
    &.toolbox-opened {
      & .floating-button {
        & .toggle-button {
          transform: translateY(50%) rotate(45deg);
          & .lottie-plus-animation {
            opacity: 0;
          }
        }
      }
      & .toolbox {
        max-height: 500px;
        padding-bottom: 64px;
        transform: translateY(64px);
        z-index: 1;
      }
      & .toolbox-background {
        pointer-events: auto;
        background-color: var(--color-black);
        opacity: 0.75;
      }
    }
    & .toolbox-background {
      position: fixed;
      pointer-events: none;
      bottom: -50vh;
      left: unset;
      transform: unset;
      height: 200vh;
      width: 100vw;
      z-index: 0;
      opacity: 0;
      transition: opacity 0.5s;
    }
    &.floating-button--hidden {
      & .toolbox {
        opacity: 0;
      }
      & .toolbox-background {
        opacity: 0;
      }
    }
  }
}