:root {
  --Global-Device-Widths-device-min-width-S: 320px;

  --Global-Container-container-max-width: 1600px;
  --Global-Grid-grid-max-width: 1680px;

  --Corner-radius-corner-radius-100: 8px;
  --Corner-radius-corner-radius-200: 16px;
  --Corner-radius-corner-radius-500: 100px;

  --Palette-gray-500: #737373;

  --Alias-border-subtle: rgba(0, 0, 0, 0.08);
  --Alias-border-subtle-hover: rgba(0, 0, 0, 0.05);

  --Alias-overlay-curtain: rgba(0, 0, 0, 0.5);

  --Elevation-Dialog: 0 4px 16px rgba(0, 0, 0, 0.16);
  --Elevation-Tray: 0 -6px 16px -8px rgba(0, 0, 0, 0.1);
  --Elevation-Drawer: 0 -4px 24px rgba(0, 0, 0, 0.2);
  --Modal-close-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
  --Modal-close-shadow-tablet: 0 0 12px rgba(0, 0, 0, 0.16);
  --Modal-close-shadow-desktop: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.04), 0 4px 12px rgba(0, 0, 0, 0.08);
  --Elevation-handle: 0 0 12px 0 rgba(0, 0, 0, 0.16);

  --Global-Typography-Size-Title-Title-2XS: 16px;
  --Global-Typography-Line-height-Title-Title-2XS: 22px;
  --Font-size-600: 25px;

  --line-height-75: 16px;
  --line-height-100: 18px;
  --line-height-200: 20px;

  --Font-weight-medium: 500;

  --component-padding-vertical-100: 7px;
  --component-padding-vertical-200: 10px;

  --Input-height-default: 40px;
  --Input-border-radius: 9px;
}
