.banner-bg {
  &[class*="-bg"] {
    padding: var(--spacing-600) var(--spacing-350);
    text-align: center;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    & .background-container {
      border-radius: var(--spacing-300);
      border: var(--border-width-2) solid var(--color-white);
      background: linear-gradient(95deg, rgba(255, 255, 255, 0.80) 18%, rgba(255, 255, 255, 0.40) 93%);
      padding: var(--spacing-800) var(--spacing-500);
      width: calc(100vw - var(--spacing-600));
      box-sizing: border-box;
      max-width: none;
    }
    & h2 {
      color: var(--color-content-neutral);
      margin-top: 0;
      margin-bottom: 0;
      font-style: normal;
      line-height: 130%;
      font-size: var(--heading-font-size-l);
      font-weight: var(--heading-font-weight-extra);
    }
    & p {
      &:not(.button-container) {
        color: var(--color-content-neutral);
        margin-top: var(--spacing-100);
        margin-bottom: var(--spacing-400);
        font-size: var(--body-font-size-xl);
        &:last-child {
          margin-top: 0;
          margin-bottom: 0;
          font-size: var(--body-font-size-l);
          & a {
            color: var(--color-content-neutral);
            font-weight: var(--subheading-font-weight);
            text-decoration: underline;
          }
        }
      }
    }
    & .express-logo {
      display: block;
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: var(--spacing-200);
      width: 168px;
      height: auto;
    }
  }
  &.light-bg {
    background-image: url('/express/code/blocks/banner-bg/img/light-bg.jpg');
  }
  &.blue-green-pink-bg {
    background-image: url('/express/code/blocks/banner-bg/img/blue-green-pink-bg.jpg');
  }
  &.blue-bg {
    background-image: url('/express/code/blocks/banner-bg/img/blue-bg.jpg');
  }
  &.blue-pink-orange-bg {
    background-image: url('/express/code/blocks/banner-bg/img/blue-pink-orange-bg.jpg');
  }
  &.green-blue-red-bg {
    background-image: url('/express/code/blocks/banner-bg/img/green-blue-red-bg.jpg');
  }
  &.blue-purple-gray-bg {
    background-image: url('/express/code/blocks/banner-bg/img/blue-purple-gray-bg.jpg');
  }
  &.yellow-pink-blue-bg {
    background-image: url('/express/code/blocks/banner-bg/img/yellow-pink-blue-bg.jpg');
  }
}
@media (max-width: 767px) {
  .banner-bg {
    &[class*="-bg"] {
      &.multi-button {
        & .button-container {
          margin-top: var(--spacing-100);
          margin-bottom: var(--spacing-100);
          &:first-child {
            margin-top: var(--spacing-500);
          }
          &:last-child {
            margin-bottom: var(--spacing-300);
          }
        }
      }
    }
  }
}
.banner-bg {
  &[class*="-bg"] {
    &.multi-button {
      & .button-container {
        display: inline-block;
        margin-top: 0;
        margin-bottom: var(--spacing-300);
        margin-right: var(--spacing-300);
        &:last-child {
          margin-right: 0;
        }
      }
    }
    & .button-container {
      &:not(.multi-button .button-container) {
        margin-bottom: var(--spacing-300);
      }
      & a {
        &.button {
          &.bg-banner-button {
            font-size: var(--body-font-size-l);
            line-height: 1;
            padding: 13px var(--spacing-400);
            border-radius: var(--spacing-400);
            background-color: var(--color-content-neutral);
            border: var(--border-width-2) solid var(--color-content-neutral);
            color: var(--color-white);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 var(--spacing-50) 0 0;
            &:hover {
              color: var(--color-white);
              background-color: var(--color-black);
              border-color: var(--color-black);
            }
          }
          &.bg-banner-button-secondary {
            color: var(--color-content-neutral);
            background-color: transparent;
            border-color: var(--color-content-neutral);
            border: var(--border-width-2) solid var(--color-content-neutral);
            &:hover {
              color: var(--color-black);
              background-color: var(--color-gray-325);
              border-color: var(--color-black);
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .banner-bg {
    &[class*="-bg"] {
      padding: var(--spacing-600) var(--spacing-500);
      & .background-container {
        width: calc(100vw - var(--spacing-900));
      }
      & p {
        &:not(.button-container) {
          margin-top: var(--spacing-200);
          margin-bottom: var(--spacing-500);
        }
      }
      & h2 {
        max-width: 812px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media (min-width: 1200px) {
  .banner-bg {
    &[class*="-bg"] {
      padding: var(--spacing-900) var(--spacing-600);
      margin: 0 auto;
      box-sizing: border-box;
      & .background-container {
        max-width: 1440px;
        margin: 0 auto;
      }
      & h2 {
        font-size: var(--heading-font-size-xl);
      }
    }
  }
}
