/**
 * Express override styles for sp-slider
 */

sp-slider {
  --spectrum-slider-track-color: var(--Palette-gray-200);
  --spectrum-slider-track-fill-color: var(--Palette-gray-600);
  width: 100%;
}
