main {
  & .section {
    & div {
      &.long-text-wrapper {
        max-width: none;
        padding: 0;
        &.plain {
          max-width: var(--block-lg-max-width);
          margin: auto;
        }
      }
    }
    &:not(:first-child) {
      &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
        & .long-text-wrapper {
          &:first-child {
            padding-top: 60px;
          }
          &.no-background {
            &:first-child {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
  & .long-text {
    margin: 0 28px;
    padding: 28px;
    background-color: var(--color-gray-100);
    border-radius: 20px;
    &.plain {
      margin: unset;
      background-color: initial;
      border-radius: unset;
      & h1 {
        font-size: var(--heading-font-size-l);
        margin-bottom: 40px;
      }
      & h2 {
        font-size: var(--heading-font-size-m);
        margin-bottom: 24px;
      }
      & h3 {
        font-size: var(--heading-font-size-s);
        margin-bottom: 16px;
      }
      & p {
        margin-top: 0;
        margin-bottom: 80px;
        font-size: var(--body-font-size-l);
      }
    }
    &.no-background {
      max-width: 1024px;
      margin: 0 auto;
      background-color: initial;
      border-radius: unset;
      padding: var(--spacing-600) var(--spacing-300);
      & article {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-400);
      }
      & h1 {
        font-size: var(--heading-font-size-l);
        margin-bottom: 0;
      }
      & h2 {
        font-size: var(--heading-font-size-m);
        margin-bottom: 0;
      }
      & h3 {
        font-size: var(--heading-font-size-s);
        margin-bottom: 0;
      }
      & p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: var(--body-font-size-l);
      }
    }
    & * {
      text-align: left;
    }
    &.center {
      & * {
        text-align: center;
      }
    }
    & h2 {
      font-size: var(--heading-font-size-l);
    }
    & p {
      font-size: var(--body-font-size-s);
    }
  }
}
@media (min-width: 768px) {
  main {
    & .long-text {
      &.no-background {
        padding: var(--spacing-600) var(--spacing-500);
      }
    }
  }
}
@media (min-width: 1200px) {
  main {
    & .long-text {
      &.no-background {
        padding: var(--spacing-900) var(--spacing-600);
      }
    }
  }
}
@media (min-width: 900px) {
  main {
    & .long-text {
      &:not(.plain) {
        &:not(.no-background) {
          margin: 0 60px;
          padding: 28px;
        }
      }
      &.plain {
        & h1 {
          font-size: var(--heading-font-size-xl);
          margin-bottom: 40px;
        }
        & h2 {
          font-size: var(--heading-font-size-l);
          margin-bottom: 24px;
        }
        & h3 {
          font-size: var(--heading-font-size-s);
          margin-bottom: 16px;
        }
      }
    }
  }
}