.section {
  & .submit-email {
    background-color: #FAFAFA;
    padding: 56px 16px;
    border-radius: 20px;
    max-width: 375px;
    margin: 60px auto 0;
    width: calc(100% - 96px);
  }
}

.submit-email {
  & > div {
    text-align: left;
  }
  & .icon-cc-express-logo {
    height: 31px;
    width: auto;
    padding-bottom: 32px;
  }
  & .icon-creative-cloud-express {
    height: 31px;
    width: auto;
    padding-bottom: 32px;
  }
  & h1 {
    font-size: var(--heading-font-size-m);
    font-weight: 900;
    text-align: left;
    line-height: 36px;
    padding-top: 0px;
    padding-bottom: 12px;
  }
  & span {
    font-size: var(--body-font-size-xs);
    padding-right: 3px;
    line-height: 20px;
  }
  & form {
    & .form-heading {
      font-size: var(--body-font-size-xxl);
      font-weight: bold;
      text-align: left;
      margin-top: 16px;
      margin-bottom: 16px;
      &.success {
        color: #33AB84;
      }
      &.error {
        color: #EC5B62;
      }
    }
    & .form-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & > a {
        margin-left: 0px;
      }
      & .email-input {
        border: 2px solid var(--color-gray-300);
        border-radius: 6px;
        width: 215px;
        height: 32px;
        margin-bottom: 11px;
        padding-left: 12px;
        &.error {
          border: 2px solid #EC5B62;
        }
        &::placeholder {
          color: var(--color-gray-400);
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .submit-email {
    & .icon-cc-express-logo {
      height: 51px;
      width: auto;
      padding-bottom: 32px;
      max-width: 830px;
    }
    & .icon-creative-cloud-express {
      height: 51px;
      width: auto;
      padding-bottom: 32px;
      max-width: 830px;
    }
    & > div {
      flex-direction: row;
      gap: 40px;
      & > div {
        &:nth-child(1) {
          flex: 0 0 127px;
        }
      }
    }
    & h1 {
      font-size: var(--heading-font-size-l);
      line-height: 44px;
      padding-bottom: 10px;
    }
    & form {
      & .form-block {
        flex-direction: row;
        gap: 24px;
        & > a {
          margin-top: 0px;
        }
      }
      & .form-heading {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    & span {
      display: block;
    }
  }

  .section {
    & .submit-email {
      width: 100%;
      padding: 56px;
      padding-bottom: 80px;
    }
  }
}

@media (min-width: 1200px) {
  .section {
    & .submit-email {
      padding: 80px;
      max-width: 1024px;
    }
  }
}