main {
  & .section {
    &:has(div.quick-action-hub-wrapper) {
      text-align: center;
    }
    & > div {
      &.quick-action-hub-wrapper {
        padding: 88px 16px;
        margin: auto;
        max-width: 375px;
      }
    }
    & > .quick-action-hub-wrapper {
      &:not(:first-child) {
        margin-top: 60px;
      }
    }
  }
  & .quick-action-hub {
    display: inline-flex;
    border: 1px #DBDBDB solid;
    border-radius: 16px;
    & .quick-action-hub-container {
      background-color: #FBFBFB;
      padding: 40px 24px 18px 24px;
      border-radius: 16px;
    }
    & .quick-action-hub-content-container {
      display: none;
      justify-content: center;
      align-items: center;
    }
    & .quick-action-hub-header {
      & h2 {
        font-size: var(--heading-font-size-m);
        text-align: left;
      }
      & p {
        font-size: var(--body-font-size-m);
        margin: 16px 0 32px 0;
        text-align: left;
      }
    }
    & .quick-action-hub-list-container {
      display: flex;
      flex-direction: column;
      & h3 {
        font-size: var(--body-font-size-xl);
        font-weight: var(--body-font-weight);
        margin-bottom: 8px;
        text-align: left;
        &:not(:first-child) {
          margin-top: 28px;
        }
      }
      & img {
        min-width: 18px;
        min-height: 18px;
        width: 18px;
        height: 18px;
        padding: 0 12px;
      }
      & svg {
        min-width: 18px;
        min-height: 18px;
        width: 18px;
        height: 18px;
        padding: 0 12px;
      }
      & a {
        display: flex;
        align-items: center;
        color: var(--body-color);
        font-weight: var(--body-font-weight);
        font-size: var(--body-font-size-m);
        margin: 8px 0;
        user-select: none;
        text-align: left;
      }
    }
    & .quick-action-hub-column {
      display: flex;
      flex-direction: column;
      margin-bottom: 28px;
    }
  }
}
@media (min-width: 900px) {
  main {
    & .section {
      & > div {
        &.quick-action-hub-wrapper {
          max-width: 830px;
          padding: 0;
        }
      }
    }
    & .quick-action-hub {
      & .quick-action-hub-container {
        padding: 40px 54px;
      }
      & .quick-action-hub-header {
        & p {
          max-width: 640px;
        }
      }
      & .quick-action-hub-list-container {
        flex-direction: row;
        gap: 24px;
        & a {
          width: 200px;
          padding: 8px 12px;
          border-radius: 8px;
          &:hover {
            background-color: var(--color-gray-200);
          }
        }
        & img {
          padding: 0 12px 0 0;
        }
        & svg {
          padding: 0 12px 0 0;
        }
      }
      & .quick-action-hub-column {
        align-items: flex-start;
      }
    }
  }
}
@media (min-width: 1200px) {
  main {
    & .section {
      & > div {
        &.quick-action-hub-wrapper {
          max-width: unset;
        }
      }
    }
    & .quick-action-hub {
      & .quick-action-hub-container {
        border-radius: 16px 0 0 16px;
      }
      & .quick-action-hub-content-container {
        display: flex;
        padding: 60px;
        max-width: 380px;
        & svg {
          max-width: none;
        }
      }
      & .quick-action-hub-list-container {
        & a {
          margin: 0;
        }
      }
    }
  }
}