main .seo-nav-wrapper {
  max-width: 1200px;
}

main .section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .seo-nav-wrapper .seo-nav:not(.v2) {
  padding-top: 18px;
}

main .seo-nav {
  display: block;
  overflow: hidden;
  margin: auto;
  text-align: left;
  padding: 30px 28px 40px 28px;
  background-color: var(--color-gray-100);
  border-radius: 20px; 
}

main .seo-nav h2,
main .seo-nav h3,
main .seo-nav h4 {
  text-align: left;
}

main .seo-nav.center {
  width: fit-content;
  max-width: 100%;
}

main .seo-nav h3 {
  font-size: var(--heading-font-size-m);
  margin-bottom: var(--spacing-350);
}

main .seo-nav p {
  margin: 0 0 12px;
  line-height: 0;
}

main .seo-nav .carousel-platform {
  gap: 10px;
}

main .seo-nav p.current {
  pointer-events: none;
}

main .seo-nav p.current > a {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black);
}

main .seo-nav a.button.secondary {
  margin: var(--spacing-80) 0;
}

main .seo-nav p.seo-paragraph {
  font-size: var(--body-font-size-s);
  line-height: 21px;
  margin: 0 0 21px;
}

main .seo-nav .carousel-container .carousel-fader-left,
main .seo-nav .carousel-container .carousel-fader-right {
  width: 50px;
  pointer-events: none;
  top: -10px;
}

@media (min-width: 900px) {
  main .seo-nav-wrapper {
    padding: 0 50px;
  }

  main .seo-nav {
    text-align: left;
  }

  main .seo-nav h2,
  main .seo-nav h3,
  main .seo-nav h4 {
    text-align: left;
  }

  main .seo-nav .carousel-container .carousel-fader-left,
  main .seo-nav .carousel-container .carousel-fader-right {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  main .seo-nav-wrapper {
      padding: 0 55px;
      max-width: none;
  }
}


main .seo-nav .carousel-container {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

main .seo-nav div:nth-of-type(2) > div {
  min-height: 64px;
}

main .seo-nav.transparent-background {
  background: none;
  background-color: transparent;
}

main .seo-nav.v2 {
  padding: var(--spacing-600) var(--spacing-300);
  background: none;
}

main .seo-nav.v2 h3 {
  text-align: center;
  font-size: var(--ax-heading-m-size);
}

main .seo-nav.v2  .carousel-platform {
  gap: 10px;
  padding: 0;
}

main .seo-nav.v2 a.button.secondary {
  margin: 0;
}

main .seo-nav.v2 .carousel-container a.button.carousel-arrow {
  margin: -10px 10px 0px 10px;
}

main .seo-nav.v2 p.seo-paragraph {
  margin: 0px;
}

main .seo-nav.v2 .carousel-container .carousel-fader-left, 
main .seo-nav.v2 .carousel-container .carousel-fader-right {
  top: 0;
}

main .seo-nav.v2 div:nth-of-type(2) > div {
  min-height: unset;
}

main .seo-nav-wrapper.v2-wrapper {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  main .seo-nav .carousel-platform {
    scroll-padding: 0;
  }


  main .seo-nav.v2 h3 {
    font-size: var(--ax-body-xl-size);
  }
  main .seo-nav.v2 {
    padding: var(--spacing-600) var(--spacing-400);
    background: none;
  }
}

@media (min-width: 900px) {
 
  main .seo-nav.v2 {
    padding: var(--spacing-900) 0;
    max-width: 1200px;
  }

  main .seo-nav-wrapper.v2-wrapper {
    padding: 0;
    margin: auto;
  }

  main .seo-nav.v2 h3 {
    font-size: var(--ax-heading-xl-size);
  }
}


