.section {
  &.ax-link-list-v2-container {
    padding: var(--spacing-600) var(--ax-grid-margin);
    & div {
      & + .link-list-v2-wrapper {
        padding: 0 0 0 0;
      }
      &.link-list-v2-wrapper {
        &:has(.link-list-v2.fullwidth) {
          & .link-list-v2 {
            text-align: center;
            & h2 {
              text-align: center;
            }
            & h3 {
              text-align: center;
            }
            & h4 {
              text-align: center;
            }
            & .carousel-platform {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
    & .link-list-v2-wrapper {
      &:has(.link-list-v2:is([class*=" "])) {
        max-width: 375px;
      }
      & .link-list-v2 {
        &.narrow {
          max-width: 850px;
        }
        &.noarrows {
          margin-top: 0;
          & > div {
            &:first-of-type {
              & > div {
                & > p {
                  &:first-of-type {
                    font-weight: 800;
                    font-size: 16px;
                    margin: 0 12px 4px 12px;
                  }
                }
              }
            }
          }
          & .carousel-fader-right {
            display: none;
          }
          & .carousel-fader-left {
            display: none;
          }
          & p {
            &.button-container {
              margin: 0 8px;
              & .button {
                &.medium {
                  &.secondary {
                    padding: 3px 14px;
                  }
                }
              }
            }
          }
        }
      }
      &:has(.link-list-v2.fullwidth) {
        box-sizing: border-box;
        width: fit-content;
        max-width: 100%;
        padding-top: 0;
      }
      &:has(.link-list-v2.fullwidth.leftalign) {
        padding-top: 0;
        margin-left: 0;
      }
    }
    & .link-list-v2 {
      display: block;
      overflow: hidden;
      width: var(--ax-grid-12-col-width);
      text-align: left;
      &.fullwidth {
        max-width: 100%;
        margin-top: 0;
      }
      &.centered {
        box-sizing: border-box;
        max-width: 92%;
        width: max-content;
        & .carousel-container {
          & .carousel-platform {
            box-sizing: border-box;
          }
        }
        & .carousel-platform {
          margin: auto;
          & p {
            &.button-container {
              &:first-child {
                margin-left: unset;
              }
            }
          }
        }
        & div {
          &:first-child {
            & h3 {
              width: fit-content;
              margin: auto auto 20px auto;
            }
          }
        }
      }
      &.shaded {
        margin-top: 8px;
        margin-bottom: 24px;
        background-color: #EDEDED;
        border-radius: 100px;
        & .carousel-container {
          & .carousel-platform {
            padding: 4px;
          }
        }
        & p {
          &.button-container {
            margin: 0 2px;
            & .button {
              margin: 0;
              padding: 2px 16px;
              background-color: transparent;
              color: var(--color-black);
              border: none;
              &:hover {
                background-color: var(--color-white);
              }
            }
            &.active {
              & .button {
                background-color: var(--color-white);
              }
            }
          }
        }
      }
      & h2 {
        text-align: left;
      }
      & h3 {
        text-align: left;
        font-size: var(--heading-font-size-m);
        color: var(--color-gray-900);
        margin-bottom: 20px;
        padding-left: 0;
      }
      & h4 {
        text-align: left;
      }
      & p {
        &.button-container {
          margin: 0 10px;
          line-height: 0;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
      & a {
        &.button {
          &.secondary {
            margin: 6px 0;
            padding: var(--spacing-100) var(--spacing-300) 10px;
            border-radius: 100px;
            color: var(--color-gray-900);
            border: none;
            background-color: var(--color-light-gray);
            &:active {
              background-color: var(--color-gray-400-variant);
            }
            &:hover {
              background-color: var(--color-gray-300-variant);
            }
            &:focus {
              background-color: var(--color-gray-300-variant);
            }
          }
        }
      }
      & .carousel-container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
      }
      & .carousel-platform {
        scroll-padding: 32px;
        padding-left: 4px;
        & p {
          &.button-container {
            &:first-child {
              margin-left: 32px;
            }
          }
        }
      }
      &.large {
        & p {
          &.button-container {
            & .button {
              padding: 12px 24px;
              border-radius: 24px;
            }
          }
        }
      }
      &.left-align {
        margin-top: 0;
        margin-bottom: 75px;
        & h3 {
          padding-left: 0;
        }
        & .button-container {
          margin-left: 0;
        }
      }
    }
    & .hero-animation-wrapper {
      & + .link-list-v2-wrapper {
        & .link-list-v2 {
          margin-top: 16px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .section {
    &.ax-link-list-v2-container {
      max-width: 1600px;
      padding: var(--spacing-600) 32px;
      & .link-list-v2 {
        text-align: left;
        &.content-group {
          width: 648px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0;
          margin-bottom: 70px;
          & h3 {
            padding-left: 0;
          }
        }
        & h2 {
          text-align: left;
        }
        & h3 {
          text-align: left;
        }
        & h4 {
          text-align: left;
        }
        & .carousel-platform {
          scroll-padding: 0;
        }
        &.fullwidth {
          &.leftalign {
            & .carousel-platform {
              & p {
                &.button-container {
                  &:first-child {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
      & div {
        & + .link-list-v2-wrapper {
          padding-top: 0px;
        }
        &.link-list-v2-wrapper {
          &:has(.link-list-v2.fullwidth.leftalign) {
            & .link-list-v2 {
              padding-left: 0;
              & h2 {
                padding-left: 0;
              }
              & h3 {
                padding-left: 0;
              }
              & h4 {
                padding-left: 0;
              }
            }
          }
        }
      }
      & .link-list-v2-wrapper {
        &:has(.link-list-v2:is([class*=" "])) {
          max-width: 830px;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .section {
    &.ax-link-list-v2-container {
      max-width: 1600px;
      margin: 0 auto;
      padding: var(--spacing-600);
    }
  }
}