main {
  & .section {
    & .make-a-project-wrapper {
      &:has(.make-a-project.centered) {
        max-width: 375px;
        margin: 0 auto;
      }
    }
    &:has(.make-a-project) {
      & h2 {
        margin: 80px 0 40px;
      }
      &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
        & .content {
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }
  & .make-a-project {
    display: flex;
    flex-direction: column;
    word-wrap: initial;
    & .make-a-project-marquee {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      text-align: left;
      & > div {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }
      & h2 {
        margin: 20px 15px;
        font-size: var(--heading-font-size-m);
        line-height: 1;
        margin-bottom: 16px;
      }
      & p {
        margin: 20px 15px;
      }
      & ul {
        list-style: none;
        padding: 20px 15px;
        display: flex;
        margin: 0;
        overflow-x: auto;
        max-width: 100vw;
      }
    }
    &.dark {
      & .make-a-project-marquee {
        background-color: var(--color-gray-800);
        color: var(--color-white);
        & h2 {
          font-size: var(--heading-font-size-xl);
          text-align: left;
        }
      }
    }
    & p {
      font-size: var(--body-font-size-xl);
      &:first-child {
        & .icon {
          height: 32px;
          width: auto;
        }
      }
    }
    & .make-a-project-description {
      font-size: var(--body-font-size-xl);
      line-height: var(--body-line-height);
      margin: 32px auto;
      max-width: 500px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 30px;
      text-align: left;
      & > p {
        &:first-child {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      & p {
        &.button-container {
          text-align: left;
        }
      }
      & a {
        &.button {
          margin: 0;
        }
      }
    }
    & li {
      max-width: 60px;
      padding-right: 22px;
      display: flex;
      position: relative;
      flex-direction: column;
      text-align: center;
      font-size: var(--body-font-size-s);
      font-weight: 600;
      &:last-of-type {
        padding-right: 15px;
      }
      & a {
        &:any-link {
          color: var(--color-white);
        }
      }
      & img {
        position: absolute;
        top: 19px;
        left: 19px;
        width: 22px;
        height: 22px;
        fill: currentColor;
        display: flex;
        flex-direction: column;
      }
      & svg {
        position: absolute;
        top: 19px;
        left: 19px;
        width: 22px;
        height: 22px;
        fill: currentColor;
        display: flex;
        flex-direction: column;
      }
      &::before {
        float: left;
        content: " ";
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--color-gray-700);
        margin-bottom: 10px;
      }
    }
    & .make-a-project-projectlist {
      & .make-a-project-item {
        margin: 0 24px;
        &:first-child {
          margin-left: 0;
          padding-left: 12px;
        }
        & > div {
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          position: relative;
          & a {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            position: relative;
          }
          &:first-child {
            & > div {
              &:first-child {
                overflow: hidden;
                border-radius: 10px;
                margin-bottom: 12px;
                position: relative;
                z-index: 0;
              }
            }
            & > a {
              & > div {
                &:first-child {
                  overflow: hidden;
                  border-radius: 10px;
                  margin-bottom: 12px;
                  position: relative;
                  z-index: 0;
                }
              }
            }
          }
        }
        & .button-container {
          margin-top: 12px;
          padding-bottom: 16px;
        }
        & a {
          &:any-link {
            font-weight: 400;
            color: var(--color-info-accent);
            transition: color 0.3s;
            &:hover {
              color: var(--color-info-accent-hover);
            }
          }
        }
        & picture {
          max-height: 175px;
          max-width: 168px;
          display: block;
          display: flex;
          align-items: flex-end;
          overflow: hidden;
          transition: transform 0.3s ease-in-out;
        }
        & img {
          max-height: 175px;
          max-width: 168px;
          width: auto;
          height: auto;
        }
        & .make-a-project-icon {
          position: absolute;
          top: 130px;
          right: -20px;
          white-space: nowrap;
          color: white;
          & > div {
            height: 100%;
            width: 100%;
            position: relative;
            & svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: none;
            }
            & img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: none;
            }
          }
          &:not(:empty) {
            background: var(--color-black);
            color: white;
            border-radius: 100px;
            height: 50px;
            width: 50px;
            box-sizing: border-box;
          }
          & a {
            &:any-link {
              white-space: nowrap;
              color: white;
            }
          }
          & svg {
            white-space: nowrap;
            color: white;
            object-fit: contain;
            height: 24px;
            width: 24px;
            filter: invert(100%) sepia(8%) saturate(7468%) hue-rotate(290deg) brightness(109%) contrast(109%);
          }
          & p {
            white-space: nowrap;
            color: white;
          }
          & img {
            object-fit: contain;
            height: 24px;
            width: 24px;
          }
        }
        & .make-a-project-numbers {
          height: 24px;
          margin-top: 8px;
          white-space: nowrap;
          font-size: var(--body-font-size-xs);
          line-height: 1;
          color: var(--color-info-accent);
          &:not(:empty) {
            border-radius: 32px;
            background: var(--color-info-accent-light);
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        & .make-a-project-item-svg-image {
          color: #484848;
          height: 82px;
          width: 82px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          box-sizing: border-box;
          border: 3px dashed var(--color-gray-200);
          & svg {
            height: 36px;
            width: 36px;
            color: var(--color-gray-700);
            filter: invert(27%) sepia(7%) saturate(3%) hue-rotate(356deg) brightness(97%) contrast(92%);
          }
        }
      }
      & div {
        &.make-a-project-item {
          &:nth-child(2) {
            & img {
              max-height: 171px;
            }
          }
          &:nth-child(3) {
            & img {
              max-height: 120px;
            }
          }
          &:nth-child(5) {
            & img {
              max-height: 111px;
            }
          }
        }
      }
      & .make-a-project-item-svg-image {
        display: block;
      }
      & .carousel-platform {
        align-items: stretch;
      }
    }
    & div {
      &.make-a-project-marquee {
        & h2 {
          margin-bottom: 35px;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  main {
    & .make-a-project {
      & .make-a-project-projectlist {
        & .make-a-project-item {
          &:hover {
            & picture {
              transform: scale(1.05);
            }
          }
          &:first-child {
            padding-left: 32px;
          }
        }
      }
      & .make-a-project-description {
        max-width: 1264px;
        text-align: center;
        & p {
          &.button-container {
            text-align: center;
          }
        }
      }
      & .make-a-project-marquee {
        height: unset;
        & > div {
          max-width: 1264px;
          & > div {
            & > ul {
              margin: 0;
              margin-bottom: 20px;
              padding-left: 40px;
            }
          }
        }
        & .make-a-project-CTA {
          padding: 0 40px;
          box-sizing: border-box;
        }
        & h2 {
          margin-left: 0;
          margin-right: 0;
        }
        & p {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
@media (min-width: 900px) {
  main {
    & .make-a-project {
      & .make-a-project-projectlist {
        & .make-a-project-item {
          margin: 0 32px;
        }
      }
      & .make-a-project-marquee {
        & h2 {
          margin-bottom: 0;
        }
      }
    }
    & .section {
      & .make-a-project-wrapper {
        &:has(.make-a-project.centered) {
          max-width: 830px;
        }
      }
    }
  }
}
main {
  & .make-a-project {
    &:not(.dark) {
      & .make-a-project-CTA {
        max-width: 800px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 15px;
        & h2 {
          margin-left: 0;
          margin-right: 0;
          text-align: left;
        }
      }
    }
  }
}
@media (min-width: 950px) {
  main {
    & .make-a-project {
      &:not(.dark) {
        & .make-a-project-CTA {
          padding-top: 0;
          padding-bottom: 0;
          transform: translateY(10px);
          & h2 {
            text-align: center;
          }
        }
        & .make-a-project-marquee {
          padding-top: 8px;
          padding-bottom: 0;
        }
        & .carousel-container {
          margin-bottom: 0;
        }
        & .carousel-platform {
          padding-bottom: 0;
        }
      }
    }
  }
}
main {
  & .hero-animation-wrapper {
    & + .make-a-project-wrapper {
      & .make-a-project-CTA {
        & h2 {
          margin-top: 0;
        }
      }
    }
  }
  & .hero-animation-wide-container {
    & .hero-animation-wrapper {
      background: var(--color-gray-100);
      & + .make-a-project-wrapper {
        background: -webkit-linear-gradient(180deg, var(--color-gray-100) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(180deg, var(--color-gray-100) 0%, rgba(255,255,255,0) 100%);
        & .make-a-project-item {
          &:nth-child(2) {
            & img {
              max-height: 171px;
            }
          }
          &:nth-child(3) {
            & img {
              max-height: 120px;
            }
          }
          &:nth-child(5) {
            & img {
              max-height: 111px;
            }
          }
          &:nth-child(7) {
            & img {
              max-height: 158px;
            }
          }
        }
      }
    }
  }
  & .make-a-project {
    & .free-plan-widget {
      margin: 32px auto -64px;
    }
    & .carousel-container {
      & .carousel-platform {
        padding-top: 0;
      }
    }
  }
  & .content {
    & + .make-a-project-wrapper {
      & > .make-a-project {
        padding-top: 40px;
      }
    }
  }
}
@media (min-width: 1200px) {
  main {
    & .section {
      & .make-a-project-wrapper {
        &:has(.make-a-project.centered) {
          max-width: 1024px;
        }
      }
    }
  }
}