.section {
  & div {
    & + .link-list-wrapper {
      padding: 0 0 0 0;
    }
  }
  & .link-list-wrapper {
    padding: 60px 0 0 0;
    margin: 0 auto;
    &:has(.link-list:is([class*=" "])) {
      max-width: 375px;
    }
  }
}

main {
  & .section {
    & .link-list-wrapper {
      &:has(.link-list.link-text) {
        padding: 0;
        margin: 0;
        max-width: unset;
      }
    }
    &.panel {
      & .link-list-wrapper {
        &:has(.link-list.link-text) {
          padding: 0;
          margin: 0;
          max-width: unset;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .section {
    & .link-list {
      &.link-text {
        overflow: visible;
        & .text-link-mobile {
          text-align: left;
          margin-top: var(--spacing-300);
        }
      }
    }
  }
  .section {
    & .link-list {
      &.inline {
        &.link-text {
          & h3 {
            margin-bottom: var(--spacing-300);
          }
        }
      }
    }
  }
}

.section {
  & .link-list-wrapper {
    & .link-list {
      &.narrow {
        max-width: 850px;
      }
      &.noarrows {
        margin-top: 0;
        & > div {
          &:first-of-type {
            & > div {
              & > p {
                &:first-of-type {
                  font-weight: 800;
                  font-size: var(--body-font-size-m);
                  margin: 0 var(--spacing-200) 4px var(--spacing-200);
                }
              }
            }
          }
        }
        & .carousel-fader-right {
          display: none;
        }
        & .carousel-fader-left {
          display: none;
        }
        & p {
          &.button-container {
            margin: 0 var(--spacing-100);
            & .button {
              &.medium {
                &.secondary {
                  padding: 3px 14px;
                }
              }
            }
          }
        }
      }
    }
    &:has(.link-list.fullwidth) {
      box-sizing: border-box;
      width: fit-content;
      max-width: 100%;
      padding-top: 0;
    }
    &:has(.link-list.fullwidth.leftalign) {
      padding-top: 0;
      margin-left: 0;
    }
    &:has(.link-list.inline) {
      max-width: initial;
    }
  }
  & .link-list {
    display: block;
    overflow: hidden;
    margin: var(--spacing-600) auto;
    width: 100%;
    text-align: left;
    &.fullwidth {
      max-width: 100%;
      margin-top: 0;
    }
    &.centered {
      box-sizing: border-box;
      max-width: 92%;
      width: max-content;
      & .carousel-container {
        & .carousel-platform {
          box-sizing: border-box;
        }
      }
      & .carousel-platform {
        margin: auto;
        & p {
          &.button-container {
            &:first-child {
              margin-left: unset;
            }
          }
        }
      }
      & div {
        &:first-child {
          & h3 {
            width: fit-content;
            margin: auto auto 20px auto;
          }
        }
      }
    }
    &.shaded {
      margin-top: var(--spacing-100);
      margin-bottom: var(--spacing-400);
      background-color: #EDEDED;
      border-radius: 100px;
      & .carousel-container {
        & .carousel-platform {
          padding: 4px;
        }
      }
      & p {
        &.button-container {
          margin: 0 2px;
          & .button {
            margin: 0;
            padding: 2px var(--spacing-300);
            background-color: transparent;
            color: var(--color-black);
            border: none;
            &:hover {
              background-color: var(--color-white);
            }
          }
          &.active {
            & .button {
              background-color: var(--color-white);
            }
          }
        }
      }
    }
    & h2 {
      text-align: left;
      padding-left: var(--spacing-500);
    }
    & h3 {
      text-align: left;
      padding-left: var(--spacing-500);
      font-size: var(--heading-font-size-m);
      margin-bottom: 20px;
    }
    & h4 {
      text-align: left;
      padding-left: var(--spacing-500);
    }
    & p {
      &.button-container {
        margin: 0 10px;
        line-height: 0;
      }
    }
    & a {
      &.button {
        &.secondary {
          margin: 6px 0;
          color: var(--color-gray-900);
          background-color: var(--color-light-gray);
          &:active {
            background-color: var(--color-gray-400-variant);
          }
          &:hover {
            background-color: var(--color-gray-300-variant);
          }
          &:focus {
            background-color: var(--color-gray-300-variant);
          }
        }
      }
    }
    & .carousel-container {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    & .carousel-platform {
      scroll-padding: var(--spacing-500);
      & p {
        &.button-container {
          &:first-child {
            margin-left: var(--spacing-500);
          }
        }
      }
    }
    &.large {
      & p {
        &.button-container {
          & .button {
            padding: var(--spacing-200) var(--spacing-400);
            border-radius: 24px;
          }
        }
      }
    }
    &.left-align {
      margin-top: 0;
      margin-bottom: 75px;
      & h3 {
        padding-left: 0;
      }
      & .button-container {
        margin-left: 0;
      }
    }
    &.inline {
      margin: 0 auto;
      & h3 {
        margin-bottom: 0;
        padding-left: 0;
        font-size: var(--body-font-size-m);
        font-weight: 700;
        line-height: 1.3;
        white-space: nowrap;
        color: var(--color-gray-950);
      }
    }
  }
  & div {
    &.link-list-wrapper {
      &:has(.link-list.fullwidth) {
        & .link-list {
          text-align: center;
          & h2 {
            text-align: center;
          }
          & h3 {
            text-align: center;
          }
          & h4 {
            text-align: center;
          }
          & .carousel-platform {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  & .hero-animation-wrapper {
    & + .link-list-wrapper {
      & .link-list {
        margin-top: var(--spacing-300);
      }
    }
  }
}

.section {
  & .link-list {
    &.inline {
      & .button-container {
        margin-left: 4px;
        margin-right: var(--spacing-200);
      }
    }
    &.square {
      & .button-container {
        & .button {
          border-radius: 8px;
          border: 2px solid rgba(0, 0, 0, 0.15);
          padding: var(--spacing-100) var(--spacing-200);
          line-height: 1.3;
          font-weight: 700;
          color: var(--color-gray-800-variant);
          background-color: var(--color-white);
        }
        &:hover {
          & .button {
            background-color: var(--color-gray-250);
            transition: background-color .1s ease-out;
          }
        }
        &:focus-within {
          & .button {
            background-color: var(--color-gray-250);
            transition: background-color .1s ease-out;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .section {
    & .link-list {
      &.inline {
        display: flex;
        align-items: center;
        gap: var(--spacing-300);
        & .carousel-container {
          min-width: 0;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .section {
    & .link-list {
      text-align: left;
      &.content-group {
        width: 648px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 70px;
        & h3 {
          padding-left: 0;
        }
      }
      & h2 {
        text-align: left;
      }
      & h3 {
        text-align: left;
      }
      & h4 {
        text-align: left;
      }
      & .carousel-platform {
        scroll-padding: 0;
      }
      &.fullwidth {
        &.leftalign {
          & .carousel-platform {
            & p {
              &.button-container {
                &:first-child {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
    & div {
      & + .link-list-wrapper {
        padding-top: 0px;
      }
      &.link-list-wrapper {
        &:has(.link-list.fullwidth.leftalign) {
          & .link-list {
            padding-left: 0;
            & h2 {
              padding-left: 0;
            }
            & h3 {
              padding-left: 0;
            }
            & h4 {
              padding-left: 0;
            }
          }
        }
      }
    }
    & .link-list-wrapper {
      padding: 60px 50px 0 50px;
      margin: 0 auto;
      &:has(.link-list:is([class*=" "])) {
        max-width: 830px;
      }
      &:has(.link-list.inline) {
        max-width: initial;
      }
    }
  }
}

@media (min-width: 1200px) {
  .section {
    & .link-list-wrapper {
      padding: 60px 50px 0 50px;
      max-width: 1200px;
      &:has(.link-list:is([class*=" "])) {
        max-width: 1024px;
      }
      &:has(.link-list.inline) {
        max-width: initial;
      }
    }
  }
}

.section {
  & .link-list {
    & p {
      &.button-container {
        &.text-link {
          & a {
            &.text-link {
              background: none;
              border: none;
              padding: 0;
              color: var(--color-gray-800-variant);
              text-decoration: underline;
              font-size: var(--body-font-size-s);
              font-weight: normal;
              cursor: pointer;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    &.link-text {
      & p {
        &.button-container {
          & a {
            &:not(.text-link) {
              background-color: var(--color-gray-100);
              color: var(--color-gray-800-variant);
              &:hover {
                background-color: #e0e0e0;
              }
            }
          }
        }
      }
    }
  }
}