main .app-banner * {
    color: var(--color-white);
}

main .section:has(.app-banner) {
    padding: 0;
    position: fixed;
    bottom: var(--spacing-300);
    left: 0;
    right: 0;
    z-index: 3;
    margin: auto;
}

main .section:has(.app-banner) .gradient-background {
    position: fixed;
    opacity: 0;
    height: 150px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.95) 70%, rgba(255,255,255,1) 78%);
    max-width: none;
    z-index: -1;
    transition: opacity 0.6s;
    pointer-events: none;
}

main .section:has(.app-banner) .gradient-background.show {
    opacity: 1;
}

main .app-banner-wrapper {
    display: flex;
    justify-content: center;
    max-width: 375px;
    margin: 0 auto;
}

main .app-banner {
    position: relative;
    display: none;
    background-color: #00091B;
    padding-left: 13px;
    gap: var(--spacing-200);
    height: var(--spacing-900);
    width: 94vw;
    border-radius: 26px;
    transform: translateY(120px);
    transition: transform 0.6s;
}

main .app-banner.appear {
    transform: translateY(0);
}

@media only screen and (max-width: 900px) {
    main .app-banner.show {
        display: flex;
    }
}

main .app-banner .main-img {
    width: 50px;
    height: 50px;
    align-self: center;
    border: solid #333C4A 1px;
    border-radius: var(--border-radius-10);
}

main .app-banner .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-80);
}

main .app-banner h2 {
    font-size: var(--body-font-size-s);
}

main .app-banner .app-details {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
}

main .app-banner .button.small {
    margin: 0;
}

main .app-banner .ratings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100);
}

main .app-banner .rating-stars {
    height: 11px;
}

main .app-banner .rating-stars > svg {
    font-size: var(--body-font-size-xs);
}

main .app-banner .rating-text {
    font-size: var(--body-font-size-xs);
}

main .app-banner .rating-stars >svg > use {
    color: var(--color-info-premium);
}

main .app-banner .sub-text-img {
    width: 70px;
    height: auto;
    align-self: flex-end;
}

main .app-banner .close-btn-div {
    background-color: #333A49;
    height: var(--ax-body-xl-size);
    width: var(--ax-body-xl-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}

main .app-banner .icon-close-icon {
    height: 9px;
    width: auto;
}
