.ax-marquee-dynamic-hero {
  padding: var(--spacing-600) var(--spacing-350);
  min-width: 320px;
  box-sizing: border-box;
  text-align: left;
  & .free-plan-container {
    text-align: left;
  }
  & .button-container {
    &.free-plan-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      & a {
        margin-bottom: 0;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

main {
  & .ax-marquee-dynamic-hero {
    & p {
      &.button-container {
        margin-top: 0;
        text-align: left;
      }
    }
  }
}

@media (min-width: 600px) {
  .ax-marquee-dynamic-hero {
    & .button-container {
      &.free-plan-container {
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-300);
        & a {
          margin-bottom: var(--spacing-400);
        }
      }
    }
    & .free-plan-widget {
      margin-top: 0;
    }
  }
}

.ax-marquee-dynamic-hero {
  & .free-plan-widget {
    margin-top: var(--spacing-400);
  }
  & > img {
    &.express-logo {
      width: 164px;
      margin: 0;
      margin-left: 0;
      padding-top: var(--spacing-600);
      display: block;
    }
  }
  & div {
    &:has(picture) {
      text-align: center;
      & img {
        &.express-logo {
          width: 164px;
          margin: 0;
          margin-left: 0;
          padding-top: var(--spacing-600);
          display: block;
        }
      }
      & picture {
        display: block;
        width: 100%;
        border-radius: var(--spacing-300);
        & img {
          width: 100%;
          height: auto;
          border-radius: var(--spacing-300);
          max-width: 835px;
        }
      }
    }
    &:has(h1, h2, h3) {
      & img {
        &.express-logo {
          width: 164px;
          margin: 0;
          margin-left: 0;
          padding-top: var(--spacing-600);
          display: block;
        }
      }
    }
  }
  & .video-container {
    & video {
      pointer-events: none;
      border-radius: var(--spacing-300);
      &::-webkit-media-controls {
        display: none;
      }
      &::-webkit-media-controls-panel {
        display: none;
      }
      &::-webkit-media-controls-play-button {
        display: none;
      }
      &::-webkit-media-controls-start-playback-button {
        display: none;
      }
    }
  }
  & .video-controls-wrapper {
    background-color: var(--color-white);
  }
  & .accessibility-control {
    &.icon-pause-video {
      filter: invert(100%);
    }
    &.icon-play-video {
      filter: invert(100%);
    }
  }
  & .button-container {
    & a {
      &.button {
        background-color: var(--color-background-accent-default);
        padding-top: var(--spacing-200);
        padding-bottom: var(--spacing-200);
        border-radius: var(--body-font-size-xl);
        width: 183px;
        font-size: var(--body-font-size-m);
        font-style: normal;
        font-weight: var(--subheading-font-weight);
        line-height: 125%;
      }
    }
  }
  & [class*="heading"] {
    &:first-of-type {
      font-size: var(--heading-font-size-l);
      text-align: left;
      & + p {
        margin-top: var(--spacing-300);
        margin-bottom: var(--spacing-400);
        font-size: var(--body-font-size-m);
        text-align: left;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .ax-marquee-dynamic-hero {
    padding: var(--spacing-600) var(--spacing-500);
    & > div {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1023px) {
  .ax-marquee-dynamic-hero {
    &.hero-top-mobile {
      display: flex;
      flex-direction: column;
      & > div {
        display: flex;
        flex-direction: column;
        & > div {
          &:has(picture) {
            order: -1;
          }
          &:nth-child(1) {
            order: 1;
          }
        }
      }
      & > img {
        &.express-logo {
          order: 0;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .ax-marquee-dynamic-hero {
    padding: var(--spacing-900) var(--spacing-600);
    max-width: 1440px;
    margin: 0 auto;
    & > div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--spacing-600);
      & > div {
        &:first-child {
          flex: 0 0 auto;
          max-width: 50%;
        }
        &:has(picture) {
          flex: 1;
          text-align: right;
        }
      }
    }
    & > img {
      &.express-logo {
        display: block;
      }
    }
    & div {
      &:has(picture) {
        & img {
          &.express-logo {
            display: block;
          }
        }
      }
      &:has(h1, h2, h3) {
        & img {
          &.express-logo {
            display: block;
          }
        }
      }
    }
    & [class*="heading"] {
      &:first-of-type {
        text-align: left;
        & + p {
          text-align: left;
        }
      }
    }
  }

  main {
    & .ax-marquee-dynamic-hero {
      & p {
        &.button-container {
          text-align: left;
        }
      }
    }
  }
}