.section {
  & .grid-marquee-hero {
    max-width: initial;
    text-align: center;
  }
}

.grid-marquee-hero {
  & .express-logo {
    width: initial;
    height: 30px;
    padding: 1rem 0 1rem;
  }
  & strong {
    font-family: var(--body-font-family);
  }
  & a {
    font-family: var(--body-font-family);
  }
  & button {
    font-family: var(--body-font-family);
  }
  & .headline {
    padding-bottom: 24px;
    max-width: 340px;
    & p {
      margin: 0;
      font-size: 1rem;
    }
    & .ctas {
      display: none;
    }
    & a {
      &:not(.primaryCTA) {
        background-color: var(--color-black);
        border-color: var(--color-black);
      }
    }
  }
  & .foreground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

main {
  & .section {
    & .grid-marquee-hero {
      & h1 {
        font-size: var(--heading-font-size-m);
        padding-bottom: 8px;
      }
    }
  }
}

@media (min-width: 768px) {
  .grid-marquee-hero {
    & .headline {
      max-width: 1200px;
      & .ctas {
        display: flex;
        margin-top: var(--spacing-300);
        padding-top: var(--spacing-300);
        justify-content: center;
        gap: var(--spacing-100);
      }
      & a {
        &.button {
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    & .section {
      & .grid-marquee-hero {
        & h1 {
          font-size: var(--heading-font-size-l);
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .grid-marquee-hero {
    & .express-logo {
      padding-top: var(--spacing-600);
    }
    & .headline {
      max-width: var(--block-wd-grid-max-width);
      padding-bottom: var(--spacing-600);
      &.no-cta {
        padding-bottom: 0;
      }
      & .ctas {
        padding-top: var(--spacing-400);
      }
      & a {
        &.button {
          border-width: 1px;
          padding: 12px 24px 13px 24px;
          font-size: var(--body-font-size-l);
          border-radius: 50px;
          line-height: 23.4px;
        }
      }
    }
  }

  main {
    & .section {
      & .grid-marquee-hero {
        & h1 {
          font-size: var(--heading-font-size-xl);
        }
      }
    }
  }
}