main .floating-button-wrapper.mobile-fork-button-unity,
main .mobile-fork-button-unity {
  --mfb-outside-spacing: calc(var(--spacing-300) * 2);

  z-index: 10;
  padding: 0;
}

main .floating-button-wrapper.mobile-fork-button-unity.floating-button--hidden {
  bottom: -300px;
}


main .mobile-fork-button-unity .floating-button.block {
  background-color: var(--color-white);
  border-radius: var(--Radius-corner-radius-200);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  padding: var(--spacing-300);
  width: calc(100% - var(--mfb-outside-spacing));
  max-width: 480px;
  margin-bottom: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

main .mobile-fork-button-unity .mobile-gating-header {
  font-size: var(--typography-title-xs);
  line-height: var(--typography-line-height-Title-xs);
  font-weight: 700;
  text-align: center;
  margin-bottom: var(--spacing-200);
  color: var(--Alias-content-typography-Title);
}

main .mobile-fork-button-unity .mobile-gating-row {
  display: flex;
  min-height: 40px;
}

main .mobile-fork-button-unity .floating-button a.button:any-link {
  border-radius: 24px;
  font-size: var(--ax-body-m-size);
  line-height: 22px;
  width: 100%;
  margin: auto;
  padding: var(--button-padding-top) var(--spacing-400);
}

main .mobile-fork-button-unity .floating-button a.button:any-link.accent {
  color: var(--color-white);
  background-color: var(--Buttons-default);
  border-color: var(--Buttons-default);
}

main .mobile-fork-button-unity .floating-button a.button:any-link.accent:hover {
  background-color: var(--Buttons-hover);
  border-color: var(--Buttons-hover);
}

main .mobile-fork-button-unity .floating-button a.button:any-link.outline {
  background-color: var(--color-white);
  border: 2px solid var(--Background-secondary-default);
  color: var(--Palette-gray-800);
}

main .mobile-fork-button-unity.floating-button--hidden .floating-button.block {
  margin-bottom: -10px;
}
