.section {
  &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
  .l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
    &:not(:first-of-type) {
      & .how-to-cards {
        &:first-child {
          padding-top: var(--spacing-700);
        }
      }
    }
  }
}

.how-to-cards {
  --radius-pill: 50px;
  --status-dot-size: 6px;
  --status-curr-width: 30px;
  --block-padding: var(--spacing-600);
  --side-padding: 20px;
  padding: var(--block-padding) 0px var(--block-padding) 0px;
  &:has(.gallery-control.hide) {
    padding: var(--block-padding)  var(--side-padding) var(--block-padding) 0px;
    & .cards-container {
      overflow: hidden;
    }
  }
  & h3 {
    font-size: var(--heading-font-size-s);
    text-align: left;
    line-height: 26px;
    margin-top: 0;
  }
  & .text {
    padding: 0 var(--side-padding);
    & h2 {
      text-align: left;
      font-size: var(--heading-font-size-m);
    }
    & p {
      text-align: left;
      margin: 0;
      padding: var(--spacing-100) 0 var(--spacing-500) 0;
      font-size: var(--body-font-size-l);
    }
  }
  & .card {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: var(--spacing-400);
    border-radius: var(--spacing-200);
    background-color: var(--color-gray-150);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    &:last-child {
      margin-right: calc(2 * var(--side-padding));
    }
    & p {
      font-size: var(--body-font-size-s);
      text-align: left;
      margin: 0px;
    }
    &:hover {
      background-color: var(--color-gray-200);
      transition: background-color .5s cubic-bezier(0.19, 1, 0.22, 1);
      & .number-bg {
        height: 100%;
        transition: height .5s cubic-bezier(0.19, 1, 0.22, 1);
      }
      & .number-txt {
        color: white;
        transition: color .1s linear;
      }
    }
    &:focus {
      background-color: var(--color-gray-200);
      transition: background-color .5s cubic-bezier(0.19, 1, 0.22, 1);
      & .number-bg {
        height: 100%;
        transition: height .5s cubic-bezier(0.19, 1, 0.22, 1);
      }
      & .number-txt {
        color: white;
        transition: color .1s linear;
      }
    }
    &:not(:hover) {
      transition: background-color .2s cubic-bezier(0.19, 1, 0.22, 1);
      & .number-bg {
        transition: height .2s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
  & .cards-container {
    padding-left: var(--side-padding);
  }
  & .number {
    position: relative;
    font-weight: var(--subheading-font-weight);
    border-radius: 50%;
    background-color: var(--color-white);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  & .number-txt {
    z-index: 1;
  }
  & .number-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: height .5s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--color-black);
  }
}

@media (min-width: 480px) {
  .how-to-cards {
    & .card {
      width: 322px;
    }
  }
}

@media (min-width: 768px) {
  .how-to-cards {
    max-width: var(--block-wd-max-width);
    box-sizing: border-box;
    --block-padding: var(--spacing-900);
    --side-padding: var(--spacing-500);
    &.cards-count-4 {
      & .cards-container {
        width: 100vw;
      }
    }
    &.cards-count-5 {
      & .cards-container {
        width: 100vw;
      }
    }
    &.cards-count-6 {
      & .cards-container {
        width: 100vw;
      }
    }
  }
}

@media (min-width: 1280px) {
  .how-to-cards {
    --side-padding: var(--spacing-600);
  }
}

@media (min-width: 1440px) {
  .how-to-cards {
    max-width: var(--block-wd-grid-max-width);
    margin: auto;
    box-sizing: border-box;
    &.cards-count-4 {
      & .card {
        width: calc((100% - var(--spacing-700)) / 4);
      }
      & .cards-container {
        width: unset;
      }
    }
    & .cards-container {
      width: 100vw;
    }
    &.cards-count-3 {
      & .cards-container {
        width: unset;
      }
    }
  }
}

@media (min-width: 1680px) {
  .how-to-cards {
    margin: auto;
    max-width: 1680px;
    & .card {
      width: 382px;
    }
    &.cards-count-6 {
      & .card {
        width: 301px;
      }
      & .cards-container {
        width: 100vw;
      }
    }
    &.cards-count-5 {
      & .card {
        width: 301px;
      }
    }
  }
}

@media (min-width: 900px) {
  .how-to-cards {
    &.cards-count-3 {
      & .card {
        width: calc((100% - var(--spacing-500)) / 3);
      }
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-300);
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  scroll-padding: 0 var(--spacing-300);
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
  &.center {
    &.gallery--all-displayed {
      justify-content: center;
    }
  }
}

.gallery--item {
  scroll-snap-align: start;
  width: calc(100% - var(--spacing-300));
}

.gallery-control {
  padding: var(--spacing-300) var(--spacing-300) 0;
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-100);
  align-items: center;
  &.hide {
    display: none;
  }
  & .hide {
    display: none;
  }
  &.loading {
    visibility: hidden;
  }
  & button {
    all: unset;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    box-shadow: 0px 2px 8px 0px #00000029;
    border-radius: var(--radius-pill);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    &:focus {
      outline: revert;
    }
    &:hover {
      &:not(:disabled) {
        background-color: var(--color-gray-300);
      }
    }
    &:disabled {
      cursor: auto;
      & .chevron-icon {
        opacity: 0.35;
      }
    }
    & .chevron-icon {
      width: 1.25rem;
      height: 1.25rem;
      transform-origin: center;
      display: block;
    }
    &.prev {
      & .chevron-icon {
        transform: rotate(-90deg) translate(0px, -1px);
      }
    }
    &.next {
      & .chevron-icon {
        transform: rotate(90deg) translate(0px, -1px);
      }
    }
  }
  & .status {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--color-white);
    box-shadow: 0px 2px 8px 0px #00000029;
    padding: var(--spacing-100) var(--spacing-300);
    border-radius: var(--radius-pill);
    height: var(--spacing-500);
    box-sizing: border-box;
    & .dot {
      border-radius: 50px;
      width: var(--status-dot-size);
      height: var(--status-dot-size);
      background-color: var(--color-gray-600);
      &.curr {
        width: var(--status-curr-width);
        background-color: var(--color-black);
      }
    }
  }
}