main .section:has(.card) {
  background-color: #F1F3F4;
  padding-top: var(--spacing-900);
}

.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing):has(.card):not([data-padding='none']) > .content:first-child {
  padding-top: 0;
}

main .section:has(.cards.highlight) {
  padding-left: 15px;
  padding-right: 15px;
}

.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing):has(.cards.highlight) {
  padding-top: 60px;
  padding-bottom: 120px;
}

main .section:has(.card) > div > h2:first-of-type {
  margin-top: var(--spacing-900);
}

main .section:has(.card) .content {
  margin: auto;
  max-width: 375px;
  padding: 0;
}

main .section:has(.cards.highlight) {
  background: var(--gradient-highlight-vertical);
}

main .section .cards {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 56px auto;
  max-width: 375px;
}

main .section .cards .card {
  background-color: var(--color-white);
  width: 100%;
  margin: 0 auto var(--spacing-300) auto;
  border-radius: var(--spacing-350);
  display: flex;
  flex-direction: column;
}

main .section .cards .card .card-image {
  box-sizing: border-box;
  border-radius: var(--spacing-350) var(--spacing-350) 0 0;
  min-height: 136px;
}

main .section .cards .card .card-image img {
  border-radius: var(--spacing-350) var(--spacing-350) 0 0;
}


main .section .cards .card .card-content {
  padding: var(--spacing-500) var(--spacing-500) var(--spacing-100) var(--spacing-500);
  color: #232323;
}

main .section .cards .card .card-content h2 {
  text-align: center;
  margin-bottom: var(--spacing-500);
}

main .section .cards .card .card-content p {
  margin-top: 0;
  text-align: center;
}

main .section .cards .card .card-content ul {
  text-align: left;
}

main .section .cards.dark .card {
  background-color: var(--color-black);
}

main .section .cards a.card {
  text-decoration: none;
}

main .section .cards.dark .card .card-content {
  color: var(--color-white);
}

main .section .cards.dark .card .card-image {
  background-color: #343434;
}

main .section .cards.large {
  gap: var(--spacing-500);
}

main .section .cards.large .card {
  margin: 0 auto;
}

main .section .cards.large .card .card-content {
  padding: var(--spacing-500) var(--spacing-500) var(--spacing-100) var(--spacing-500);
}

main .section .cards.large .card .card-content h2 {
  text-align: left;
  font-size: 1.375rem;
  line-height: 1.1;
  margin-bottom: var(--spacing-500);
}

main .section .cards.large .card .card-content p,
main .section .cards.large .card .card-content li {
 text-align: left;
  font-size: 1.125rem;
}

@media (min-width: 600px) {
  main .section .cards .card {
    width: 344px;
  }
}

@media (min-width:900px) {
  main .section:has(.card) .content {
    max-width: 830px;
  }

  main .section .cards {
    max-width: 1024px;
    width: unset;
    margin: var(--spacing-900) auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  main .section .cards .card {
    width: 248px;
    margin-right: var(--spacing-500);
    background-color: var(--color-white);
    box-shadow: 0 var(--spacing-75) var(--spacing-100) var(--spacing-50) rgba(102, 102, 102, 0.1);
    margin: 0 var(--spacing-350) var(--spacing-500) var(--spacing-350);
  }

  main .section .cards .card .card-image {
    background-color: #F1F3F4;
  }

  main .section .cards .card .card-content {
    padding: var(--spacing-300) var(--spacing-300) var(--spacing-100) var(--spacing-300);
  }

  main .section .cards .card .card-content h2 {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: var(--spacing-100);
  }

  main .section .cards .card .card-content p,
  main .section .cards .card .card-content li {
    font-size: 0.9rem;
  }

  main .section .cards.large {
    flex-wrap: wrap;
    gap: var(--spacing-600);
    width: 724px;
  }

  main .section .cards.large .card {
    width: 342px;
  }

  main .section .cards.featured .card:first-of-type {
    width: 724px;
    flex-direction: row;
  }

  main .section .cards.featured .card:first-of-type .card-image {
    border-top-left-radius: var(--spacing-350);
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--spacing-350);
    min-height: unset;
    min-width: 342px;
  }

  main .section .cards.featured .card:first-of-type .card-content {
    padding: var(--spacing-500) var(--spacing-600) var(--spacing-100) var(--spacing-600);
    min-height: 294px;
  }
}

@media (min-width:1200px) {
  main .section:has(.card) .content {
    max-width: 1024px;
  }
}
