main {
  & .section {
    &:has(.card) {
      background-color: #F1F3F4;
      padding-top: var(--spacing-900);
      & > div {
        & > h2 {
          &:first-of-type {
            margin-top: var(--spacing-900);
          }
        }
      }
      & .content {
        margin: auto;
        max-width: 375px;
        padding: 0;
      }
    }
    &:has(.cards.highlight) {
      padding-left: 15px;
      padding-right: 15px;
      background: var(--gradient-highlight-vertical);
    }
    & .cards {
      padding: 0;
      display: flex;
      flex-direction: column;
      margin: 56px auto;
      max-width: 375px;
      & .card {
        background-color: var(--color-white);
        width: 100%;
        margin: 0 auto var(--spacing-300) auto;
        border-radius: var(--spacing-350);
        display: flex;
        flex-direction: column;
        & .card-image {
          box-sizing: border-box;
          border-radius: var(--spacing-350) var(--spacing-350) 0 0;
          min-height: 136px;
          & img {
            border-radius: var(--spacing-350) var(--spacing-350) 0 0;
          }
        }
        & .card-content {
          padding: var(--spacing-500) var(--spacing-500) var(--spacing-100) var(--spacing-500);
          color: #232323;
          & h2 {
            text-align: center;
            margin-bottom: var(--spacing-500);
          }
          & p {
            margin-top: 0;
            text-align: center;
          }
          & ul {
            text-align: left;
          }
        }
      }
      &.dark {
        & .card {
          background-color: var(--color-black);
          & .card-content {
            color: var(--color-white);
          }
          & .card-image {
            background-color: #343434;
          }
        }
      }
      & a {
        &.card {
          text-decoration: none;
        }
      }
      &.large {
        gap: var(--spacing-500);
        & .card {
          margin: 0 auto;
          & .card-content {
            padding: var(--spacing-500) var(--spacing-500) var(--spacing-100) var(--spacing-500);
            & h2 {
              text-align: left;
              font-size: 1.375rem;
              line-height: 1.1;
              margin-bottom: var(--spacing-500);
            }
            & p {
              text-align: left;
              font-size: 1.125rem;
            }
            & li {
              text-align: left;
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }
}

.section {
  &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
    &:has(.card) {
      &:not([data-padding='none']) {
        & > .content {
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
    &:has(.cards.highlight) {
      padding-top: 60px;
      padding-bottom: 120px;
    }
  }
}

@media (min-width: 600px) {
  main {
    & .section {
      & .cards {
        & .card {
          width: 344px;
        }
      }
    }
  }
}

@media (min-width:900px) {
  main {
    & .section {
      &:has(.card) {
        & .content {
          max-width: 830px;
        }
      }
      & .cards {
        max-width: 1024px;
        width: unset;
        margin: var(--spacing-900) auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        & .card {
          width: 248px;
          margin-right: var(--spacing-500);
          background-color: var(--color-white);
          box-shadow: 0 var(--spacing-75) var(--spacing-100) var(--spacing-50) rgba(102, 102, 102, 0.1);
          margin: 0 var(--spacing-350) var(--spacing-500) var(--spacing-350);
          & .card-image {
            background-color: #F1F3F4;
          }
          & .card-content {
            padding: var(--spacing-300) var(--spacing-300) var(--spacing-100) var(--spacing-300);
            & h2 {
              text-align: center;
              font-size: 1.25rem;
              line-height: 1.2;
              margin-bottom: var(--spacing-100);
            }
            & p {
              font-size: 0.9rem;
            }
            & li {
              font-size: 0.9rem;
            }
          }
        }
        &.large {
          flex-wrap: wrap;
          gap: var(--spacing-600);
          width: 724px;
          & .card {
            width: 342px;
          }
        }
        &.featured {
          & .card {
            &:first-of-type {
              width: 724px;
              flex-direction: row;
              & .card-image {
                border-top-left-radius: var(--spacing-350);
                border-top-right-radius: 0;
                border-bottom-left-radius: var(--spacing-350);
                min-height: unset;
                min-width: 342px;
              }
              & .card-content {
                padding: var(--spacing-500) var(--spacing-600) var(--spacing-100) var(--spacing-600);
                min-height: 294px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:1200px) {
  main {
    & .section {
      &:has(.card) {
        & .content {
          max-width: 1024px;
        }
      }
    }
  }
}