.standalone-search-bar-wrapper {
  margin-bottom: var(--spacing-400);
}

.standalone-search-bar {
  max-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .search-header {
    text-align: center;
    margin-bottom: var(--spacing-400);
  }
  & .search-title {
    font-size: 28px;
    color: var(--color-gray-950);
    margin: 0 0 var(--spacing-200) 0;
    line-height: 1.2;
  }
  & .search-subtitle {
    font-size: var(--body-font-size-m);
    color: var(--color-gray-800-variant);
    margin: 0;
    line-height: 1.4;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  & .search-dropdown-container {
    background: var(--color-white);
    top: calc(100% + 6px);
    border-radius: 12px;
    box-shadow: 0 0 20px #00000029;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    z-index: 12;
    & .dropdown-title {
      margin: 0;
      font-size: var(--body-font-size-s);
      color: var(--color-gray-500);
    }
    & .trends-container {
      padding: 20px 28px 0;
      text-align: left;
      & .from-scratch-link {
        display: flex;
        align-items: center;
        gap: var(--spacing-100);
        margin-bottom: var(--spacing-300);
      }
      & ul {
        padding-left: 0;
        list-style: none;
        max-height: 216px;
        overflow: auto;
      }
      & .trends-wrapper {
        margin: 0;
        overflow-x: hidden;
        & li {
          cursor: pointer;
          margin: 0 var(--spacing-100) 0 0;
          & a {
            color: var(--color-black);
            display: block;
            width: 100%;
            text-decoration: none;
            margin: -var(--spacing-100);
            padding: var(--spacing-100);
            &:focus-visible {
              background: var(--color-gray-200);
              outline: none;
              border-radius: 8px;
            }
          }
          &:hover {
            background: transparent;
          }
        }
      }
    }
    & .suggestions-container {
      padding: 20px 28px 0;
      text-align: left;
      & ul {
        padding-left: 0;
        list-style: none;
        max-height: 164px;
        overflow: auto;
        margin: 0 0 var(--spacing-300) -8px;
      }
      & li {
        cursor: pointer;
        margin: 0 var(--spacing-100) 0 0;
        padding: var(--spacing-100);
        &:focus-visible {
          background: var(--color-gray-200);
          outline: none;
          border-radius: 8px;
        }
        &.keyboard-focused {
          background: var(--color-gray-200);
          outline: none;
          border-radius: 8px;
        }
        &:hover {
          background: transparent;
        }
      }
    }
    & .free-plans-container {
      & .free-plan-widget {
        width: 100%;
        border-radius: 0 0 12px 12px;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0;
        justify-content: center;
        & .plan-widget-tag {
          font-size: var(--body-font-size-s);
        }
      }
    }
  }
  & .search-input-wrapper {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0;
    height: max-content;
    transition: max-width 0.5s;
    & .search-bar {
      scroll-margin: 65px;
      box-sizing: border-box;
      margin: 0;
      font-family: var(--body-font-family);
      font-weight: 400;
      font-size: var(--body-font-size-m);
      padding: 10px var(--spacing-600);
      padding-left: var(--spacing-600);
      border: var(--color-gray-200) 2px solid;
      border-radius: 100px;
      max-width: 560px;
      width: 100%;
      height: 41px;
      transition: max-width 0.5s, padding-right 0.5s, padding-left 0.5s;
      &::placeholder {
        transition: color 0.5s;
      }
      &:focus-visible {
        border: var(--color-gray-700) 2px solid;
        outline: none;
      }
      &:focus {
        border: var(--color-gray-700) 2px solid;
        outline: none;
      }
    }
    & .icon {
      &.icon-search {
        position: absolute;
        z-index: 1;
        height: 16px;
        width: 16px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        transition: left 0.5s;
        left: var(--spacing-300);
        pointer-events: none;
      }
      &.icon-search-clear {
        position: absolute;
        z-index: 1;
        height: 16px;
        width: 16px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        right: var(--spacing-600);
      }
    }
  }
  & .search-bar-wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .hidden {
    display: none;
  }
}

@media (max-width: 899px) {
  .standalone-search-bar {
    & .search-title {
      font-size: var(--body-font-size-xxl);
    }
    & .search-subtitle {
      font-size: var(--body-font-size-m);
    }
  }
}

@media (min-width: 900px) {
  .standalone-search-bar {
    & .search-dropdown-container {
      & .free-plans-container {
        & .free-plan-widget {
          & .plan-widget-tag {
            font-size: var(--body-font-size-m);
          }
        }
      }
      & .suggestions-container {
        & ul {
          max-height: 216px;
        }
      }
    }
  }
}