.section {
  & > .color-how-to-carousel-wrapper {
    max-width: 1200px;
    margin: auto;
  }
  &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
    & > .color-how-to-carousel-wrapper {
      &:first-child {
        padding-top: 60px;
      }
    }
  }
}

.color-how-to-carousel {
  gap: var(--spacing-400);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > picture {
    & > img {
      margin-bottom: var(--spacing-900);
      width: calc(100% - var(--spacing-600));
    }
  }
  & > .content-wrapper {
    background-color: var(--color-gray-100);
    text-align: left;
    border-radius: var(--spacing-600);
    margin: 0 var(--spacing-400);
    padding: 56px var(--spacing-400);
    width: 100%;
    max-width: fit-content;
    & > a {
      &.button {
        &:any-link {
          text-align: left;
          margin: 0;
        }
      }
    }
    & p {
      &.button-container {
        margin: var(--spacing-300) 0;
      }
    }
    & > h2 {
      font-size: var(--heading-font-size-l);
      text-align: left;
      margin-top: 0;
    }
    & > div {
      max-width: 810px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  & .tips {
    & .tip {
      display: none;
      grid-row-start: 1;
      grid-column-start: 1;
      text-align: left;
      margin-top: var(--spacing-800);
      margin-bottom: 56px;
      &.active {
        display: block;
        animation: fadeIn ease 2s;
        -webkit-animation: fadeIn ease 2s;
        -moz-animation: fadeIn ease 2s;
      }
    }
  }
  & .tip-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin-top: var(--spacing-325);
  }
  & .tip-number {
    width: 34px;
    min-width: 34px;
    height: 34px;
    min-height: 34px;
    display: block;
    position: relative;
    background-color: var(--color-gray-200);
    border-radius: 50%;
    margin-right: var(--spacing-200);
    color: var(--color-black);
    font-size: var(--body-font-size-s);
    font-weight: 600;
    align-self: flex-start;
    cursor: pointer;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--color-white),
            0 0 0 4px var(--color-info-accent );
    }
    &.active {
      background-color: var(--color-black);
      color: var(--color-white);
    }
    & span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.dark {
    & .tip-number {
      background-color: var(--color-gray-400);
      &.active {
        background-color: var(--color-white);
        color: var(--color-black);
      }
    }
    & .content-wrapper {
      & a {
        &.button {
          &:any-link {
            padding: var(--spacing-200) var(--spacing-400);
            border-radius: var(--spacing-400);
            border: none;
            background-color: var(--color-white);
            color: var(--color-black);
          }
        }
      }
    }
  }
  & .tip-text {
    & p {
      font-size: var(--body-font-size-xl);
      margin-top: var(--spacing-300);
      margin-bottom: 0;
      word-break: initial;
    }
    & div {
      font-size: var(--body-font-size-xl);
      margin-top: var(--spacing-300);
      margin-bottom: 0;
      word-break: initial;
    }
    & h3 {
      margin-bottom: var(--spacing-300);
      font-size: var(--heading-font-size-m);
      text-align: left;
    }
  }
  & .icon {
    width: 56px;
    height: 56px;
  }
  & > .img-wrapper {
    position: relative;
    padding: var(--spacing-300);
    border-radius: var(--spacing-350);
    margin: 0 var(--spacing-400);
    height: calc((100vw - var(--spacing-900)) / 300 * 426);
    width: calc(100vw - var(--spacing-900));
    & .color-graph-text-overlay {
      position: absolute;
      text-align: left;
      padding-left: 4%;
      font-weight: var(--heading-font-weight);
      padding-top: 4%;
      & .color-name {
        font-size: calc(10vw - 10px);
        margin: unset;
        line-height: 1.3;
      }
      & .color-hex {
        font-size: calc(14vw - 12px);
        margin: unset;
        line-height: 1.3;
      }
    }
    & > svg {
      height: inherit;
      width: inherit;
    }
  }
  &.light {
    & .content-wrapper {
      & a {
        &.button {
          &:any-link {
            padding: var(--spacing-200) var(--spacing-400);
            border-radius: var(--spacing-400);
            border: none;
            background-color: var(--color-black);
            color: var(--color-white);
          }
        }
      }
    }
  }
  &.shadow {
    & .img-wrapper {
      box-shadow: 0 3px 6px #00000029;
    }
    & .content-wrapper {
      box-shadow: 0 3px 6px #00000029;
    }
  }
}

@media (min-width: 900px) {
  .color-how-to-carousel {
    gap: unset;
    justify-content: flex-end;
    flex-direction: row;
    align-items: start;
    & > picture {
      & > img {
        margin: 0;
        object-position: right;
        object-fit: cover;
        min-height: 100%;
        max-height: 100%;
        width: unset;
      }
    }
    & > .img-wrapper {
      padding: var(--spacing-400);
      height: 570px;
      width: 412px;
      margin-top: var(--spacing-400);
      & .color-graph-text-overlay {
        & .color-name {
          font-size: var(--heading-font-size-m);
        }
        & .color-hex {
          font-size: var(--heading-font-size-xxl);
        }
      }
    }
    &.top-align {
      & > .img-wrapper {
        margin-top: unset;
      }
    }
    & .tips {
      & .tip {
        margin: var(--spacing-800) 0;
      }
    }
    & > .content-wrapper {
      max-width: 600px;
      flex-basis: 60%;
      padding: var(--spacing-900) 70px;
      margin: 0 var(--spacing-400) 0 var(--spacing-900);
      & p {
        &.button-container {
          margin: var(--spacing-600) 0 0;
        }
      }
    }
    & .content-wrapper {
      & a {
        &.button {
          &:any-link {
            font-size: var(--body-font-size-m);
            padding: var(--spacing-250) var(--spacing-400);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .color-how-to-carousel {
    justify-content: center;
    &.no-cover {
      & > div {
        margin: 0 120px 0 20px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}