.section {
  &.ax-blog-posts-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding: var(--spacing-600) var(--spacing-400);
    position: relative;
    &:has(.blog-posts-v2.no-top-padding) {
      padding-top: 0;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      background-color: var(--color-gray-100);
      z-index: -1;
    }
    &:has(.blog-posts-v2.no-background) {
      &::before {
        content: none;
      }
    }
    &:not([data-padding='none']) {
      &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static,
  .xxxl-spacing, .xxl-spacing, .xl-spacing, .l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
        & > .content {
          &:first-child {
            padding: 0;
          }
        }
      }
    }
    & > .content {
      & a {
        font-weight: var(--body-font-weight);
      }
    }
  }
}

.blog {
  & main {
    & .section {
      &:has(.blog-posts-wrapper) {
        &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
  .l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
          & > div {
            &:first-child {
              padding: 0;
              margin-top: var(--spacing-800);
            }
          }
        }
        & > div {
          & > h2 {
            max-width: 280px;
          }
        }
      }
    }
  }
}

main {
  & .section {
    &:has(.blog-posts-wrapper) {
      & > div {
        margin: 0;
        &:not {
          &:first-child {
            padding: 0;
          }
        }
      }
      & div {
        & > h3 {
          &:first-child {
            margin-top: 0;
            text-align: left;
            width: 66%;
          }
        }
        &.blog-posts-decoration {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    &:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) {
      & > .blog-posts-wrapper {
        &:first-child {
          padding-top: var(--spacing-700);
        }
      }
    }
    & .blog-posts-wrapper {
      &:has(.blog-posts-v2.no-top-padding) {
        padding-top: 0;
      }
    }
    &:has(.blog-posts-v2) {
      & div {
        &.blog-posts-decoration {
          max-width: 280px;
          & p {
            margin: 0;
            font-family: var(--body-serif-font-family);
            & a {
              margin: 0;
              font-family: var(--body-font-family);
            }
          }
        }
      }
      & > .content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: var(--spacing-400);
        max-width: var(--block-wd-grid-max-width);
        & p {
          margin: 0;
          font-size: var(--body-font-size-s);
          font-weight: 400;
          line-height: 142.857%;
        }
        & a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: var(--spacing-75);
          & > span {
            line-height: 0;
          }
        }
        & > h2 {
          margin-top: var(--spacing-900);
        }
        & > h3 {
          font-size: var(--heading-font-size-m);
          margin-top: var(--spacing-800);
        }
      }
    }
  }
  & .blog-posts-v2 {
    text-align: center;
    & .blog-posts-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing-400);
      margin-bottom: var(--spacing-600);
      & h1 {
        font-size: var(--heading-font-size-m);
        margin: 0;
      }
      & h2 {
        font-size: var(--heading-font-size-m);
        margin: 0;
      }
      & h3 {
        font-size: var(--heading-font-size-m);
        margin: 0;
      }
      & h4 {
        font-size: var(--heading-font-size-m);
        margin: 0;
      }
      & h5 {
        font-size: var(--heading-font-size-m);
        margin: 0;
      }
      & h6 {
        font-size: var(--heading-font-size-m);
        margin: 0;
      }
      & p {
        margin: 0;
        white-space: nowrap;
      }
    }
    & .blog-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--spacing-300);
      align-items: stretch;
      padding-top: var(--spacing-600);
    }
    &.include-heading {
      & .blog-cards {
        padding-top: 0;
      }
    }
    & .blog-card {
      cursor: pointer;
      text-decoration: unset;
      color: unset;
      text-align: left;
      transition: box-shadow ease-out 250ms;
      display: flex;
      flex-direction: column;
      &:hover {
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.10);
      }
      &:active {
        box-shadow: none;
        transition: box-shadow ease-out 250ms;
      }
      & .blog-card-image {
        line-height: 0;
        margin: 0;
        position: relative;
        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: var(--spacing-300) var(--spacing-300) 0 0;
          aspect-ratio: 16 / 9;
        }
      }
      & h3 {
        &.blog-card-title {
          font-size: var(--heading-font-size-xs);
          font-weight: var(--subheading-font-weight);
          line-height: var(--heading-line-height);
          text-align: left;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          grid-area: title;
          margin: 0 0 var(--spacing-100) 0;
          color: var(--color-gray-900);
          height: 2.6em;
        }
      }
      & p {
        &.blog-card-teaser {
          font-size: var(--body-font-size-s);
          color: var(--color-gray-700-variant);
          font-weight: 400;
          line-height: var(--body-line-height);
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          grid-area: teaser;
          margin: 0 0 var(--spacing-100) 0;
          height: 4.5em;
        }
      }
    }
    & .blog-hero-card {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      max-width: 530px;
      margin: var(--spacing-900) auto;
      cursor: pointer;
      & > p {
        margin: 0;
      }
      & .blog-card-image {
        line-height: 0;
        grid-area: image;
        margin: 0;
        height: 276px;
        position: relative;
        & img {
          height: 100%;
          width: 100%;
          margin: auto;
          display: block;
          object-fit: cover;
        }
      }
      & h3 {
        &.blog-card-title {
          font-size: var(--heading-font-size-xl);
          line-height: var(--heading-line-height);
          text-align: left;
          grid-area: title;
          margin: 0 var(--spacing-400);
        }
      }
      & p {
        &.blog-card-teaser {
          font-family: var(--body-serif-font-family);
          font-size: var(--body-font-size-l);
          text-align: left;
          grid-area: teaser;
          font-weight: normal;
          margin: var(--spacing-400);
        }
        &.blog-card-date {
          margin: var(--spacing-500) 0 var(--spacing-500) var(--spacing-400);
        }
        &.blog-card-cta {
          grid-area: cta;
          text-align: left;
          margin-top: 14px;
          margin-bottom: 30px;
          margin-left: var(--spacing-400);
          & a {
            margin-left: 0;
          }
        }
      }
    }
    & p {
      &.blog-card-date {
        font-size: var(--body-font-size-s);
        color: var(--color-gray-700-variant);
        font-style: normal;
        font-weight: 400;
        line-height: var(--body-line-height);
        font-family: var(--body-serif-font-family);
        grid-area: date;
      }
    }
    & .card {
      display: flex;
      flex-direction: column;
      width: 290px;
      margin: 10px;
      text-align: left;
      cursor: pointer;
      & .card-image {
        line-height: 0;
        & img {
          height: 200px;
          object-fit: cover;
          width: 100%;
        }
      }
      & .card-body {
        padding: 20px;
        border: 1px solid var(--color-gray-300);
        border-radius: 0 0 5px 5px;
        border-top: none;
        height: 300px;
        & p {
          font-size: 1rem;
        }
      }
    }
  }
  & .blog-posts {
    & .blog-hero-card {
      cursor: pointer;
      text-decoration: unset;
      color: unset;
      text-align: left;
      transition: box-shadow ease-out 250ms;
      display: flex;
      flex-direction: column;
    }
    & .blog-card {
      & > p {
        margin: 0;
      }
    }
  }
}

.blog-card-body {
  padding: var(--spacing-400);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 var(--spacing-300) var(--spacing-300);
  border-right: 2px solid var(--color-gray-200);
  border-bottom: 2px solid var(--color-gray-200);
  border-left: 2px solid var(--color-gray-200);
  flex: 1;
  & > :last-child {
    margin-bottom: 0;
    margin-top: auto;
  }
}

.blog-posts-v2 {
  & .blog-card-image {
    & .image-wrapper {
      position: relative;
      display: block;
    }
    & .blog-tag {
      display: inline-flex;
      padding: var(--spacing-100) var(--spacing-200);
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: var(--spacing-100);
      flex-wrap: wrap;
      position: absolute;
      right: var(--spacing-300);
      top: var(--spacing-300);
      border-radius: 50px;
      background: rgba(36, 36, 36, 0.70);
      color: var(--color-white);
      text-align: center;
      font-family: var(--body-font-family);
      font-size: var(--body-font-size-xs);
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
    }
  }
  & .blog-hero-card {
    & .blog-card-image {
      & .image-wrapper {
        position: relative;
        display: block;
        height: 100%;
      }
      & .blog-tag {
        display: inline-flex;
        padding: var(--spacing-100) var(--spacing-200);
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: var(--spacing-100);
        flex-wrap: wrap;
        position: absolute;
        right: var(--spacing-300);
        top: var(--spacing-300);
        border-radius: 50px;
        background: rgba(36, 36, 36, 0.70);
        color: var(--color-white);
        text-align: center;
        font-family: var(--body-font-family);
        font-size: var(--body-font-size-xs);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
      }
    }
  }
  & .blog-posts-header {
    & a {
      text-align: center;
      font-size: var(--body-font-size-s);
      font-weight: var(--body-font-weight);
      line-height: var(--body-line-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing-75);
    }
  }
}

@media (min-width: 768px) {
  .section {
    &.ax-blog-posts-container {
      padding-right: var(--spacing-500);
      padding-left: var(--spacing-500);
      max-width: 1199px;
    }
  }

  main {
    & .blog-posts-v2 {
      & .blog-cards {
        width: var(--ax-grid-12-col-width);
        gap: var(--spacing-400);
        flex-direction: row;
        align-items: stretch;
      }
      & .blog-hero-card {
        flex-direction: unset;
        max-width: 1200px;
        align-items: center;
        margin: 56px auto;
        & .blog-card-image {
          min-width: 488px;
          max-width: 488px;
          height: 274px;
          width: 100%;
        }
        & p {
          &.blog-card-cta {
            margin-bottom: 0;
            & a {
              margin-bottom: 0;
            }
          }
        }
      }
      & .blog-card {
        width: 33%;
        border-radius: var(--spacing-300);
        display: flex;
        flex-direction: column;
        & .blog-card-image {
          line-height: 0;
          grid-area: image;
          margin: 0;
          flex-shrink: 0;
        }
      }
    }
    & .section {
      &:has(.blog-posts-v2) {
        & div {
          &.blog-posts-v2-decoration {
            max-width: 700px;
          }
        }
      }
    }
  }

  .blog {
    & main {
      & .section {
        &:has(.blog-posts-v2) {
          & > div {
            & > h2 {
              max-width: 700px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .section {
    &.ax-blog-posts-container {
      padding: var(--spacing-900) var(--spacing-600);
      max-width: var(--block-wd-grid-max-width);
      margin-right: auto;
      margin-left: auto;
      & .blog-posts-v2 {
        & .blog-card {
          & .blog-card-body {
            min-height: 135px;
          }
        }
      }
    }
  }

  main {
    & .blog-posts-v2 {
      max-width: 1087px;
      margin-right: auto;
      margin-left: auto;
      & .blog-hero-card {
        & .blog-card-image {
          min-width: 600px;
          max-width: 600px;
          height: 338px;
        }
      }
      & .blog-card {
        padding: 0;
        & h3 {
          &.blog-card-title {
            font-size: var(--heading-font-size-xs);
          }
        }
      }
      & .blog-cards {
        width: var(--ax-grid-12-col-width);
        gap: var(--spacing-400);
        flex-wrap: unset;
        align-items: flex-end;
      }
    }
    & .section {
      &:has(.blog-posts-v2) {
        & div {
          &.blog-posts-v2-decoration {
            max-width: 1088px;
          }
        }
      }
    }
  }

  .blog {
    & main {
      & .section {
        &:has(.blog-posts-v2) {
          & > div {
            & > h2 {
              max-width: 1088px;
            }
          }
        }
      }
    }
  }
}

:lang(ja) {
  & main {
    & .section {
      &:has(.blog-posts-v2) {
        & div {
          &.blog-posts-decoration {
            & p {
              font-family: var(--body-font-family);
            }
          }
        }
      }
    }
    & .blog-posts-v2 {
      & .blog-card {
        & p {
          &.blog-card-teaser {
            font-family: var(--body-font-family);
          }
        }
      }
      & p {
        &.blog-card-date {
          font-family: var(--body-font-family);
        }
      }
      & .blog-hero-card {
        & p {
          &.blog-card-teaser {
            font-family: var(--body-font-family);
          }
        }
      }
    }
    & .blog-posts-container {
      & div {
        &.blog-posts-decoration {
          & p {
            font-family: var(--body-font-family);
          }
        }
      }
    }
  }
}