@import url('../template-promo-carousel/template-promo-carousel.css');

.section {
  &.ax-template-promo {
    display: flex;
    box-sizing: border-box;
    & .content {
      text-align: justify;
      & h1 {
        color: var(--color-gray-800-variant);
        font-size: var(--heading-font-size-l);
        font-weight: var(--heading-font-weight-extra);
        text-align: left;
        line-height: 130%;
        margin-top: 0;
        padding-top: 0;
      }
      & h2 {
        color: var(--color-gray-800-variant);
        font-size: var(--heading-font-size-l);
        font-weight: var(--heading-font-weight-extra);
        text-align: left;
        line-height: 130%;
        margin-top: 0;
        padding-top: 0;
      }
      & p {
        color: var(--color-gray-700-variant);
        font-size: var(--body-font-size-m);
        font-style: normal;
        font-weight: var(--body-font-weight);
        line-height: 130%;
        & a {
          color: var(--color-background-accent-default);
          font-size: var(--body-font-size-m);
          font-style: normal;
          font-weight: var(--heading-font-weight-medium);
          line-height: 130%;
          &:hover {
            color: var(--color-background-accent-hover);
          }
          &:active {
            color: var(--color-background-accent-down);
          }
        }
      }
    }
  }
}

.ax-template-promo {
  &.one-up {
    gap: var(--spacing-300);
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: unset;
    & img {
      border-radius: var(--spacing-300);
    }
    & .image-wrapper {
      position: relative;
      display: block;
      & img {
        width: 100%;
        height: auto;
        display: block;
      }
      & .free-tag {
        color: var(--Neutral-50, #FFF);
        text-align: center;
        font-family: var(--body-font-family);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        display: flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 8px;
        flex-wrap: wrap;
        position: absolute;
        right: 16px;
        top: 16px;
        border-radius: 50px;
        background: rgba(36, 36, 36, 0.70);
      }
      & svg {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: var(--spacing-100);
        right: var(--spacing-100);
      }
      & .icon-premium {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: var(--spacing-100);
        right: var(--spacing-100);
      }
    }
    & .collapsible-row-accordion {
      margin: 0;
    }
    & .collapsible-rows {
      & .collapsible-row-header {
        color: var(--color-gray-900);
        font-family: var(--body-font-family);
        font-size: var(--heading-font-size-xs);
        font-style: normal;
        font-weight: var(--heading-font-weight);
        line-height: var(--heading-line-height);
      }
      & .collapsible-row-sub-header {
        color: var(--color-gray-700-variant);
        font-family: var(--body-font-family);
        font-size: var(--body-font-size-m);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
      }
    }
  }
  &.multiple-up {
    gap: var(--spacing-600);
    & .template-promo {
      padding: 20px;
      z-index: unset;
      padding-right: 0;
      & .image-container {
        max-height: 240px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: var(--spacing-300);
      }
    }
    & .collapsible-rows {
      padding: var(--spacing-600) 0;
    }
  }
  & .button-container {
    display: flex;
    align-items: center;
  }
  & > .button-container {
    display: flex;
    & a {
      &.button {
        &.accent {
          background-color: var(--color-background-accent-default);
          margin: 0;
          font-size: var(--body-font-size-m);
          padding: var(--spacing-100) var(--spacing-300);
          border-radius: 1000px;
        }
      }
    }
  }
  & .collapsible-rows {
    padding: 0;
  }
}

@media (min-width: 600px){
  .ax-template-promo {
    &.multiple-up {
      & .gallery {
        overflow: unset;
      }
    }
  }
}

@media (min-width: 768px){
  .ax-template-promo {
    &.one-up {
      padding: 20px 40px;
      width: var(--ax-grid-8-col-width);
      margin: 0 auto;
      box-sizing: border-box;
      & h3 {
        color: var(--color-gray-700-variant);
        font-family: var(--body-font-family);
        font-size: var(--heading-font-size-xs);
        font-style: normal;
        font-weight: var(--heading-font-weight);
        line-height: var(--heading-line-height);
      }
      & .collapsible-rows {
        width: unset;
        margin: unset;
      }
    }
    &.multiple-up {
      & .template-promo {
        &.template-promo-carousel {
          padding: 20px 40px;
          width: var(--ax-grid-8-col-width);
          margin: 0 auto;
          box-sizing: border-box;
        }
      }
    }
  }
}

@media (min-width: 1024px){
  .ax-template-promo {
    &.one-up {
      padding: 20px 40px;
      width: var(--ax-grid-7-col-width);
      margin-left: calc(var(--ax-grid-3-col-width) + var(--spacing-600) + var(--ax-grid-gutter));
      box-sizing: border-box;
      & h3 {
        color: var(--color-gray-700-variant);
        font-family: var(--body-font-family);
        font-size: var(--heading-font-size-s);
        font-style: normal;
        font-weight: var(--heading-font-weight);
        line-height: var(--heading-line-height);
      }
      & .collapsible-rows {
        width: unset;
        margin: unset;
      }
    }
    &.multiple-up {
      & .template-promo {
        &.template-promo-carousel {
          padding: 20px 40px;
          width: var(--ax-grid-7-col-width);
          margin-left: calc(var(--ax-grid-3-col-width) + var(--spacing-600) + var(--ax-grid-gutter));
          box-sizing: border-box;
        }
      }
    }
  }
}

@media (min-width: 1680px){
  .ax-template-promo {
    &.multiple-up {
      & .template-promo {
        &.template-promo-carousel {
          margin: auto;
        }
      }
    }
    &.one-up {
      margin: auto;
    }
  }
}