<body>
  <div>
    <div class="hero-color">
      <div>
        <div>
          <h1
            id="marqueeheading"
            data-daas-key="marquee.heading"
            data-daas-type="text"
            data-daas-required="true"
          >
            as
          </h1>
          <p
            data-daas-key="marquee.copy"
            data-daas-type="text"
            data-daas-required="true"
          >
            as
          </p>
          <p>
            <a
              href="https://www.adobe.com/colors/default#marquee-cta-link"
              data-daas-key="marquee.ctaText"
              data-daas-type="text"
              data-daas-required="true"
              >as</a
            >
          </p>
        </div>
      </div>
      <div>
        <div>
          <h3
            id="primary-colorsecondary-color"
            data-daas-key="secondary-color"
            data-daas-type="text"
            data-daas-required="true"
          >
            as,as
          </h3>
        </div>
      </div>
      <div>
        <div>color-marquee-desktop</div>
      </div>
    </div>
  </div>
  <div>
    <div class="color-how-to-carousel">
      <div>
        <div>
          <p>
            <picture>
              <source
                type="image/webp"
                srcset="
                  ./media_13697a4d901d4d59596c2a638469b37aef06c8846.png?width=2000&amp;format=webply&amp;optimize=medium
                "
                media="(min-width: 600px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./media_13697a4d901d4d59596c2a638469b37aef06c8846.png?width=750&amp;format=webply&amp;optimize=medium
                "
              />
              <source
                type="image/png"
                srcset="
                  ./media_13697a4d901d4d59596c2a638469b37aef06c8846.png?width=2000&amp;format=png&amp;optimize=medium
                "
                media="(min-width: 600px)"
              />
              <img
                loading="lazy"
                alt="Icon: color-how-to-icon"
                src="./media_13697a4d901d4d59596c2a638469b37aef06c8846.png?width=750&amp;format=png&amp;optimize=medium"
                width="44"
                height="44"
              />
            </picture>
          </p>
          <h2 id="carouselheading">[[carousel.heading]]</h2>
          <p>[[color-name]]</p>
          <p
            data-daas-key="secondary-color"
            data-daas-type="text"
            data-daas-required="true"
          >
            as,as
          </p>
          <p>color-how-to-graph</p>
          <p>
            <a
              href="https://www.adobe.com/express/colors/default#carousel-cta-link"
              data-daas-key="carousel.ctaText"
              data-daas-type="text"
              data-daas-required="true"
              >as</a
            >
          </p>
        </div>
      </div>
      <div>
        <div>[[@repeat(carousel-page)]]</div>
      </div>
      <div>
        <div>
          <h3 id="carousel-pageheading">[[carousel-page[].heading]]</h3>
        </div>
        <div>[[carousel-page[].content]]</div>
      </div>
      <div>
        <div>[[@repeatend(carousel-page)]]</div>
      </div>
    </div>
  </div>
  <div>
    <div class="columns color">
      <div>
        <div>
          <h2
            id="columnsheading"
            data-daas-key="columns.heading"
            data-daas-type="text"
            data-daas-required="true"
          >
            as
          </h2>
          <p
            data-daas-key="columns.body"
            data-daas-type="text"
            data-daas-required="true"
          >
            as
          </p>
        </div>
        <div>hands-and-heart</div>
      </div>
      <div>
        <div
          data-daas-key="secondary-color"
          data-daas-type="text"
          data-daas-required="true"
        >
          as,as
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="long-text plain">
      <div>
        <div
          data-daas-key="long-text-content"
          data-daas-type="richtext"
          data-daas-required="true"
          data-daas-max="1000"
        >
          &lt;p&gt;wa&lt;/p&gt;
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="template-schema">
      <div>
        <div>key</div>
        <div>label</div>
        <div>type</div>
        <div>required</div>
        <div>default</div>
        <div>options</div>
        <div>min</div>
        <div>max</div>
        <div>pattern</div>
      </div>
      <div>
        <div>marquee.heading</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>marquee.copy</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>marquee.ctaText</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>primary-color</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>secondary-color</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>carousel.ctaText</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>columns.heading</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>columns.body</div>
        <div></div>
        <div>text</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div>long-text-content</div>
        <div></div>
        <div>richtext</div>
        <div>true</div>
        <div></div>
        <div></div>
        <div></div>
        <div>1000</div>
        <div></div>
      </div>
    </div>
  </div>
</body>
