:root {
  --ax-panels-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}

.section {
  &[data-ax-panel] {
    &[role='tabpanel'] {
      box-sizing: border-box;
      margin: var(--spacing-350) var(--ax-grid-margin) var(--spacing-400) var(--ax-grid-margin);
      border: var(--border-width-2) solid var(--color-white);
      border-radius: var(--spacing-300);
      box-shadow: var(--ax-panels-box-shadow);
      padding: var(--spacing-400) var(--spacing-300) var(--spacing-300);
      background: var(--color-gray-100);
      &.hide {
        display: none;
      }
      & [data-block-status] {
        max-width: initial;
      }
    }
  }
}

.ax-panels {
  --white-background: var(--color-light-gray-2);
  position: relative;
  padding: var(--spacing-800) var(--ax-grid-margin) 0 var(--ax-grid-margin);
  & .ax-panels-heading-container {
    & h2 {
      padding-bottom: var(--spacing-300);
      font-size: var(--body-font-size-xl);
      font-weight: var(--subheading-font-weight);
      text-align: center;
    }
    & h3 {
      padding-bottom: var(--spacing-300);
      font-size: var(--body-font-size-xl);
      font-weight: var(--subheading-font-weight);
      text-align: center;
    }
  }
  & .tablist-container {
    margin: auto;
    border-radius: var(--spacing-100);
    box-shadow: var(--ax-panels-box-shadow);
    padding: var(--spacing-75) 0;
    width: max-content;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: var(--color-white);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  & [role='tablist'] {
    margin: 0;
    padding: 0 var(--spacing-75);
    width: max-content;
    display: flex;
    gap: var(--spacing-75);
  }
  & [role='tab'] {
    position: relative;
    border: 0;
    border-radius: var(--spacing-80);
    padding: var(--spacing-200) var(--spacing-250);
    display: flex;
    align-items: center;
    gap: var(--spacing-80);
    font-weight: var(--subheading-font-weight);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-s);
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.3;
    background-color: var(--color-white);
    color: var(--color-dark-gray);
    &:hover {
      background-color: var(--white-background);
    }
    &[aria-selected='true'] {
      background-color: var(--color-black);
      color: var(--color-white);
      & svg {
        & path {
          fill: var(--color-white);
        }
      }
      &:last-of-type {
        background: linear-gradient(225deg, #B94900 0%, #F37 50.4%, #8B8DFE 100%);
      }
    }
    &:nth-last-of-type(2) {
      margin-right: var(--spacing-75);
    }
    &:last-of-type {
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(-1 * var(--spacing-80));
        width: var(--spacing-50);
        content: "";
        background-color: var(--white-background);
      }
    }
  }
  & .icon {
    height: var(--body-font-size-xl);
    width: var(--body-font-size-xl);
  }
}

@media (min-width: 600px) {
  :root {
    --ax-panels-fold: -28px;
    --ax-panels-fold: -28px;
  }

  .ax-panels {
    z-index: 1;
    & .ax-panels-heading-container {
      & h2 {
        font-size: var(--heading-font-size-m);
      }
      & h3 {
        font-size: var(--heading-font-size-m);
      }
    }
    & [role='tab'] {
      font-size: var(--body-font-size-l );
    }
  }

  .section {
    &[data-ax-panel] {
      &[role='tabpanel'] {
        margin: var(--ax-panels-fold) var(--ax-grid-margin) var(--spacing-800) var(--ax-grid-margin);
        padding: var(--spacing-800) var(--spacing-500) var(--spacing-700);
      }
    }
  }
}

@media (min-width: 1200px) {
  .section {
    &[data-ax-panel] {
      &[role='tabpanel'] {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--ax-grid-10-col-width);
      }
    }
  }

  .ax-panels {
    & .ax-panels-heading-container {
      & h2 {
        padding-bottom: var(--spacing-500);
      }
      & h3 {
        padding-bottom: var(--spacing-500);
      }
    }
  }
}