main .section .embed {
    margin: auto;
    margin-top: var(--spacing-800);
    max-width: 100%;
    max-height: 600px;
    width: unset;
}

main .section .embed+* {
    margin-top: var(--spacing-800);
}

main .section .embed+p.legend {
    margin-top: var(--spacing-300);
}

main .section .embed img {
    max-width: 100%;
}

main .section .embed, body.blog main > .section > .embed {
    text-align: center;
    max-width: 800px;
}

main .section .embed.embed-instagram {
    max-width: fit-content;
}

main .section .embed.embed-twitter {
    max-height: unset;
}

main .section .embed lite-youtube {
    max-width: unset;
}

main .section .embed-soundcloud>iframe {
    height: 200px ! important;
}
