main {
  & .section {
    & .embed {
      margin: auto;
      margin-top: var(--spacing-800);
      max-width: 100%;
      max-height: 600px;
      width: unset;
      text-align: center;
      max-width: 800px;
      & + * {
        margin-top: var(--spacing-800);
      }
      & + p {
        &.legend {
          margin-top: var(--spacing-300);
        }
      }
      & img {
        max-width: 100%;
      }
      &.embed-instagram {
        max-width: fit-content;
      }
      &.embed-twitter {
        max-height: unset;
      }
      & lite-youtube {
        max-width: unset;
      }
    }
    & .embed-soundcloud {
      & > iframe {
        height: 200px !important;
      }
    }
  }
}

body {
  &.blog {
    & main {
      & > .section {
        & > .embed {
          text-align: center;
          max-width: 800px;
        }
      }
    }
  }
}