.section:has(> .faq) {
  background-color: var(--color-gray-200);
}

.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing):has(> .faq) > div:first-child, .section:has(> .faq):not([data-padding='none']) > .content:first-child  {
  padding-top: var(--spacing-900);
}

.section:has(> .faq) > .content, .section:has(> .faq) > .faq {
  margin: auto;
  padding-top: 0;
  padding-right: var(--spacing-400);
  padding-left: var(--spacing-400);
  max-width: var(--block-sm-max-width);
}

.section:has(> .faq) > .content > h2, .section:has(> .faq) > .content > h3, .section:has(> .faq) > .content > h4, .section:has(> .faq) > .content > h5, .section:has(> .faq) > .content > h6 {
  margin-top: 0;
  margin-bottom: var(--spacing-600);
}

.section:has(> .faq) h3 {
  margin: 0;
}

.faq {
  text-align: left;
  padding-bottom: var(--spacing-900);
}

.faq .faq-accordion {
  position: relative;
  height: auto;
  margin-top: var(--spacing-100);
  padding: var(--spacing-600);
  border-radius: var(--spacing-100);
  background-color: var(--color-white);
}

.faq .faq-question {
  display: block;
  padding: 0 0 var(--spacing-400) 0;
  text-decoration: none;
  text-align: left;
  font-size: var(--body-font-size-xl);
  line-height: var(--spacing-400);
  font-weight: var(--subheading-font-weight);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  overflow-anchor: none;
}

.faq .faq-answer {
  padding: 0;
  display: block;
  font-size: var(--body-font-size-m);
  line-height: var(--body-line-height);
}

.faq .faq-answer ul {
  margin: 0 0 var(--spacing-100) 0;
}

.faq .faq-answer ul li {
  list-style: disc;
}

.faq .faq-answer p {
  font-size: var(--body-font-size-m);
  line-height: var(--spacing-400);
  font-weight: 400;
  margin-top: 0;
}

.faq.narrow {
  max-width: 850px;
}

@media (min-width: 900px) {
  .section:has(> .faq) > .content, .section:has(> .faq) > .faq  {
    padding-top: 0;
    padding-right: 56px;
    padding-left: 56px;
    max-width: 830px;
  }

  .section:has(> .faq) > .content > h2, .section:has(> .faq) > .content > h3, .section:has(> .faq) > .content > h4, .section:has(> .faq) > .content > h5, .section:has(> .faq) > .content > h6 {
    margin-bottom: var(--spacing-900);
  }

  .faq .faq-question {
    font-size: var(--body-font-size-xxl);
    line-height: 36px;
  }
}

@media (min-width: 1200px) {
  .section:has(> .faq) > .content, .section:has(> .faq) > .faq {
    max-width: 1024px;
  }
}
