@import '../../scripts/widgets/frictionless-locale-dropdown.css';

:root {
  --frictionless-quick-action-video-width: 444px;
  --frictionless-quick-action-video-height: 455px;
}

.frictionless-quick-action {
  padding: 40px 20px;
  max-width: none;
  text-align: center;
  & video {
    max-width: var(--frictionless-quick-action-video-width);
    &:focus-visible {
      outline: none;
    }
  }
  & img {
    &:not(.icon) {
      max-width: var(--frictionless-quick-action-video-width);
    }
  }
  & .express-logo {
    width: initial;
    height: 30px;
  }
  & h1 {
    & + p {
      margin: 16px 0 24px;
      font-size: 1rem;
    }
    & em {
      -webkit-background-clip: text;
      background-clip: text;
      font-style: normal;
    }
  }
  & input {
    display: none;
  }
  & .quick-action-container {
    padding: 40px 0;
    min-height: 697px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    transition: opacity 0.2s;
    height: 667px;
    & > * {
      height: 100%;
    }
    &#resize-image-container {
      height: 1080px;
    }
    &#convert-to-gif-container {
      height: 770px;
    }
    &#trim-video-container {
      height: 710px;
    }
    &#resize-video-container {
      height: 940px;
    }
    &#caption-video-container {
      height: 1231px;
    }
  }
  & .fqa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    flex-wrap: wrap;
    gap: var(--ax-grid-gutter);
    & .button-container {
      &.hero-animation-overlay {
        position: relative;
        right: 5px;
        width: var(--frictionless-quick-action-video-width);
        min-height: var(--frictionless-quick-action-video-height);
      }
    }
    & > div {
      &:nth-child(2) {
        margin-top: 26px;
        width: 100%;
        max-width: 638px;
        & > p {
          &:last-of-type {
            margin: 15px 0 0;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  & .dropzone-container {
    cursor: pointer;
    padding: 24px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-height: 284px;
    display: flex;
    flex-direction: column;
    &.highlight {
      background-color: rgb(211, 211, 211, 0.2);
      & .dropzone-bg {
        filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(6%) contrast(104%);
        transition: 0.3s ease-in-out;
      }
    }
    &:hover {
      background-color: rgb(211, 211, 211, 0.2);
    }
  }
  & .dropzone {
    flex-grow: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 48px) 100%;
    & > * {
      padding-left: 36px;
      padding-right: 36px;
      padding-left: 36px;
      padding-right: 36px;
    }
    & > p {
      &:last-of-type {
        padding-bottom: 5px;
      }
      &:first-of-type {
        margin: 0;
        padding: 39px 24px 0 24px;
        font-size: var(--heading-font-size-m);
        font-weight: var(--heading-font-weight);
        line-height: var(--heading-line-height);
        & em {
          font-style: normal;
          color: var(--color-info-accent);
        }
      }
    }
    & p {
      &:last-of-type {
        font-size: .6875rem;
        margin: 0;
      }
    }
    & .button {
      margin-bottom: 0;
    }
  }
  & .free-plan-widget {
    background-color: unset;
    flex-direction: row;
    padding: unset;
    margin: 16px auto 8px auto;
    gap: 8px;
    flex-wrap: wrap;
    & > div {
      margin: 10px;
    }
  }
  & > div {
    &.hidden {
      visibility: hidden;
      position: absolute;
    }
    &.transparent {
      opacity: 0;
    }
  }
  & .error-toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1s;
    z-index: 10;
    margin: 0 auto;
    color: white;
    background-color: #d31510;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--body-font-size-s);
    width: fit-content;
    border-radius: 50px;
    &.hide {
      opacity: 0;
    }
    & button {
      background-color: unset;
      border: unset;
      padding: unset;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

.section {
  & .frictionless-quick-action {
    & h1 {
      font-size: 2.8125rem;
      margin: 0;
    }
  }
}

main {
  & .section {
    & .frictionless-quick-action {
      & .free-plan-widget {
        & img {
          &.icon {
            &.icon-checkmark {
              background-color: #f06dad;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px){
  .frictionless-quick-action {
    & .dropzone {
      background-image: url('/express/code/icons/dash-rectangle.svg');
    }
    & video {
      width: 95%;
    }
  }
}

@media (min-width: 1200){
  .frictionless-quick-action {
    & .quick-action-container {
      &#resize-image-container {
        height: 1000px;
      }
    }
  }
}

.frictionless-quick-action {
  & .fqa-container {
    & > div {
      &:nth-child(2) {
        & > p {
          &:last-of-type {
            max-width: 90vw;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  &[data-frictionlesstype="caption-video"] {
    & .caption-video-dropzone-action-column {
      max-width: 400px;
      & > p {
        &:last-of-type {
          margin: 0;
          text-align: left;
          font-size: 0.75rem;
          margin-block-start: var(--spacing-300);
        }
      }
    }
    & .dropzone-container {
      min-height: 200px;
    }
    & .dropzone {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & .locale-dropdown-wrapper {
      & p {
        &:first-of-type {
          margin: 0;
        }
      }
    }
    & .caption-video-dropzone-hint {
      font-size: var(--body-font-size-xl);
      color: var(--dropdown-text);
      margin-block-start: 0;
      margin-block-end: var(--spacing-200);
      font-weight: 900;
      text-align: left;
    }
    & .fqa-container {
      & > div {
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          width: auto;
          gap: var(--spacing-300);
        }
      }
    }
  }
}

.dropzone {
  & p {
    &.hidden {
      &:first-child {
        display: none;
      }
    }
  }
}

.step {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-300);
}

.step-number {
  width: 20px;
  height: 20px;
  border-radius: 32px;
  background: var(--color-info-accent);
  color: var(--color-white);
  padding: 4px;
}
