.image-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  & img {
    width: 300px;
    margin: 12.5px;
  }
  & .mobile-only {
    display: block;
  }
  & .desktop-only {
    display: none;
  }
}
@media (min-width: 900px) {
  .image-list {
    margin: 45px;
    & .mobile-only {
      display: none;
    }
    & .desktop-only {
      display: block;
    }
    &.xl {
      & img {
        width: 810px;
      }
    }
    &.l {
      & img {
        margin: 15px;
        width: 375px;
      }
    }
    & img {
      margin: 15px;
      width: 240px;
    }
    &.s {
      & img {
        margin: 11px;
        width: 180px;
      }
    }
    &.xs {
      & img {
        margin: 11px;
        width: 140px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .image-list {
    margin: 60px auto;
    &.xl {
      & img {
        margin: 0;
        width: 1080px;
      }
    }
    &.l {
      & img {
        margin: 20px;
        width: 500px;
      }
    }
    & img {
      margin: 15px;
      width: 330px;
    }
    &.s {
      & img {
        margin: 15px;
        width: 240px;
      }
    }
    &.xs {
      & img {
        margin: 14px;
        width: 188px;
      }
    }
  }
}